Release2.21/ECA.CST/customeca-j2ee/src/main/resources/conf/dtd/ejb-jar_2_0.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- WhatString @(#)pf $Id: ejb-jar_2_0.xsd 70 2009-11-21 11:14:37Z mgrannen $  -->
<!-- (c) 2009 Convergys Information Management Group Inc. All Rights Reserved. Private and Confidential. May not be disclosed without permission. -->

<!--W3C Schema generated by XMLSpy v2005 sp2 U (http://www.altova.com)-->
<!--Please add namespace attributes, a targetNamespace attribute and import elements according to your requirements-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"           xmlns:jxb="http://java.sun.com/xml/ns/jaxb" jxb:version="1.0" >

	<xs:element name="ejb-jar">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="description" minOccurs="0"/>
				<xs:element ref="display-name" minOccurs="0"/>
				<xs:element ref="small-icon" minOccurs="0"/>
				<xs:element ref="large-icon" minOccurs="0"/>
				<xs:element ref="enterprise-beans"/>
				<xs:element ref="relationships" minOccurs="0"/>
				<xs:element ref="assembly-descriptor" minOccurs="0"/>
				<xs:element ref="ejb-client-jar" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="abstract-schema-name">
		<xs:complexType mixed="true">
			<!-- <xs:choice minOccurs="0" maxOccurs="unbounded"/> -->
			<xs:attribute name="id" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="acknowledge-mode">
		<xs:complexType mixed="true">
			<!-- <xs:choice minOccurs="0" maxOccurs="unbounded"/> -->
			<xs:attribute name="id" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="assembly-descriptor">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="security-role" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="method-permission" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="container-transaction" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="exclude-list" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="cascade-delete">
		<xs:complexType>
			<xs:complexContent>
				<xs:restriction base="xs:anyType">
					<xs:attribute name="id" type="xs:string"/>
				</xs:restriction>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="cmp-field">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="description" minOccurs="0"/>
				<xs:element ref="field-name"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="cmp-version">
		<xs:complexType mixed="true">
			<!-- <xs:choice minOccurs="0" maxOccurs="unbounded"/> -->
			<xs:attribute name="id" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="cmr-field">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="description" minOccurs="0"/>
				<xs:element ref="cmr-field-name"/>
				<xs:element ref="cmr-field-type" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="cmr-field-name">
		<xs:complexType mixed="true">
			<!-- <xs:choice minOccurs="0" maxOccurs="unbounded"/> -->
			<xs:attribute name="id" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="cmr-field-type">
		<xs:complexType mixed="true">
			<!-- <xs:choice minOccurs="0" maxOccurs="unbounded"/> -->
			<xs:attribute name="id" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="container-transaction">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="description" minOccurs="0"/>
				<xs:element ref="method" maxOccurs="unbounded"/>
				<xs:element ref="trans-attribute"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="description">
		<xs:complexType mixed="true">
			<!-- <xs:choice minOccurs="0" maxOccurs="unbounded"/> -->
			<xs:attribute name="id" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="destination-type">
		<xs:complexType mixed="true">
			<!-- <xs:choice minOccurs="0" maxOccurs="unbounded"/> -->
			<xs:attribute name="id" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="display-name">
		<xs:complexType mixed="true">
			<!-- <xs:choice minOccurs="0" maxOccurs="unbounded"/> --> 
			<xs:attribute name="id" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ejb-class">
		<xs:complexType mixed="true">
			<!-- <xs:choice minOccurs="0" maxOccurs="unbounded"/> -->
			<xs:attribute name="id" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ejb-client-jar">
		<xs:complexType mixed="true">
			<!-- <xs:choice minOccurs="0" maxOccurs="unbounded"/> -->
			<xs:attribute name="id" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ejb-link">
		<xs:complexType mixed="true">
			<!-- <xs:choice minOccurs="0" maxOccurs="unbounded"/> -->
			<xs:attribute name="id" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ejb-local-ref">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="description" minOccurs="0"/>
				<xs:element ref="ejb-ref-name"/>
				<xs:element ref="ejb-ref-type"/>
				<xs:element ref="local-home"/>
				<xs:element ref="local"/>
				<xs:element ref="ejb-link" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ejb-name">
		<xs:complexType mixed="true">
			<!-- <xs:choice minOccurs="0" maxOccurs="unbounded"/> -->
			<xs:attribute name="id" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ejb-ql">
		<xs:complexType mixed="true">
			<!-- <xs:choice minOccurs="0" maxOccurs="unbounded"/> -->
			<xs:attribute name="id" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ejb-ref">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="description" minOccurs="0"/>
				<xs:element ref="ejb-ref-name"/>
				<xs:element ref="ejb-ref-type"/>
				<xs:element ref="home"/>
				<xs:element ref="remote"/>
				<xs:element ref="ejb-link" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ejb-ref-name">
		<xs:complexType mixed="true">
			<!-- <xs:choice minOccurs="0" maxOccurs="unbounded"/> -->
			<xs:attribute name="id" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ejb-ref-type">
		<xs:complexType mixed="true">
			<!-- <xs:choice minOccurs="0" maxOccurs="unbounded"/> -->
			<xs:attribute name="id" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ejb-relation">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="description" minOccurs="0"/>
				<xs:element ref="ejb-relation-name" minOccurs="0"/>
				<xs:element ref="ejb-relationship-role" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ejb-relation-name">
		<xs:complexType mixed="true">
			<!-- <xs:choice minOccurs="0" maxOccurs="unbounded"/> -->
			<xs:attribute name="id" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ejb-relationship-role">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="description" minOccurs="0"/>
				<xs:element ref="ejb-relationship-role-name" minOccurs="0"/>
				<xs:element ref="multiplicity"/>
				<xs:element ref="cascade-delete" minOccurs="0"/>
				<xs:element ref="relationship-role-source"/>
				<xs:element ref="cmr-field" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ejb-relationship-role-name">
		<xs:complexType mixed="true">
			<!-- <xs:choice minOccurs="0" maxOccurs="unbounded"/> -->
			<xs:attribute name="id" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="enterprise-beans">
		<xs:complexType>
			<xs:choice maxOccurs="unbounded">
				<xs:element ref="session"/>
				<xs:element ref="entity"/>
				<xs:element ref="message-driven"/>
			</xs:choice>
			<xs:attribute name="id" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="entity">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="description" minOccurs="0"/>
				<xs:element ref="display-name" minOccurs="0"/>
				<xs:element ref="small-icon" minOccurs="0"/>
				<xs:element ref="large-icon" minOccurs="0"/>
				<xs:element ref="ejb-name"/>
				<xs:element ref="home" minOccurs="0"/>
				<xs:element ref="remote" minOccurs="0"/>
				<xs:element ref="local-home" minOccurs="0"/>
				<xs:element ref="local" minOccurs="0"/>
				<xs:element ref="ejb-class"/>
				<xs:element ref="persistence-type"/>
				<xs:element ref="prim-key-class"/>
				<xs:element ref="reentrant"/>
				<xs:element ref="cmp-version" minOccurs="0"/>
				<xs:element ref="abstract-schema-name" minOccurs="0"/>
				<xs:element ref="cmp-field" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="primkey-field" minOccurs="0"/>
				<xs:element ref="env-entry" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ejb-ref" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ejb-local-ref" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="security-role-ref" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="security-identity" minOccurs="0"/>
				<xs:element ref="resource-ref" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="resource-env-ref" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="query" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="env-entry">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="description" minOccurs="0"/>
				<xs:element ref="env-entry-name"/>
				<xs:element ref="env-entry-type"/>
				<xs:element ref="env-entry-value" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="env-entry-name">
		<xs:complexType mixed="true">
			<!-- <xs:choice minOccurs="0" maxOccurs="unbounded"/> -->
			<xs:attribute name="id" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="env-entry-type">
		<xs:complexType mixed="true">
			<!-- <xs:choice minOccurs="0" maxOccurs="unbounded"/> -->
			<xs:attribute name="id" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="env-entry-value">
		<xs:complexType mixed="true">
			<!-- <xs:choice minOccurs="0" maxOccurs="unbounded"/> -->
			<xs:attribute name="id" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="exclude-list">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="description" minOccurs="0"/>
				<xs:element ref="method" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="field-name">
		<xs:complexType mixed="true">
			<!-- <xs:choice minOccurs="0" maxOccurs="unbounded"/> -->
			<xs:attribute name="id" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="home">
		<xs:complexType mixed="true">
			<!-- <xs:choice minOccurs="0" maxOccurs="unbounded"/> -->
			<xs:attribute name="id" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="large-icon">
		<xs:complexType mixed="true">
			<!-- <xs:choice minOccurs="0" maxOccurs="unbounded"/> --> 
			<xs:attribute name="id" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="local">
		<xs:complexType mixed="true">
			<!-- <xs:choice minOccurs="0" maxOccurs="unbounded"/> -->
			<xs:attribute name="id" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="local-home">
		<xs:complexType mixed="true">
			<!-- <xs:choice minOccurs="0" maxOccurs="unbounded"/> -->
			<xs:attribute name="id" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="message-driven">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="description" minOccurs="0"/>
				<xs:element ref="display-name" minOccurs="0"/>
				<xs:element ref="small-icon" minOccurs="0"/>
				<xs:element ref="large-icon" minOccurs="0"/>
				<xs:element ref="ejb-name"/>
				<xs:element ref="ejb-class"/>
				<xs:element ref="transaction-type"/>
				<xs:element ref="message-selector" minOccurs="0"/>
				<xs:element ref="acknowledge-mode" minOccurs="0"/>
				<xs:element ref="message-driven-destination" minOccurs="0"/>
				<xs:element ref="env-entry" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ejb-ref" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ejb-local-ref" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="security-identity" minOccurs="0"/>
				<xs:element ref="resource-ref" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="resource-env-ref" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="message-driven-destination">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="destination-type"/>
				<xs:element ref="subscription-durability" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="message-selector">
		<xs:complexType mixed="true">
			<!-- <xs:choice minOccurs="0" maxOccurs="unbounded"/> -->
			<xs:attribute name="id" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="method">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="description" minOccurs="0"/>
				<xs:element ref="ejb-name"/>
				<xs:element ref="method-intf" minOccurs="0"/>
				<xs:element ref="method-name"/>
				<xs:element ref="method-params" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="method-intf">
		<xs:complexType mixed="true">
			<!-- <xs:choice minOccurs="0" maxOccurs="unbounded"/> -->
			<xs:attribute name="id" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="method-name">
		<xs:complexType mixed="true">
			<!-- <xs:choice minOccurs="0" maxOccurs="unbounded"/> -->
			<xs:attribute name="id" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="method-param">
		<xs:complexType mixed="true">
			<!-- <xs:choice minOccurs="0" maxOccurs="unbounded"/> -->
			<xs:attribute name="id" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="method-params">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="method-param" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="method-permission">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="description" minOccurs="0"/>
				<xs:choice>
					<xs:element ref="role-name" maxOccurs="unbounded"/>
					<xs:element ref="unchecked"/>
				</xs:choice>
			    
				<xs:element ref="method" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="multiplicity">
		<xs:complexType mixed="true">
			<!-- <xs:choice minOccurs="0" maxOccurs="unbounded"/> -->
			<xs:attribute name="id" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="persistence-type">
		<xs:complexType mixed="true">
			<!-- <xs:choice minOccurs="0" maxOccurs="unbounded"/> -->
			<xs:attribute name="id" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="prim-key-class">
		<xs:complexType mixed="true">
			<!-- <xs:choice minOccurs="0" maxOccurs="unbounded"/> -->
			<xs:attribute name="id" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="primkey-field">
		<xs:complexType mixed="true">
			<!-- <xs:choice minOccurs="0" maxOccurs="unbounded"/> -->
			<xs:attribute name="id" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="query">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="description" minOccurs="0"/>
				<xs:element ref="query-method"/>
				<xs:element ref="result-type-mapping" minOccurs="0"/>
				<xs:element ref="ejb-ql"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="query-method">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="method-name"/>
				<xs:element ref="method-params"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="reentrant">
		<xs:complexType mixed="true">
			<!-- <xs:choice minOccurs="0" maxOccurs="unbounded"/> -->
			<xs:attribute name="id" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="relationship-role-source">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="description" minOccurs="0"/>
				<xs:element ref="ejb-name"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="relationships">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="description" minOccurs="0"/>
				<xs:element ref="ejb-relation" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="remote">
		<xs:complexType mixed="true">
			<!-- <xs:choice minOccurs="0" maxOccurs="unbounded"/> -->
			<xs:attribute name="id" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="res-auth">
		<xs:complexType mixed="true">
			<!-- <xs:choice minOccurs="0" maxOccurs="unbounded"/> -->
			<xs:attribute name="id" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="res-ref-name">
		<xs:complexType mixed="true">
			<!-- <xs:choice minOccurs="0" maxOccurs="unbounded"/> -->
			<xs:attribute name="id" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="res-sharing-scope">
		<xs:complexType mixed="true">
			<!-- <xs:choice minOccurs="0" maxOccurs="unbounded"/> -->
			<xs:attribute name="id" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="res-type">
		<xs:complexType mixed="true">
			<!-- <xs:choice minOccurs="0" maxOccurs="unbounded"/> -->
			<xs:attribute name="id" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="resource-env-ref">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="description" minOccurs="0"/>
				<xs:element ref="resource-env-ref-name"/>
				<xs:element ref="resource-env-ref-type"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="resource-env-ref-name">
		<xs:complexType mixed="true">
			<!-- <xs:choice minOccurs="0" maxOccurs="unbounded"/> -->
			<xs:attribute name="id" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="resource-env-ref-type">
		<xs:complexType mixed="true">
			<!-- <xs:choice minOccurs="0" maxOccurs="unbounded"/> -->
			<xs:attribute name="id" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="resource-ref">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="description" minOccurs="0"/>
				<xs:element ref="res-ref-name"/>
				<xs:element ref="res-type"/>
				<xs:element ref="res-auth"/>
				<xs:element ref="res-sharing-scope" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="result-type-mapping">
		<xs:complexType mixed="true">
			<!-- <xs:choice minOccurs="0" maxOccurs="unbounded"/> -->
			<xs:attribute name="id" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="role-link">
		<xs:complexType mixed="true">
			<!-- <xs:choice minOccurs="0" maxOccurs="unbounded"/> -->
			<xs:attribute name="id" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="role-name">
		<xs:complexType mixed="true">
			<!-- <xs:choice minOccurs="0" maxOccurs="unbounded"/> -->
			<xs:attribute name="id" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="run-as">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="description" minOccurs="0"/>
				<xs:element ref="role-name"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="security-identity">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="description" minOccurs="0"/>
				<xs:choice>
					<xs:element ref="use-caller-identity"/>
					<xs:element ref="run-as"/>
				</xs:choice>
			</xs:sequence>
			<xs:attribute name="id" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="security-role">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="description" minOccurs="0"/>
				<xs:element ref="role-name"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="security-role-ref">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="description" minOccurs="0"/>
				<xs:element ref="role-name"/>
				<xs:element ref="role-link" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="session">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="description" minOccurs="0"/>
				<xs:element ref="display-name" minOccurs="0"/>
				<xs:element ref="small-icon" minOccurs="0"/>
				<xs:element ref="large-icon" minOccurs="0"/>
				<xs:element ref="ejb-name"/>
				<xs:element ref="home" minOccurs="0"/>
				<xs:element ref="remote" minOccurs="0"/>
				<xs:element ref="local-home" minOccurs="0"/>
				<xs:element ref="local" minOccurs="0"/>
				<xs:element ref="ejb-class"/>
				<xs:element ref="session-type"/>
				<xs:element ref="transaction-type"/>
				<xs:element ref="env-entry" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ejb-ref" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ejb-local-ref" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="security-role-ref" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="security-identity" minOccurs="0"/>
				<xs:element ref="resource-ref" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="resource-env-ref" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="session-type">
		<xs:complexType mixed="true">
			<!-- <xs:choice minOccurs="0" maxOccurs="unbounded"/> -->
			<xs:attribute name="id" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="small-icon">
		<xs:complexType mixed="true">
			<!-- <xs:choice minOccurs="0" maxOccurs="unbounded"/> -->
			<xs:attribute name="id" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="subscription-durability">
		<xs:complexType mixed="true">
			<!-- <xs:choice minOccurs="0" maxOccurs="unbounded"/> -->
			<xs:attribute name="id" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="trans-attribute">
		<xs:complexType mixed="true">
			<!-- <xs:choice minOccurs="0" maxOccurs="unbounded"/> -->
			<xs:attribute name="id" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="transaction-type">
		<xs:complexType mixed="true">
			<!-- <xs:choice minOccurs="0" maxOccurs="unbounded"/> -->
			<xs:attribute name="id" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="unchecked">
		<xs:complexType>
			<xs:complexContent>
				<xs:restriction base="xs:anyType">
					<xs:attribute name="id" type="xs:string"/>
				</xs:restriction>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="use-caller-identity">
		<xs:complexType>
			<xs:complexContent>
				<xs:restriction base="xs:anyType">
					<xs:attribute name="id" type="xs:string"/>
				</xs:restriction>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
</xs:schema>
