Release2.21/ECA.CST/customeca-j2ee/schema/ECA/ECA_ProductPackage.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- XML Schema for type definitions of component ECA -->
<!-- service ProductPackage. -->

<xsd:schema
  targetNamespace="urn:Convergys-Interface-ECA-ProductPackage"
  xmlns="urn:Convergys-Interface-ECA-ProductPackage"
  xmlns:ecaProductPackage="urn:Convergys-Interface-ECA-ProductPackage"
  elementFormDefault="qualified"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:base="urn:Convergys-Interface-Base"
  xmlns:commonIML="urn:Convergys-Interface-CommonIML"
  xmlns:eca="urn:Convergys-Interface-ECA"
  xmlns:ecaAccount="urn:Convergys-Interface-ECA-Account"
  xmlns:ecaBillingTariff="urn:Convergys-Interface-ECA-BillingTariff"
  xmlns:ecaEvent="urn:Convergys-Interface-ECA-Event"
  xmlns:ecaProduct="urn:Convergys-Interface-ECA-Product"
  xmlns:ecaRatingTariff="urn:Convergys-Interface-ECA-RatingTariff"
>
  <!-- Imports -->
  <xsd:import
    namespace="urn:Convergys-Interface-Base"
    schemaLocation="../../schema/Base/Base.xsd"
  />

  <xsd:import
    namespace="urn:Convergys-Interface-CommonIML"
    schemaLocation="../../schema/CommonIML/CommonIML.xsd"
  />

  <xsd:import
    namespace="urn:Convergys-Interface-ECA"
    schemaLocation="../../schema/ECA/ECA.xsd"
  />

  <xsd:import
    namespace="urn:Convergys-Interface-ECA-Account"
    schemaLocation="../../schema/ECA/ECA_Account.xsd"
  />

  <xsd:import
    namespace="urn:Convergys-Interface-ECA-BillingTariff"
    schemaLocation="../../schema/ECA/ECA_BillingTariff.xsd"
  />

  <xsd:import
    namespace="urn:Convergys-Interface-ECA-Event"
    schemaLocation="../../schema/ECA/ECA_Event.xsd"
  />

  <xsd:import
    namespace="urn:Convergys-Interface-ECA-Product"
    schemaLocation="../../schema/ECA/ECA_Product.xsd"
  />

  <xsd:import
    namespace="urn:Convergys-Interface-ECA-RatingTariff"
    schemaLocation="../../schema/ECA/ECA_RatingTariff.xsd"
  />


  <!-- Enumeration Types -->

  <!-- Structure and Exception Types -->
  <xsd:complexType name="AvailablePackagesForAccountResult_5_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element
            name="dataSet"
            type="ecaProductPackage:ProductPackageData_5_1"
            minOccurs="0"
            maxOccurs="unbounded"
          />
          <xsd:element name="truncated" type="xsd:boolean"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="PackageProductRateTariffData_5_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="productPackagePK" type="ecaProductPackage:ProductPackagePK"/>
          <xsd:element name="productIndexInPackage" type="xsd:int"/>
          <xsd:element name="billingCataloguePK" type="ecaBillingTariff:BillingCataloguePK"/>
          <xsd:element name="eventTypeId" type="xsd:int"/>
          <xsd:element name="ratingTariffPK" type="ecaRatingTariff:RatingTariffPK" minOccurs="0" nillable="true"/>
          <xsd:element name="salesStartDat" type="xsd:dateTime" minOccurs="0" nillable="true"/>
          <xsd:element name="salesEndDat" type="xsd:dateTime" minOccurs="0" nillable="true"/>
          <xsd:element name="productPackageData" type="ecaProductPackage:ProductPackageData_5_1" minOccurs="0" nillable="true"/>
          <xsd:element name="billingCatalogueData" type="ecaBillingTariff:BillingCatalogueData_5_1" minOccurs="0" nillable="true"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="PackagedProductBillingTariffData_5_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="productPackagePK" type="ecaProductPackage:ProductPackagePK"/>
          <xsd:element name="productIndexInPackage" type="xsd:int"/>
          <xsd:element name="billingCataloguePK" type="ecaBillingTariff:BillingCataloguePK"/>
          <xsd:element name="productPK" type="ecaProduct:ProductPK"/>
          <xsd:element name="basicBillingTariffPK" type="ecaBillingTariff:BillingTariffPK"/>
          <xsd:element name="packagedBillingTariffPK" type="ecaBillingTariff:BillingTariffPK" minOccurs="0" nillable="true"/>
          <xsd:element name="parentProductInstance" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="optionalBoo" type="xsd:boolean"/>
          <xsd:element name="initRevCodeId" type="xsd:int"/>
          <xsd:element name="recurRevCodeId" type="xsd:int"/>
          <xsd:element name="termRevCodeId" type="xsd:int"/>
          <xsd:element name="initDiscRevCodeId" type="xsd:int"/>
          <xsd:element name="recurDiscRevCodeId" type="xsd:int"/>
          <xsd:element name="termDiscRevCodeId" type="xsd:int"/>
          <xsd:element name="suspRevCodeId" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="suspRecurRevCodeId" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="reactRevCodeId" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="suspDiscRevCodeId" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="suspRecurDiscRevCodeId" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="reactDiscRevCodeId" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="productName" type="xsd:string"/>
          <xsd:element name="parametricBoo" type="xsd:boolean"/>
          <xsd:element name="salesStartDat" type="xsd:dateTime" minOccurs="0" nillable="true"/>
          <xsd:element name="salesEndDat" type="xsd:dateTime" minOccurs="0" nillable="true"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ProductPackageData_5_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="billingCataloguePK" type="ecaBillingTariff:BillingCataloguePK"/>
          <xsd:element name="packageName" type="xsd:string"/>
          <xsd:element name="packageDesc" type="xsd:string" minOccurs="0" nillable="true"/>
          <xsd:element name="salesStartDat" type="xsd:dateTime" minOccurs="0" nillable="true"/>
          <xsd:element name="salesEndDat" type="xsd:dateTime" minOccurs="0" nillable="true"/>
          <xsd:element name="taxInclusiveBoo" type="xsd:boolean"/>
          <xsd:element name="billingCatalogueData" type="ecaBillingTariff:BillingCatalogueData_5_1" minOccurs="0" nillable="true"/>
          <xsd:element name="packageId" type="xsd:int"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ProductPackageDataJoin_5_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="billingCatalogueDataJoin" type="ecaBillingTariff:BillingCatalogueDataJoin_5_1" minOccurs="0" nillable="true"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ProductPackagePK">
    <xsd:complexContent>
      <xsd:extension base="eca:SimplePrimaryKey">
        <xsd:sequence>
          <xsd:element name="packageId" type="xsd:int"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="QueryAllProductPackagesInCatalogInput_1">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="productPackageDataJoin" type="ecaProductPackage:ProductPackageDataJoin_5_1" minOccurs="0" nillable="true"/>
          <xsd:element name="lastProductPackagePK" type="ecaProductPackage:ProductPackagePK" minOccurs="0" nillable="true"/>
          <xsd:element name="billingCataloguePK" type="ecaBillingTariff:BillingCataloguePK"/>
          <xsd:element name="maxRows" type="xsd:int"/>
          <xsd:element name="salesDtm" type="xsd:dateTime"/>
          <xsd:element name="languageId" type="xsd:int" minOccurs="0" nillable="true"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryAllProductPackagesInCatalogOutput_1">
        <xsd:sequence>
          <xsd:element name="result" type="ecaProductPackage:QueryAllProductPackagesInCatalogResult_1"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryAllProductPackagesInCatalogResult_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="dataSet" type="ecaProductPackage:ArrayOfProductPackageData_5_1" minOccurs="0" nillable="true"/>
          <xsd:element name="truncated" type="xsd:boolean"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ReadAllProductsInPackageInput_5_1">
        <xsd:sequence>
          <xsd:element name="productPackagePK" type="ecaProductPackage:ProductPackagePK"/>
          <xsd:element name="billingCataloguePK" type="ecaBillingTariff:BillingCataloguePK"/>
          <xsd:element name="languageId" type="xsd:int" minOccurs="0" nillable="true"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ReadAllProductsInPackageOutput_5_1">
        <xsd:sequence>
          <xsd:element
            name="result"
            type="ecaProductPackage:PackagedProductBillingTariffData_5_1"
            minOccurs="0"
            maxOccurs="unbounded"
          />
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ReadAvailablePackagesForAccountInput_5_1">
        <xsd:sequence>
          <xsd:element name="maxRows" type="xsd:int"/>
          <xsd:element name="lastProductPackagePK" type="ecaProductPackage:ProductPackagePK" minOccurs="0" nillable="true"/>
          <xsd:element name="accountPK" type="ecaAccount:AccountPK"/>
          <xsd:element name="salesDtm" type="xsd:dateTime"/>
          <xsd:element name="whenDtm" type="xsd:dateTime"/>
          <xsd:element name="languageId" type="xsd:int" minOccurs="0" nillable="true"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ReadAvailablePackagesForAccountOutput_5_1">
        <xsd:sequence>
          <xsd:element name="result" type="ecaProductPackage:AvailablePackagesForAccountResult_5_1"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ReadEventTypeAndRatingTariffData_5_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="eventTypeSummary" type="ecaEvent:EventTypeSummary_5_1" minOccurs="0" nillable="true"/>
          <xsd:element name="ratingTariffSummary" type="ecaRatingTariff:RatingTariffSummary_5_1" minOccurs="0" nillable="true"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ReadEventTypeAndRatingTariffInput_5_1">
        <xsd:sequence>
          <xsd:element name="billingCataloguePK" type="ecaBillingTariff:BillingCataloguePK"/>
          <xsd:element name="productPackagePK" type="ecaProductPackage:ProductPackagePK"/>
          <xsd:element name="languageId" type="xsd:int" minOccurs="0" nillable="true"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ReadEventTypeAndRatingTariffOutput_5_1">
        <xsd:sequence>
          <xsd:element
            name="result"
            type="ecaProductPackage:ReadEventTypeAndRatingTariffResult_5_1"
            minOccurs="0"
            maxOccurs="unbounded"
          />
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ReadEventTypeAndRatingTariffResult_5_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="productPackagePK" type="ecaProductPackage:ProductPackagePK"/>
          <xsd:element name="productPK" type="ecaProduct:ProductPK"/>
          <xsd:element name="productIndexInPackage" type="xsd:int"/>
          <xsd:element
            name="dataSet"
            type="ecaProductPackage:ReadEventTypeAndRatingTariffData_5_1"
            minOccurs="0"
            maxOccurs="unbounded"
          />
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ReadPackageInput_5_1">
        <xsd:sequence>
          <xsd:element name="productPackagePK" type="ecaProductPackage:ProductPackagePK"/>
          <xsd:element name="billingCataloguePK" type="ecaBillingTariff:BillingCataloguePK"/>
          <xsd:element name="languageId" type="xsd:int" minOccurs="0" nillable="true"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ReadPackageOutput_5_1">
        <xsd:sequence>
          <xsd:element name="result" type="ecaProductPackage:ProductPackageData_5_1"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ReadPackageProductRateTariffData_5_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="packageProductRateTariffData" type="ecaProductPackage:PackageProductRateTariffData_5_1"/>
          <xsd:element name="ratingTariffSummary" type="ecaRatingTariff:RatingTariffSummary_5_1" minOccurs="0" nillable="true"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ReadPackageProductRateTariffInput_5_1">
        <xsd:sequence>
          <xsd:element name="productPackagePK" type="ecaProductPackage:ProductPackagePK"/>
          <xsd:element name="productIndexInPackage" type="xsd:int"/>
          <xsd:element name="billingCataloguePK" type="ecaBillingTariff:BillingCataloguePK"/>
          <xsd:element name="eventTypeId" type="xsd:int"/>
          <xsd:element name="languageId" type="xsd:int" minOccurs="0" nillable="true"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ReadPackageProductRateTariffOutput_5_1">
        <xsd:sequence>
          <xsd:element name="result" type="ecaProductPackage:ReadPackageProductRateTariffData_5_1"/>
       </xsd:sequence>
  </xsd:complexType>



  <!-- Array Types -->
  <xsd:complexType name="ArrayOfProductPackageData_5_1">
    <xsd:complexContent>
      <xsd:extension base="base:BaseStructure">
        <xsd:sequence>
          <xsd:element
            name="a"
            type="ecaProductPackage:ProductPackageData_5_1"
            minOccurs="0"
            maxOccurs="unbounded"
          />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>


</xsd:schema>

<!-- eof ECA_ProductPackage.xsd -->
