Release2.21/ECA.CST/customeca-j2ee/schema/ECA/ECA_PromotionIntegration.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- XML Schema for type definitions of component ECA -->
<!-- service PromotionIntegration. -->

<xsd:schema
  targetNamespace="urn:Convergys-Interface-ECA-PromotionIntegration"
  xmlns="urn:Convergys-Interface-ECA-PromotionIntegration"
  xmlns:ecaPromotionIntegration="urn:Convergys-Interface-ECA-PromotionIntegration"
  elementFormDefault="qualified"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:base="urn:Convergys-Interface-Base"
  xmlns:commonIML="urn:Convergys-Interface-CommonIML"
  xmlns:eca="urn:Convergys-Interface-ECA"
  xmlns:ecaAccount="urn:Convergys-Interface-ECA-Account"
>
  <!-- Imports -->
  <xsd:import
    namespace="urn:Convergys-Interface-Base"
    schemaLocation="../../schema/Base/Base.xsd"
  />

  <xsd:import
    namespace="urn:Convergys-Interface-CommonIML"
    schemaLocation="../../schema/CommonIML/CommonIML.xsd"
  />

  <xsd:import
    namespace="urn:Convergys-Interface-ECA"
    schemaLocation="../../schema/ECA/ECA.xsd"
  />

  <xsd:import
    namespace="urn:Convergys-Interface-ECA-Account"
    schemaLocation="../../schema/ECA/ECA_Account.xsd"
  />


  <!-- Enumeration Types -->

  <!-- Structure and Exception Types -->
  <xsd:complexType name="AccActionLogData_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="accountNum" type="xsd:string"/>
          <xsd:element name="domainId" type="xsd:int"/>
          <xsd:element name="actionLogSeq" type="xsd:long"/>
          <xsd:element name="actionId" type="xsd:int"/>
          <xsd:element name="actionDtm" type="xsd:dateTime"/>
          <xsd:element name="actionDetails" type="xsd:string"/>
          <xsd:element name="promotionCode" type="xsd:string" minOccurs="0" nillable="true"/>
          <xsd:element name="monetaryValue" type="xsd:long"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="AccActionLogPK">
    <xsd:complexContent>
      <xsd:extension base="eca:PrimaryKey">
        <xsd:sequence>
          <xsd:element name="accountNum" type="xsd:string"/>
          <xsd:element name="domainId" type="xsd:int"/>
          <xsd:element name="actionLogSeq" type="xsd:long"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="AccActionSummaryData_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="accountNum" type="xsd:string"/>
          <xsd:element name="actionId" type="xsd:int"/>
          <xsd:element name="domainId" type="xsd:int"/>
          <xsd:element name="startDtm" type="xsd:dateTime"/>
          <xsd:element name="actionCount" type="xsd:int"/>
          <xsd:element name="lastActionDtm" type="xsd:dateTime"/>
          <xsd:element name="lastActionDetails" type="xsd:string"/>
          <xsd:element name="totalValue" type="xsd:long" minOccurs="0" nillable="true"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="AccActionSummaryPK">
    <xsd:complexContent>
      <xsd:extension base="eca:PrimaryKey">
        <xsd:sequence>
          <xsd:element name="accountNum" type="xsd:string"/>
          <xsd:element name="actionId" type="xsd:int"/>
          <xsd:element name="domainId" type="xsd:int"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="AccPromotionEnrollmentData_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="accountNum" type="xsd:string"/>
          <xsd:element name="enrollmentseq" type="xsd:int"/>
          <xsd:element name="domainId" type="xsd:int"/>
          <xsd:element name="disableboo" type="xsd:boolean"/>
          <xsd:element name="enrollDtm" type="xsd:dateTime"/>
          <xsd:element name="startDtm" type="xsd:dateTime"/>
          <xsd:element name="endDtm" type="xsd:dateTime"/>
          <xsd:element name="promotionCode" type="xsd:string"/>
          <xsd:element name="eventSource" type="xsd:string" minOccurs="0" nillable="true"/>
          <xsd:element name="eventTypeId" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="enrollmentDesc" type="xsd:string" minOccurs="0" nillable="true"/>
          <xsd:element name="forwardCostedEventsBoo" type="xsd:boolean"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="AccPromotionEnrollmentPK">
    <xsd:complexContent>
      <xsd:extension base="eca:PrimaryKey">
        <xsd:sequence>
          <xsd:element name="accountNum" type="xsd:string"/>
          <xsd:element name="domainId" type="xsd:int"/>
          <xsd:element name="enrollmentseq" type="xsd:int"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="CreateAccPromotionEnrollmentInput_1">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="accountPK" type="ecaAccount:AccountPK"/>
          <xsd:element name="promotionCode" type="xsd:string"/>
          <xsd:element name="eventSource" type="xsd:string" minOccurs="0" nillable="true"/>
          <xsd:element name="eventTypeId" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="forwardCostedEventsBoo" type="xsd:boolean" minOccurs="0" nillable="true"/>
          <xsd:element name="startDtm" type="xsd:dateTime"/>
          <xsd:element name="endDtm" type="xsd:dateTime"/>
          <xsd:element name="enrollmentDesc" type="xsd:string" minOccurs="0" nillable="true"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="CreateAccPromotionEnrollmentOutput_1">
        <xsd:sequence>
          <xsd:element name="accPromotionEnrollmentPK" type="ecaPromotionIntegration:AccPromotionEnrollmentPK"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="DisableAccPromotionEnrollmentInput_1">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="accountPK" type="ecaAccount:AccountPK"/>
          <xsd:element name="promotionCode" type="xsd:string"/>
          <xsd:element name="eventSource" type="xsd:string" minOccurs="0" nillable="true"/>
          <xsd:element name="eventTypeId" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="startDtm" type="xsd:dateTime"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="DisableAccPromotionEnrollmentOutput_1">
        <xsd:sequence>
          <xsd:element name="accPromotionEnrollmentPK" type="ecaPromotionIntegration:AccPromotionEnrollmentPK"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="FailedActionLogData_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="actionId" type="xsd:int"/>
          <xsd:element name="failedActionLogSeq" type="xsd:long"/>
          <xsd:element name="randomHash" type="xsd:int"/>
          <xsd:element name="actionDtm" type="xsd:dateTime"/>
          <xsd:element name="actionDetails" type="xsd:string"/>
          <xsd:element name="reprocessBoo" type="xsd:boolean"/>
          <xsd:element name="reprocessCount" type="xsd:int"/>
          <xsd:element name="reprocessDtm" type="xsd:dateTime" minOccurs="0" nillable="true"/>
          <xsd:element name="ignoreConfigValuesBoo" type="xsd:boolean"/>
          <xsd:element name="accountNum" type="xsd:string" minOccurs="0" nillable="true"/>
          <xsd:element name="promotionCode" type="xsd:string" minOccurs="0" nillable="true"/>
          <xsd:element name="failedReasonTxt" type="xsd:string" minOccurs="0" nillable="true"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="FailedActionLogPK">
    <xsd:complexContent>
      <xsd:extension base="eca:PrimaryKey">
        <xsd:sequence>
          <xsd:element name="actionId" type="xsd:int"/>
          <xsd:element name="failedActionLogSeq" type="xsd:long"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ModifyARSummaryPolicyDetailsInput_1">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="accountPK" type="ecaAccount:AccountPK"/>
          <xsd:element name="oldPolicyId" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="oldPolicyMny" type="xsd:long" minOccurs="0" nillable="true"/>
          <xsd:element name="newPolicyId" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="newPolicyMny" type="xsd:long" minOccurs="0" nillable="true"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryAccActionLogResult_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="queryAccActionLogDataArray" type="ecaPromotionIntegration:ArrayOfAccActionLogData_1" minOccurs="0" nillable="true"/>
          <xsd:element name="truncated" type="xsd:boolean"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="QueryAccActionSummaryInput_1">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="accountPK" type="ecaAccount:AccountPK"/>
          <xsd:element name="actionId" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="maxRows" type="xsd:int"/>
          <xsd:element name="lastAccActionSummaryPK" type="ecaPromotionIntegration:AccActionSummaryPK" minOccurs="0" nillable="true"/>
          <xsd:element name="discardTruncatedBoo" type="xsd:boolean" minOccurs="0" nillable="true"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryAccActionSummaryOutput_1">
        <xsd:sequence>
          <xsd:element name="result" type="ecaPromotionIntegration:QueryAccActionSummaryResult_1"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryAccActionSummaryResult_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="queryAccActionSummaryDataArray" type="ecaPromotionIntegration:ArrayOfAccActionSummaryData_1" minOccurs="0" nillable="true"/>
          <xsd:element name="truncated" type="xsd:boolean"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="QueryAccPromotionEnrollmentInput_1">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="accountPK" type="ecaAccount:AccountPK"/>
          <xsd:element name="promotionCode" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="whenDtm" type="xsd:dateTime" minOccurs="0" nillable="true"/>
          <xsd:element name="maxRows" type="xsd:int"/>
          <xsd:element name="lastAccPromotionEnrollmentPk" type="ecaPromotionIntegration:AccPromotionEnrollmentPK" minOccurs="0" nillable="true"/>
          <xsd:element name="discardTruncatedBoo" type="xsd:boolean" minOccurs="0" nillable="true"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryAccPromotionEnrollmentOutput_1">
        <xsd:sequence>
          <xsd:element name="result" type="ecaPromotionIntegration:QueryAccPromotionEnrollmentResult_1"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryAccPromotionEnrollmentResult_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="queryAccPromotionEnrollmentDataArray" type="ecaPromotionIntegration:ArrayOfAccPromotionEnrollmentData_1" minOccurs="0" nillable="true"/>
          <xsd:element name="truncated" type="xsd:boolean"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="QueryAccountActionLogInput_1">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="accountPK" type="ecaAccount:AccountPK"/>
          <xsd:element name="actionId" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="maxRows" type="xsd:int"/>
          <xsd:element name="lastAccActionLogPK" type="ecaPromotionIntegration:AccActionLogPK" minOccurs="0" nillable="true"/>
          <xsd:element name="discardTruncatedBoo" type="xsd:boolean" minOccurs="0" nillable="true"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryAccountActionLogOutput_1">
        <xsd:sequence>
          <xsd:element name="result" type="ecaPromotionIntegration:QueryAccActionLogResult_1"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryFailedActionLogInput_1">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="accountPK" type="ecaAccount:AccountPK" minOccurs="0" nillable="true"/>
          <xsd:element name="actionId" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="maxRows" type="xsd:int"/>
          <xsd:element name="lastFailedActionLogPK" type="ecaPromotionIntegration:FailedActionLogPK" minOccurs="0" nillable="true"/>
          <xsd:element name="discardTruncatedBoo" type="xsd:boolean" minOccurs="0" nillable="true"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryFailedActionLogOutput_1">
        <xsd:sequence>
          <xsd:element name="result" type="ecaPromotionIntegration:QueryFailedActionLogResult_1"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryFailedActionLogResult_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="queryFailedActionLogDataArray" type="ecaPromotionIntegration:ArrayOfFailedActionLogData_1" minOccurs="0" nillable="true"/>
          <xsd:element name="truncated" type="xsd:boolean"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>



  <!-- Array Types -->
  <xsd:complexType name="ArrayOfAccActionLogData_1">
    <xsd:complexContent>
      <xsd:extension base="base:BaseStructure">
        <xsd:sequence>
          <xsd:element
            name="a"
            type="ecaPromotionIntegration:AccActionLogData_1"
            minOccurs="0"
            maxOccurs="unbounded"
          />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ArrayOfAccActionSummaryData_1">
    <xsd:complexContent>
      <xsd:extension base="base:BaseStructure">
        <xsd:sequence>
          <xsd:element
            name="a"
            type="ecaPromotionIntegration:AccActionSummaryData_1"
            minOccurs="0"
            maxOccurs="unbounded"
          />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ArrayOfAccPromotionEnrollmentData_1">
    <xsd:complexContent>
      <xsd:extension base="base:BaseStructure">
        <xsd:sequence>
          <xsd:element
            name="a"
            type="ecaPromotionIntegration:AccPromotionEnrollmentData_1"
            minOccurs="0"
            maxOccurs="unbounded"
          />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ArrayOfFailedActionLogData_1">
    <xsd:complexContent>
      <xsd:extension base="base:BaseStructure">
        <xsd:sequence>
          <xsd:element
            name="a"
            type="ecaPromotionIntegration:FailedActionLogData_1"
            minOccurs="0"
            maxOccurs="unbounded"
          />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>


</xsd:schema>

<!-- eof ECA_PromotionIntegration.xsd -->
