Release2.21/ECA.CST/customeca-j2ee/schema/ECA/ECA_OnlineQuery.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- XML Schema for type definitions of component ECA -->
<!-- service OnlineQuery. -->

<xsd:schema
  targetNamespace="urn:Convergys-Interface-ECA-OnlineQuery"
  xmlns="urn:Convergys-Interface-ECA-OnlineQuery"
  xmlns:ecaOnlineQuery="urn:Convergys-Interface-ECA-OnlineQuery"
  elementFormDefault="qualified"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:base="urn:Convergys-Interface-Base"
  xmlns:commonIML="urn:Convergys-Interface-CommonIML"
  xmlns:eca="urn:Convergys-Interface-ECA"
  xmlns:ecaAccount="urn:Convergys-Interface-ECA-Account"
  xmlns:ecaConfig="urn:Convergys-Interface-ECA-Config"
  xmlns:ecaDiscount="urn:Convergys-Interface-ECA-Discount"
  xmlns:ecaEvent="urn:Convergys-Interface-ECA-Event"
  xmlns:ecaLifecycle="urn:Convergys-Interface-ECA-Lifecycle"
>
  <!-- Imports -->
  <xsd:import
    namespace="urn:Convergys-Interface-Base"
    schemaLocation="../../schema/Base/Base.xsd"
  />

  <xsd:import
    namespace="urn:Convergys-Interface-CommonIML"
    schemaLocation="../../schema/CommonIML/CommonIML.xsd"
  />

  <xsd:import
    namespace="urn:Convergys-Interface-ECA"
    schemaLocation="../../schema/ECA/ECA.xsd"
  />

  <xsd:import
    namespace="urn:Convergys-Interface-ECA-Account"
    schemaLocation="../../schema/ECA/ECA_Account.xsd"
  />

  <xsd:import
    namespace="urn:Convergys-Interface-ECA-Config"
    schemaLocation="../../schema/ECA/ECA_Config.xsd"
  />

  <xsd:import
    namespace="urn:Convergys-Interface-ECA-Discount"
    schemaLocation="../../schema/ECA/ECA_Discount.xsd"
  />

  <xsd:import
    namespace="urn:Convergys-Interface-ECA-Event"
    schemaLocation="../../schema/ECA/ECA_Event.xsd"
  />

  <xsd:import
    namespace="urn:Convergys-Interface-ECA-Lifecycle"
    schemaLocation="../../schema/ECA/ECA_Lifecycle.xsd"
  />


  <!-- Enumeration Types -->

  <!-- Structure and Exception Types -->
  <xsd:complexType name="AccountBalanceData_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="accountBalance" type="xsd:double"/>
          <xsd:element name="currencyData" type="ecaConfig:CurrencyData_5_1"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="AccountBalanceData_2">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="unbilledUsage" type="xsd:double"/>
          <xsd:element name="accountBalance" type="xsd:double"/>
          <xsd:element name="unpaidSpend" type="xsd:double"/>
          <xsd:element name="creditExposure" type="xsd:double"/>
          <xsd:element name="adjustedAccountBalance" type="xsd:double"/>
          <xsd:element name="currencyData" type="ecaConfig:CurrencyData_5_1"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="AccountEventData_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="createdDtm" type="xsd:dateTime"/>
          <xsd:element name="eventDtm" type="xsd:dateTime"/>
          <xsd:element name="costCode1" type="xsd:string" minOccurs="0" nillable="true"/>
          <xsd:element name="costCode2" type="xsd:string" minOccurs="0" nillable="true"/>
          <xsd:element name="scalarValue" type="xsd:string" minOccurs="0" nillable="true"/>
          <xsd:element name="unitsName" type="xsd:string" minOccurs="0" nillable="true"/>
          <xsd:element name="eventCostMny" type="xsd:long"/>
          <xsd:element name="preDiscountedCostMny" type="xsd:long"/>
          <xsd:element name="loyaltyPoints" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="eventTypeSummary" type="ecaEvent:EventTypeSummary_5_1"/>
          <xsd:element name="hint" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="accountNum" type="xsd:string"/>
          <xsd:element name="domainId" type="xsd:int"/>
          <xsd:element name="eventSeq" type="xsd:int"/>
          <xsd:element name="eventSource" type="xsd:string"/>
          <xsd:element name="eventTypeId" type="xsd:int"/>
          <xsd:element name="eventRef" type="xsd:string"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="AccountEventPK">
    <xsd:complexContent>
      <xsd:extension base="eca:PrimaryKey">
        <xsd:sequence>
          <xsd:element name="accountNum" type="xsd:string"/>
          <xsd:element name="domainId" type="xsd:int"/>
          <xsd:element name="eventSeq" type="xsd:int"/>
          <xsd:element name="eventSource" type="xsd:string"/>
          <xsd:element name="eventTypeId" type="xsd:int"/>
          <xsd:element name="eventRef" type="xsd:string"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="AccountRechargeData_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="eventSeq" type="xsd:int"/>
          <xsd:element name="eventSource" type="xsd:string"/>
          <xsd:element name="eventTypeId" type="xsd:int"/>
          <xsd:element name="eventRef" type="xsd:string"/>
          <xsd:element name="createdDtm" type="xsd:dateTime"/>
          <xsd:element name="eventDtm" type="xsd:dateTime"/>
          <xsd:element name="importedCurrencyCode" type="ecaConfig:CurrencyData_5_1" minOccurs="0" nillable="true"/>
          <xsd:element name="rechargeMny" type="xsd:long"/>
          <xsd:element name="hint" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="accountNum" type="xsd:string"/>
          <xsd:element name="domainId" type="xsd:int"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="AccountRechargeData_2">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="eventSeq" type="xsd:int"/>
          <xsd:element name="eventSource" type="xsd:string"/>
          <xsd:element name="eventTypeId" type="xsd:int"/>
          <xsd:element name="eventRef" type="xsd:string"/>
          <xsd:element name="createdDtm" type="xsd:dateTime"/>
          <xsd:element name="eventDtm" type="xsd:dateTime"/>
          <xsd:element name="importedCurrencyCode" type="ecaConfig:CurrencyData_5_1" minOccurs="0" nillable="true"/>
          <xsd:element name="rechargeMny" type="xsd:long"/>
          <xsd:element name="discountName" type="xsd:string" minOccurs="0" nillable="true"/>
          <xsd:element name="hint" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="accountNum" type="xsd:string"/>
          <xsd:element name="domainId" type="xsd:int"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="AccountRechargePK">
    <xsd:complexContent>
      <xsd:extension base="eca:PrimaryKey">
        <xsd:sequence>
          <xsd:element name="accountNum" type="xsd:string"/>
          <xsd:element name="domainId" type="xsd:int"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="CustProdDiscUsageUK">
    <xsd:complexContent>
      <xsd:extension base="eca:PrimaryKey">
        <xsd:sequence>
          <xsd:element name="customerRef" type="xsd:string"/>
          <xsd:element name="domainId" type="xsd:int"/>
          <xsd:element name="productSeq" type="xsd:int"/>
          <xsd:element name="eventSource" type="xsd:string" minOccurs="0" nillable="true"/>
          <xsd:element name="eventDiscountId" type="xsd:int"/>
          <xsd:element name="periodNum" type="xsd:int"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="DiscountData_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="aggregationLevel" type="ecaDiscount:AggregationLevel"/>
          <xsd:element name="aggregationReference" type="xsd:string"/>
          <xsd:element name="discountType" type="xsd:string"/>
          <xsd:element name="discountName" type="xsd:string"/>
          <xsd:element name="balance" type="xsd:long" minOccurs="0" nillable="true"/>
          <xsd:element name="startDat" type="xsd:dateTime"/>
          <xsd:element name="endDat" type="xsd:dateTime" minOccurs="0" nillable="true"/>
          <xsd:element name="currencyData" type="ecaConfig:CurrencyData_5_1"/>
          <xsd:element name="hint" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="customerRef" type="xsd:string"/>
          <xsd:element name="domainId" type="xsd:int"/>
          <xsd:element name="productSeq" type="xsd:int"/>
          <xsd:element name="eventSource" type="xsd:string" minOccurs="0" nillable="true"/>
          <xsd:element name="eventDiscountId" type="xsd:int"/>
          <xsd:element name="periodNum" type="xsd:int"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="DiscountData_2">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="aggregationLevel" type="ecaDiscount:AggregationLevel"/>
          <xsd:element name="aggregationReference" type="xsd:string"/>
          <xsd:element name="discountType" type="xsd:string"/>
          <xsd:element name="discountName" type="xsd:string"/>
          <xsd:element name="balance" type="xsd:long" minOccurs="0" nillable="true"/>
          <xsd:element name="startDat" type="xsd:dateTime" minOccurs="0" nillable="true"/>
          <xsd:element name="endDat" type="xsd:dateTime" minOccurs="0" nillable="true"/>
          <xsd:element name="currencyData" type="ecaConfig:CurrencyData_5_1"/>
          <xsd:element name="hint" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="customerRef" type="xsd:string"/>
          <xsd:element name="domainId" type="xsd:int"/>
          <xsd:element name="productSeq" type="xsd:int"/>
          <xsd:element name="eventSource" type="xsd:string" minOccurs="0" nillable="true"/>
          <xsd:element name="eventDiscountId" type="xsd:int"/>
          <xsd:element name="periodNum" type="xsd:int"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="DiscountData_3">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="aggregationLevel" type="ecaDiscount:AggregationLevel"/>
          <xsd:element name="aggregationReference" type="xsd:string"/>
          <xsd:element name="discountType" type="xsd:string"/>
          <xsd:element name="discountName" type="xsd:string"/>
          <xsd:element name="balance" type="xsd:long" minOccurs="0" nillable="true"/>
          <xsd:element name="startDat" type="xsd:dateTime" minOccurs="0" nillable="true"/>
          <xsd:element name="endDat" type="xsd:dateTime" minOccurs="0" nillable="true"/>
          <xsd:element name="currencyData" type="ecaConfig:CurrencyData_5_1"/>
          <xsd:element name="lifeCycleStateId" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="lifeCycleStateStartDtm" type="xsd:dateTime" minOccurs="0" nillable="true"/>
          <xsd:element name="lifeCycleStateTimeOutDtm" type="xsd:dateTime" minOccurs="0" nillable="true"/>
          <xsd:element name="totalUsage" type="xsd:long" minOccurs="0" nillable="true"/>
          <xsd:element name="counterUsage" type="xsd:long" minOccurs="0" nillable="true"/>
          <xsd:element name="totalDiscountedUsage" type="xsd:long" minOccurs="0" nillable="true"/>
          <xsd:element name="totalDiscountedMoney" type="xsd:long" minOccurs="0" nillable="true"/>
          <xsd:element name="ratingDiscountType" type="ecaDiscount:RatingDiscountType" minOccurs="0" nillable="true"/>
          <xsd:element name="hint" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="customerRef" type="xsd:string"/>
          <xsd:element name="domainId" type="xsd:int"/>
          <xsd:element name="productSeq" type="xsd:int"/>
          <xsd:element name="eventSource" type="xsd:string" minOccurs="0" nillable="true"/>
          <xsd:element name="eventDiscountId" type="xsd:int"/>
          <xsd:element name="periodNum" type="xsd:int"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="DiscountData_5">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="aggregationLevel" type="ecaDiscount:AggregationLevel"/>
          <xsd:element name="aggregationReference" type="xsd:string"/>
          <xsd:element name="discountType" type="xsd:string"/>
          <xsd:element name="discountName" type="xsd:string"/>
          <xsd:element name="balance" type="xsd:long" minOccurs="0" nillable="true"/>
          <xsd:element name="startDtm" type="xsd:dateTime" minOccurs="0" nillable="true"/>
          <xsd:element name="endDtm" type="xsd:dateTime" minOccurs="0" nillable="true"/>
          <xsd:element name="currencyData" type="ecaConfig:CurrencyData_5_1"/>
          <xsd:element name="lifeCycleStateId" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="lifeCycleStateStartDtm" type="xsd:dateTime" minOccurs="0" nillable="true"/>
          <xsd:element name="lifeCycleStateTimeOutDtm" type="xsd:dateTime" minOccurs="0" nillable="true"/>
          <xsd:element name="totalUsage" type="xsd:long" minOccurs="0" nillable="true"/>
          <xsd:element name="counterUsage" type="xsd:long" minOccurs="0" nillable="true"/>
          <xsd:element name="totalDiscountedUsage" type="xsd:long" minOccurs="0" nillable="true"/>
          <xsd:element name="totalDiscountedMoney" type="xsd:long" minOccurs="0" nillable="true"/>
          <xsd:element name="ratingDiscountType" type="ecaDiscount:RatingDiscountType" minOccurs="0" nillable="true"/>
          <xsd:element name="hint" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="customerRef" type="xsd:string"/>
          <xsd:element name="domainId" type="xsd:int"/>
          <xsd:element name="productSeq" type="xsd:int"/>
          <xsd:element name="eventSource" type="xsd:string" minOccurs="0" nillable="true"/>
          <xsd:element name="eventDiscountId" type="xsd:int"/>
          <xsd:element name="periodNum" type="xsd:int"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="QueryAccLifeCycleDataByEventSrcInput_1">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="eventSource" type="xsd:string"/>
          <xsd:element name="eventTypeId" type="xsd:int"/>
          <xsd:element name="whenDtm" type="xsd:dateTime"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryAccLifeCycleDataByEventSrcOutput_1">
        <xsd:sequence>
          <xsd:element name="result" type="ecaLifecycle:QueryAccountProfileStateData_1"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryAccountBalanceByEventSourceInput_1">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="eventSource" type="xsd:string"/>
          <xsd:element name="eventTypeId" type="xsd:int"/>
          <xsd:element name="whenDtm" type="xsd:dateTime"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryAccountBalanceByEventSourceOutput_1">
        <xsd:sequence>
          <xsd:element name="result" type="ecaOnlineQuery:AccountBalanceData_1"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryAccountBalanceInput_1">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="accountPK" type="ecaAccount:AccountPK"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryAccountBalanceInput_2">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="accountPK" type="ecaAccount:AccountPK"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryAccountBalanceInput_3">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="accountPK" type="ecaAccount:AccountPK"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryAccountBalanceOutput_1">
        <xsd:sequence>
          <xsd:element name="result" type="ecaOnlineQuery:AccountBalanceData_1"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryAccountBalanceOutput_2">
        <xsd:sequence>
          <xsd:element name="result" type="ecaOnlineQuery:AccountBalanceData_2"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryAccountBalanceOutput_3">
        <xsd:sequence>
          <xsd:element name="result" type="ecaOnlineQuery:AccountBalanceData_2"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryAccountEventResult_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="dataSet" type="ecaOnlineQuery:ArrayOfNullableAccountEventData_1" minOccurs="0" nillable="true"/>
          <xsd:element name="truncated" type="xsd:boolean"/>
          <xsd:element name="currencyData" type="ecaConfig:CurrencyData_5_1"/>
          <xsd:element name="languageData" type="ecaConfig:LanguageData_5_1" minOccurs="0" nillable="true"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="QueryAccountEventsByEventSourceInput_1">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="eventSource" type="xsd:string"/>
          <xsd:element name="eventTypeId" type="xsd:int"/>
          <xsd:element name="whenDtm" type="xsd:dateTime"/>
          <xsd:element name="maxRows" type="xsd:int"/>
          <xsd:element name="lastAccountEventPK" type="ecaOnlineQuery:AccountEventPK" minOccurs="0" nillable="true"/>
          <xsd:element name="languageId" type="xsd:int" minOccurs="0" nillable="true"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryAccountEventsByEventSourceOutput_1">
        <xsd:sequence>
          <xsd:element name="result" type="ecaOnlineQuery:QueryAccountEventResult_1"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryAccountEventsInput_1">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="accountPK" type="ecaAccount:AccountPK"/>
          <xsd:element name="maxRows" type="xsd:int"/>
          <xsd:element name="lastAccountEventPK" type="ecaOnlineQuery:AccountEventPK" minOccurs="0" nillable="true"/>
          <xsd:element name="languageId" type="xsd:int" minOccurs="0" nillable="true"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryAccountEventsOutput_1">
        <xsd:sequence>
          <xsd:element name="result" type="ecaOnlineQuery:QueryAccountEventResult_1"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryAccountRatingForAccEvtGrpData_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="eventProcessGroup" type="xsd:int"/>
          <xsd:element name="nextBillDtm" type="xsd:dateTime"/>
          <xsd:element name="rateEventSeq" type="xsd:int"/>
          <xsd:element name="partialsMny" type="xsd:long"/>
          <xsd:element name="authorisationsMny" type="xsd:long"/>
          <xsd:element name="ratingDiscountScope" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="discountUsageActionDat" type="xsd:dateTime" minOccurs="0" nillable="true"/>
          <xsd:element name="ratingStatus" type="xsd:int"/>
          <xsd:element name="fastCacheSeq" type="xsd:int"/>
          <xsd:element name="customerCategory" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="externalBalanceLiid" type="xsd:long" minOccurs="0" nillable="true"/>
          <xsd:element name="lastBillDtm" type="xsd:dateTime" minOccurs="0" nillable="true"/>
          <xsd:element name="actualBillDtm" type="xsd:dateTime" minOccurs="0" nillable="true"/>
          <xsd:element name="domainId" type="xsd:int"/>
          <xsd:element name="usageLockDtm" type="xsd:dateTime" minOccurs="0" nillable="true"/>
          <xsd:element name="preDiscountUsageMny" type="xsd:long" minOccurs="0" nillable="true"/>
          <xsd:element name="postDiscountUsageMny" type="xsd:long" minOccurs="0" nillable="true"/>
          <xsd:element name="lcStateId" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="lcStateStartDtm" type="xsd:dateTime" minOccurs="0" nillable="true"/>
          <xsd:element name="lcStateTimeoutDtm" type="xsd:dateTime" minOccurs="0" nillable="true"/>
          <xsd:element name="hint" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="accountNum" type="xsd:string"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="QueryAccountRatingForAccEvtGrpData_2">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="eventProcessGroup" type="xsd:int"/>
          <xsd:element name="nextBillDtm" type="xsd:dateTime"/>
          <xsd:element name="rateEventSeq" type="xsd:int"/>
          <xsd:element name="partialsMny" type="xsd:long"/>
          <xsd:element name="authorisationsMny" type="xsd:long"/>
          <xsd:element name="ratingDiscountScope" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="discountUsageActionDat" type="xsd:dateTime" minOccurs="0" nillable="true"/>
          <xsd:element name="ratingStatus" type="xsd:int"/>
          <xsd:element name="fastCacheSeq" type="xsd:int"/>
          <xsd:element name="customerCategory" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="externalBalanceLiid" type="xsd:long" minOccurs="0" nillable="true"/>
          <xsd:element name="lastBillDtm" type="xsd:dateTime" minOccurs="0" nillable="true"/>
          <xsd:element name="actualBillDtm" type="xsd:dateTime" minOccurs="0" nillable="true"/>
          <xsd:element name="domainId" type="xsd:int"/>
          <xsd:element name="usageLockDtm" type="xsd:dateTime" minOccurs="0" nillable="true"/>
          <xsd:element name="preDiscountUsageMny" type="xsd:long" minOccurs="0" nillable="true"/>
          <xsd:element name="postDiscountUsageMny" type="xsd:long" minOccurs="0" nillable="true"/>
          <xsd:element name="lcStateId" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="lcStateStartDtm" type="xsd:dateTime" minOccurs="0" nillable="true"/>
          <xsd:element name="lcStateTimeoutDtm" type="xsd:dateTime" minOccurs="0" nillable="true"/>
          <xsd:element name="dormancyCheckDat" type="xsd:dateTime" minOccurs="0" nillable="true"/>
          <xsd:element name="hint" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="accountNum" type="xsd:string"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="QueryAccountRatingForAccEvtGrpData_3">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="eventProcessGroup" type="xsd:int"/>
          <xsd:element name="nextBillDtm" type="xsd:dateTime"/>
          <xsd:element name="rateEventSeq" type="xsd:int"/>
          <xsd:element name="partialsMny" type="xsd:long"/>
          <xsd:element name="authorisationsMny" type="xsd:long"/>
          <xsd:element name="ratingDiscountScope" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="discountUsageActionDat" type="xsd:dateTime" minOccurs="0" nillable="true"/>
          <xsd:element name="ratingStatus" type="xsd:int"/>
          <xsd:element name="fastCacheSeq" type="xsd:int"/>
          <xsd:element name="customerCategory" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="externalBalanceLiid" type="xsd:long" minOccurs="0" nillable="true"/>
          <xsd:element name="lastBillDtm" type="xsd:dateTime" minOccurs="0" nillable="true"/>
          <xsd:element name="actualBillDtm" type="xsd:dateTime" minOccurs="0" nillable="true"/>
          <xsd:element name="domainId" type="xsd:int"/>
          <xsd:element name="usageLockDtm" type="xsd:dateTime" minOccurs="0" nillable="true"/>
          <xsd:element name="preDiscountUsageMny" type="xsd:long" minOccurs="0" nillable="true"/>
          <xsd:element name="postDiscountUsageMny" type="xsd:long" minOccurs="0" nillable="true"/>
          <xsd:element name="lcStateId" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="lcStateStartDtm" type="xsd:dateTime" minOccurs="0" nillable="true"/>
          <xsd:element name="lcStateTimeoutDtm" type="xsd:dateTime" minOccurs="0" nillable="true"/>
          <xsd:element name="dormancyCheckDat" type="xsd:dateTime" minOccurs="0" nillable="true"/>
          <xsd:element name="billPeriodNum" type="xsd:int"/>
          <xsd:element name="eventSeqNum" type="xsd:int"/>
          <xsd:element name="hint" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="accountNum" type="xsd:string"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="QueryAccountRatingForAccEvtGrpInput_1">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="accountPK" type="ecaAccount:AccountPK"/>
          <xsd:element name="eventProcessGroup" type="xsd:int"/>
          <xsd:element name="useOnlineCache" type="xsd:boolean"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryAccountRatingForAccEvtGrpInput_2">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="accountPK" type="ecaAccount:AccountPK"/>
          <xsd:element name="eventProcessGroup" type="xsd:int"/>
          <xsd:element name="useOnlineCache" type="xsd:boolean"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryAccountRatingForAccEvtGrpInput_3">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="accountPK" type="ecaAccount:AccountPK"/>
          <xsd:element name="eventProcessGroup" type="xsd:int"/>
          <xsd:element name="useOnlineCache" type="xsd:boolean"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryAccountRatingForAccEvtGrpOutput_1">
        <xsd:sequence>
          <xsd:element name="queryAccountRatingForAccEvtGrpData" type="ecaOnlineQuery:QueryAccountRatingForAccEvtGrpData_1"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryAccountRatingForAccEvtGrpOutput_2">
        <xsd:sequence>
          <xsd:element name="queryAccountRatingForAccEvtGrpData" type="ecaOnlineQuery:QueryAccountRatingForAccEvtGrpData_2"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryAccountRatingForAccEvtGrpOutput_3">
        <xsd:sequence>
          <xsd:element name="queryAccountRatingForAccEvtGrpData" type="ecaOnlineQuery:QueryAccountRatingForAccEvtGrpData_3"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryAccountRechargeByEventSourceInput_1">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="eventSource" type="xsd:string"/>
          <xsd:element name="eventTypeId" type="xsd:int"/>
          <xsd:element name="whenDtm" type="xsd:dateTime"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryAccountRechargeByEventSourceInput_2">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="eventSource" type="xsd:string"/>
          <xsd:element name="eventTypeId" type="xsd:int"/>
          <xsd:element name="whenDtm" type="xsd:dateTime"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryAccountRechargeByEventSourceOutput_1">
        <xsd:sequence>
          <xsd:element name="result" type="ecaOnlineQuery:AccountRechargeData_1" minOccurs="0" nillable="true"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryAccountRechargeByEventSourceOutput_2">
        <xsd:sequence>
          <xsd:element name="result" type="ecaOnlineQuery:AccountRechargeData_2" minOccurs="0" nillable="true"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryAccountRechargeInput_1">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="accountPK" type="ecaAccount:AccountPK"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryAccountRechargeInput_2">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="accountPK" type="ecaAccount:AccountPK"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryAccountRechargeOutput_1">
        <xsd:sequence>
          <xsd:element name="result" type="ecaOnlineQuery:AccountRechargeData_1" minOccurs="0" nillable="true"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryAccountRechargeOutput_2">
        <xsd:sequence>
          <xsd:element name="result" type="ecaOnlineQuery:AccountRechargeData_2" minOccurs="0" nillable="true"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryAuthorizationEventPeriodicRateAttributeInput_1">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="maxRows" type="xsd:int"/>
          <xsd:element name="discardTruncated" type="xsd:boolean"/>
          <xsd:element name="lastPK" type="ecaAccount:AccountPeriodicRateAttributePK" minOccurs="0" nillable="true"/>
          <xsd:element name="queryAccountPeriodicRateAttributeSearchFields" type="ecaAccount:QueryAccountPeriodicRateAttributeSearchFields_1"/>
          <xsd:element name="languageId" type="xsd:int" minOccurs="0" nillable="true"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryAuthorizationEventPeriodicRateAttributeOutput_1">
        <xsd:sequence>
          <xsd:element name="result" type="ecaAccount:QueryAccountPeriodicRateAttributeResult_1"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryDiscountResult_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="dataSet" type="ecaOnlineQuery:ArrayOfNullableDiscountData_1" minOccurs="0" nillable="true"/>
          <xsd:element name="truncated" type="xsd:boolean"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="QueryDiscountResult_2">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="dataSet" type="ecaOnlineQuery:ArrayOfNullableDiscountData_2" minOccurs="0" nillable="true"/>
          <xsd:element name="truncated" type="xsd:boolean"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="QueryDiscountResult_3">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="discountDataArray" type="ecaOnlineQuery:ArrayOfDiscountData_3" minOccurs="0" nillable="true"/>
          <xsd:element name="truncated" type="xsd:boolean"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="QueryDiscountResult_5">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="discountDataArray" type="ecaOnlineQuery:ArrayOfDiscountData_5" minOccurs="0" nillable="true"/>
          <xsd:element name="truncated" type="xsd:boolean"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="QueryDiscountsByEventSourceInput_1">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="eventSource" type="xsd:string"/>
          <xsd:element name="eventTypeId" type="xsd:int"/>
          <xsd:element name="whenDtm" type="xsd:dateTime"/>
          <xsd:element name="maxRows" type="xsd:int"/>
          <xsd:element name="discountPeriodDtm" type="xsd:dateTime"/>
          <xsd:element name="lastCustProdDiscUsageUK" type="ecaOnlineQuery:CustProdDiscUsageUK" minOccurs="0" nillable="true"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryDiscountsByEventSourceInput_2">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="eventSource" type="xsd:string"/>
          <xsd:element name="eventTypeId" type="xsd:int"/>
          <xsd:element name="whenDtm" type="xsd:dateTime"/>
          <xsd:element name="maxRows" type="xsd:int"/>
          <xsd:element name="discardTruncatedBoo" type="xsd:boolean"/>
          <xsd:element name="discountPeriodDtm" type="xsd:dateTime"/>
          <xsd:element name="lastCustProdDiscUsageUK" type="ecaOnlineQuery:CustProdDiscUsageUK" minOccurs="0" nillable="true"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryDiscountsByEventSourceInput_3">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="eventSource" type="xsd:string"/>
          <xsd:element name="eventTypeId" type="xsd:int"/>
          <xsd:element name="whenDtm" type="xsd:dateTime"/>
          <xsd:element name="maxRows" type="xsd:int"/>
          <xsd:element name="discardTruncatedBoo" type="xsd:boolean"/>
          <xsd:element name="discountPeriodDtm" type="xsd:dateTime"/>
          <xsd:element name="lastCustProdDiscUsageUK" type="ecaOnlineQuery:CustProdDiscUsageUK" minOccurs="0" nillable="true"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryDiscountsByEventSourceOutput_1">
        <xsd:sequence>
          <xsd:element name="result" type="ecaOnlineQuery:QueryDiscountResult_1"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryDiscountsByEventSourceOutput_2">
        <xsd:sequence>
          <xsd:element name="result" type="ecaOnlineQuery:QueryDiscountResult_3" minOccurs="0" nillable="true"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryDiscountsByEventSourceOutput_3">
        <xsd:sequence>
          <xsd:element name="result" type="ecaOnlineQuery:QueryDiscountResult_5" minOccurs="0" nillable="true"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryDiscountsInput_1">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="accountPK" type="ecaAccount:AccountPK"/>
          <xsd:element name="eventSource" type="xsd:string" minOccurs="0" nillable="true"/>
          <xsd:element name="maxRows" type="xsd:int"/>
          <xsd:element name="discountPeriodDtm" type="xsd:dateTime"/>
          <xsd:element name="lastCustProdDiscUsageUK" type="ecaOnlineQuery:CustProdDiscUsageUK" minOccurs="0" nillable="true"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryDiscountsInput_2">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="accountPK" type="ecaAccount:AccountPK"/>
          <xsd:element name="eventSource" type="xsd:string" minOccurs="0" nillable="true"/>
          <xsd:element name="maxRows" type="xsd:int"/>
          <xsd:element name="discountPeriodDtm" type="xsd:dateTime"/>
          <xsd:element name="lastCustProdDiscUsageUK" type="ecaOnlineQuery:CustProdDiscUsageUK" minOccurs="0" nillable="true"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryDiscountsInput_3">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="accountPK" type="ecaAccount:AccountPK"/>
          <xsd:element name="eventSource" type="xsd:string" minOccurs="0" nillable="true"/>
          <xsd:element name="maxRows" type="xsd:int"/>
          <xsd:element name="discardTruncatedBoo" type="xsd:boolean"/>
          <xsd:element name="discountPeriodDtm" type="xsd:dateTime"/>
          <xsd:element name="lastCustProdDiscUsageUK" type="ecaOnlineQuery:CustProdDiscUsageUK" minOccurs="0" nillable="true"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryDiscountsInput_5">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="accountPK" type="ecaAccount:AccountPK"/>
          <xsd:element name="eventSource" type="xsd:string" minOccurs="0" nillable="true"/>
          <xsd:element name="maxRows" type="xsd:int"/>
          <xsd:element name="discardTruncatedBoo" type="xsd:boolean"/>
          <xsd:element name="discountPeriodDtm" type="xsd:dateTime"/>
          <xsd:element name="lastCustProdDiscUsageUK" type="ecaOnlineQuery:CustProdDiscUsageUK" minOccurs="0" nillable="true"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryDiscountsOutput_1">
        <xsd:sequence>
          <xsd:element name="result" type="ecaOnlineQuery:QueryDiscountResult_1"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryDiscountsOutput_2">
        <xsd:sequence>
          <xsd:element name="result" type="ecaOnlineQuery:QueryDiscountResult_2"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryDiscountsOutput_3">
        <xsd:sequence>
          <xsd:element name="queryDiscountResult" type="ecaOnlineQuery:QueryDiscountResult_3"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryDiscountsOutput_5">
        <xsd:sequence>
          <xsd:element name="queryDiscountResult" type="ecaOnlineQuery:QueryDiscountResult_5"/>
       </xsd:sequence>
  </xsd:complexType>



  <!-- Array Types -->
  <xsd:complexType name="ArrayOfNullableAccountEventData_1">
    <xsd:complexContent>
      <xsd:extension base="base:BaseStructure">
        <xsd:sequence>
          <xsd:element
            name="a"
            type="ecaOnlineQuery:AccountEventData_1"
            minOccurs="0"
            maxOccurs="unbounded"
            nillable="true"
          />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ArrayOfNullableDiscountData_1">
    <xsd:complexContent>
      <xsd:extension base="base:BaseStructure">
        <xsd:sequence>
          <xsd:element
            name="a"
            type="ecaOnlineQuery:DiscountData_1"
            minOccurs="0"
            maxOccurs="unbounded"
            nillable="true"
          />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ArrayOfNullableDiscountData_2">
    <xsd:complexContent>
      <xsd:extension base="base:BaseStructure">
        <xsd:sequence>
          <xsd:element
            name="a"
            type="ecaOnlineQuery:DiscountData_2"
            minOccurs="0"
            maxOccurs="unbounded"
            nillable="true"
          />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ArrayOfDiscountData_3">
    <xsd:complexContent>
      <xsd:extension base="base:BaseStructure">
        <xsd:sequence>
          <xsd:element
            name="a"
            type="ecaOnlineQuery:DiscountData_3"
            minOccurs="0"
            maxOccurs="unbounded"
          />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ArrayOfDiscountData_5">
    <xsd:complexContent>
      <xsd:extension base="base:BaseStructure">
        <xsd:sequence>
          <xsd:element
            name="a"
            type="ecaOnlineQuery:DiscountData_5"
            minOccurs="0"
            maxOccurs="unbounded"
          />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>


</xsd:schema>

<!-- eof ECA_OnlineQuery.xsd -->
