Release2.21/ECA.CST/customeca-j2ee/schema/ECA/ECA_Deposit.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- XML Schema for type definitions of component ECA -->
<!-- service Deposit. -->

<xsd:schema
  targetNamespace="urn:Convergys-Interface-ECA-Deposit"
  xmlns="urn:Convergys-Interface-ECA-Deposit"
  xmlns:ecaDeposit="urn:Convergys-Interface-ECA-Deposit"
  elementFormDefault="qualified"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:base="urn:Convergys-Interface-Base"
  xmlns:commonIML="urn:Convergys-Interface-CommonIML"
  xmlns:eca="urn:Convergys-Interface-ECA"
  xmlns:ecaAccount="urn:Convergys-Interface-ECA-Account"
  xmlns:ecaConfig="urn:Convergys-Interface-ECA-Config"
  xmlns:ecaCustomer="urn:Convergys-Interface-ECA-Customer"
  xmlns:ecaPayment="urn:Convergys-Interface-ECA-Payment"
  xmlns:ecaProductInstance="urn:Convergys-Interface-ECA-ProductInstance"
>
  <!-- Imports -->
  <xsd:import
    namespace="urn:Convergys-Interface-Base"
    schemaLocation="../../schema/Base/Base.xsd"
  />

  <xsd:import
    namespace="urn:Convergys-Interface-CommonIML"
    schemaLocation="../../schema/CommonIML/CommonIML.xsd"
  />

  <xsd:import
    namespace="urn:Convergys-Interface-ECA"
    schemaLocation="../../schema/ECA/ECA.xsd"
  />

  <xsd:import
    namespace="urn:Convergys-Interface-ECA-Account"
    schemaLocation="../../schema/ECA/ECA_Account.xsd"
  />

  <xsd:import
    namespace="urn:Convergys-Interface-ECA-Config"
    schemaLocation="../../schema/ECA/ECA_Config.xsd"
  />

  <xsd:import
    namespace="urn:Convergys-Interface-ECA-Customer"
    schemaLocation="../../schema/ECA/ECA_Customer.xsd"
  />

  <xsd:import
    namespace="urn:Convergys-Interface-ECA-Payment"
    schemaLocation="../../schema/ECA/ECA_Payment.xsd"
  />

  <xsd:import
    namespace="urn:Convergys-Interface-ECA-ProductInstance"
    schemaLocation="../../schema/ECA/ECA_ProductInstance.xsd"
  />


  <!-- Enumeration Types -->
  <xsd:simpleType name="AccountPILevel">
    <xsd:restriction base="xsd:int">
<!-- Enums are represented as int values in IML. The following list provides a mapping of
the different enum options supported by the server. Please note that the server might have
been upgraded to a more uptodate release and might support additional options. Some options
may also be deprecated.

       1 = AccountLevel
       2 = ProductInstanceLevel

-->
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="DepositRequestBillingStatus">
    <xsd:restriction base="xsd:int">
<!-- Enums are represented as int values in IML. The following list provides a mapping of
the different enum options supported by the server. Please note that the server might have
been upgraded to a more uptodate release and might support additional options. Some options
may also be deprecated.

       1 = Unbilled
       2 = Open
       3 = Refunded

-->
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="DepositRequestStatus">
    <xsd:restriction base="xsd:int">
<!-- Enums are represented as int values in IML. The following list provides a mapping of
the different enum options supported by the server. Please note that the server might have
been upgraded to a more uptodate release and might support additional options. Some options
may also be deprecated.

       1 = Created
       2 = PartiallyPaid
       3 = PaidOff
       4 = Cancelled

-->
    </xsd:restriction>
  </xsd:simpleType>


  <!-- Structure and Exception Types -->
  <xsd:complexType name="AllocateToDepositBalanceInput_1">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="accountPK" type="ecaAccount:AccountPK"/>
          <xsd:element name="accountPaymentSeq" type="xsd:int"/>
          <xsd:element name="paymentMoney" type="xsd:long"/>
          <xsd:element name="paymentDat" type="xsd:dateTime"/>
          <xsd:element name="allocateDepositBilledBoo" type="xsd:boolean"/>
          <xsd:element name="depositBalanceSeq" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="allocateToDBNoDRBoo" type="xsd:boolean"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="AllocateToDepositRequestInput_1">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="accountPK" type="ecaAccount:AccountPK"/>
          <xsd:element name="paymentMoney" type="xsd:int"/>
          <xsd:element name="paymentDat" type="xsd:dateTime"/>
          <xsd:element name="accountPaySeq" type="xsd:int"/>
          <xsd:element name="allocateDepositBilledBoo" type="xsd:boolean"/>
          <xsd:element name="depositRequestSeq" type="xsd:int" minOccurs="0" nillable="true"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ApplyDepositInterestToBalanceInput_1">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="accountPK" type="ecaAccount:AccountPK"/>
          <xsd:element name="depositBalanceSeq" type="xsd:int"/>
          <xsd:element name="depositRequestSeq" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="applyTillDat" type="xsd:dateTime"/>
          <xsd:element name="description" type="xsd:string" minOccurs="0" nillable="true"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ApplyDepositToBalanceInput_1">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="accountPK" type="ecaAccount:AccountPK"/>
          <xsd:element name="depositBalanceSeq" type="xsd:int"/>
          <xsd:element name="depositRequestSeq" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="depositAmount" type="xsd:long"/>
          <xsd:element name="description" type="xsd:string" minOccurs="0" nillable="true"/>
          <xsd:element name="applyOnterminateBoo" type="xsd:boolean"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="CalculateInterestData_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="accountPK" type="ecaAccount:AccountPK" minOccurs="0" nillable="true"/>
          <xsd:element name="depositRequestSeq" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="depositBalanceSeq" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="calculateInterestTillDat" type="xsd:dateTime"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="CalculateInterestOnDepositInput_1">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="calculateInterestData" type="ecaDeposit:CalculateInterestData_1"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="CalculateInterestOnDepositOutput_1">
        <xsd:sequence>
          <xsd:element name="interestAmount" type="xsd:double"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="CancelDepositRequestInput_1">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="accountPK" type="ecaAccount:AccountPK" minOccurs="0" nillable="true"/>
          <xsd:element name="depositRequestSeq" type="xsd:int"/>
          <xsd:element name="cancelReasonTxt" type="xsd:string"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="CreateDepositBalanceAndDepositRequestSuperInput_1">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="customerPK" type="ecaCustomer:CustomerPK"/>
          <xsd:element name="accountPK" type="ecaAccount:AccountPK" minOccurs="0" nillable="true"/>
          <xsd:element name="productInstancePK" type="ecaProductInstance:ProductInstancePK" minOccurs="0" nillable="true"/>
          <xsd:element name="depositBalanceSeq" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="depositBalanceDat" type="xsd:dateTime" minOccurs="0" nillable="true"/>
          <xsd:element name="periodicDepositRequestData" type="ecaDeposit:PeriodicDepositRequestData_1" minOccurs="0" nillable="true"/>
          <xsd:element name="nonPeriodicDepositRequestData" type="ecaDeposit:ArrayOfNonPeriodicDepositRequestData_1" minOccurs="0" nillable="true"/>
          <xsd:element name="isPeriodicBoo" type="xsd:boolean"/>
          <xsd:element name="isExistingDepositBalanceBoo" type="xsd:boolean"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="CreateDepositBalanceAndDepositRequestSuperOutput_1">
        <xsd:sequence>
          <xsd:element name="createDepositBalanceAndDepositRequestSuperResult" type="ecaDeposit:CreateDepositBalanceAndDepositRequestSuperResult_1" minOccurs="0" nillable="true"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="CreateDepositBalanceAndDepositRequestSuperResult_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="depositRequestPKArray" type="ecaDeposit:ArrayOfDepositRequestPK" minOccurs="0" nillable="true"/>
          <xsd:element name="hint" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="depositBalanceSeq" type="xsd:int"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="CreateDepositBalanceInput_1">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="accountPK" type="ecaAccount:AccountPK" minOccurs="0" nillable="true"/>
          <xsd:element name="productInstancePK" type="ecaProductInstance:ProductInstancePK" minOccurs="0" nillable="true"/>
          <xsd:element name="createdDat" type="xsd:dateTime"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="CreateDepositBalanceOutput_1">
        <xsd:sequence>
          <xsd:element name="depositBalanceSeq" type="xsd:int"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="CreateDepositRequestInput_1">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="customerPK" type="ecaCustomer:CustomerPK"/>
          <xsd:element name="accountPK" type="ecaAccount:AccountPK" minOccurs="0" nillable="true"/>
          <xsd:element name="productInstancePK" type="ecaProductInstance:ProductInstancePK" minOccurs="0" nillable="true"/>
          <xsd:element name="depositBalanceSeq" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="requestedDat" type="xsd:dateTime"/>
          <xsd:element name="requestDueDat" type="xsd:dateTime" minOccurs="0" nillable="true"/>
          <xsd:element name="requestedMny" type="xsd:long"/>
          <xsd:element name="createdReasonTxt" type="xsd:string"/>
          <xsd:element name="installmentId" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="totalInstalmentsMny" type="xsd:long" minOccurs="0" nillable="true"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="CreateDepositRequestOutput_1">
        <xsd:sequence>
          <xsd:element name="depositRequestSeq" type="xsd:int"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="DepositBalanceData_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="depositBalanceMny" type="xsd:long" minOccurs="0" nillable="true"/>
          <xsd:element name="firstPaymentDat" type="xsd:dateTime" minOccurs="0" nillable="true"/>
          <xsd:element name="interestAppliedDat" type="xsd:dateTime" minOccurs="0" nillable="true"/>
          <xsd:element name="totalRefundedMny" type="xsd:long" minOccurs="0" nillable="true"/>
          <xsd:element name="eligibleRefundDat" type="xsd:dateTime" minOccurs="0" nillable="true"/>
          <xsd:element name="nextIntApplicationDat" type="xsd:dateTime" minOccurs="0" nillable="true"/>
          <xsd:element name="depositBalanceSeq" type="xsd:int"/>
          <xsd:element name="depositBalanceDat" type="xsd:dateTime"/>
          <xsd:element name="customerRef" type="xsd:string"/>
          <xsd:element name="accountNum" type="xsd:string"/>
          <xsd:element name="createdDat" type="xsd:dateTime"/>
          <xsd:element name="domainId" type="xsd:int"/>
          <xsd:element name="productSeq" type="xsd:int" minOccurs="0" nillable="true"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="DepositBalanceDataJoin_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="depositBalanceSummaryJoin" type="ecaDeposit:DepositBalanceSummaryJoin_1"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="DepositBalancePK">
    <xsd:complexContent>
      <xsd:extension base="eca:PrimaryKey">
        <xsd:sequence>
          <xsd:element name="depositBalanceSeq" type="xsd:int"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="DepositBalanceSummary_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="depositBalanceSeq" type="xsd:int"/>
          <xsd:element name="depositBalanceDat" type="xsd:dateTime"/>
          <xsd:element name="customerRef" type="xsd:string"/>
          <xsd:element name="accountNum" type="xsd:string"/>
          <xsd:element name="createdDat" type="xsd:dateTime"/>
          <xsd:element name="domainId" type="xsd:int"/>
          <xsd:element name="productSeq" type="xsd:int" minOccurs="0" nillable="true"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="DepositBalanceSummaryJoin_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="DepositBalancesWithRequestIndicator_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="depositBalanceData" type="ecaDeposit:DepositBalanceData_1" minOccurs="0" nillable="true"/>
          <xsd:element name="depositBalanceSummary" type="ecaDeposit:DepositBalanceSummary_1" minOccurs="0" nillable="true"/>
          <xsd:element name="isDepositRequestExist" type="xsd:boolean"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="DepositRequestData_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="installmentId" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="totalInstallmentMny" type="xsd:long" minOccurs="0" nillable="true"/>
          <xsd:element name="dueDat" type="xsd:dateTime" minOccurs="0" nillable="true"/>
          <xsd:element name="paidOffDat" type="xsd:dateTime" minOccurs="0" nillable="true"/>
          <xsd:element name="interestCalculatedToDat" type="xsd:dateTime" minOccurs="0" nillable="true"/>
          <xsd:element name="totalRefundedMny" type="xsd:long" minOccurs="0" nillable="true"/>
          <xsd:element name="depositRequestBillStatus" type="ecaDeposit:DepositRequestBillingStatus" minOccurs="0" nillable="true"/>
          <xsd:element name="billSeq" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="billVersion" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="requestCancellationDat" type="xsd:dateTime" minOccurs="0" nillable="true"/>
          <xsd:element name="cancelBillSeq" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="cancelBillVersion" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="cancelReasonTxt" type="xsd:string"/>
          <xsd:element name="eligibleRefundDat" type="xsd:dateTime" minOccurs="0" nillable="true"/>
          <xsd:element name="nextIntApplicationDat" type="xsd:dateTime" minOccurs="0" nillable="true"/>
          <xsd:element name="cancelDepositReqSeq" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="depositBalanceData" type="ecaDeposit:DepositBalanceData_1" minOccurs="0" nillable="true"/>
          <xsd:element name="depositRequestSeq" type="xsd:int"/>
          <xsd:element name="depositRequestDat" type="xsd:dateTime"/>
          <xsd:element name="depositRequestStatus" type="ecaDeposit:DepositRequestStatus"/>
          <xsd:element name="depositRequestMny" type="xsd:long"/>
          <xsd:element name="createdReasonTxt" type="xsd:string"/>
          <xsd:element name="outstandingMny" type="xsd:long"/>
          <xsd:element name="createdDtm" type="xsd:dateTime"/>
          <xsd:element name="depositBalanceSeq" type="xsd:int"/>
          <xsd:element name="customerRef" type="xsd:string"/>
          <xsd:element name="accountNum" type="xsd:string"/>
          <xsd:element name="domainId" type="xsd:int"/>
          <xsd:element name="productSeq" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="depositBalanceSummary" type="ecaDeposit:DepositBalanceSummary_1" minOccurs="0" nillable="true"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="DepositRequestDataJoin_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="depositRequestSummaryJoin" type="ecaDeposit:DepositRequestSummaryJoin_1"/>
          <xsd:element name="depositBalanceDataJoin" type="ecaDeposit:DepositBalanceDataJoin_1" minOccurs="0" nillable="true"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="DepositRequestPK">
    <xsd:complexContent>
      <xsd:extension base="eca:PrimaryKey">
        <xsd:sequence>
          <xsd:element name="depositRequestSeq" type="xsd:int"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="DepositRequestSummary_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="depositRequestSeq" type="xsd:int"/>
          <xsd:element name="depositRequestDat" type="xsd:dateTime"/>
          <xsd:element name="depositRequestStatus" type="ecaDeposit:DepositRequestStatus"/>
          <xsd:element name="depositRequestMny" type="xsd:long"/>
          <xsd:element name="createdReasonTxt" type="xsd:string"/>
          <xsd:element name="outstandingMny" type="xsd:long"/>
          <xsd:element name="createdDtm" type="xsd:dateTime"/>
          <xsd:element name="depositBalanceSeq" type="xsd:int"/>
          <xsd:element name="customerRef" type="xsd:string"/>
          <xsd:element name="accountNum" type="xsd:string"/>
          <xsd:element name="domainId" type="xsd:int"/>
          <xsd:element name="productSeq" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="depositBalanceSummary" type="ecaDeposit:DepositBalanceSummary_1" minOccurs="0" nillable="true"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="DepositRequestSummaryJoin_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="depositBalanceSummaryJoin" type="ecaDeposit:DepositBalanceSummaryJoin_1" minOccurs="0" nillable="true"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="InterestAppliedData_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="interestAppliedId" type="xsd:int"/>
          <xsd:element name="interestAppliedFromDat" type="xsd:dateTime"/>
          <xsd:element name="interestAppliedToDat" type="xsd:dateTime"/>
          <xsd:element name="interestAppliedMny" type="xsd:long"/>
          <xsd:element name="depositRequestSeq" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="depositBalanceSeq" type="xsd:int"/>
          <xsd:element name="interestId" type="xsd:int"/>
          <xsd:element name="customerRef" type="xsd:string"/>
          <xsd:element name="accountNum" type="xsd:string"/>
          <xsd:element name="productSeq" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="interestAppliedDat" type="xsd:dateTime"/>
          <xsd:element name="domainId" type="xsd:int"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ModifyDepositBalanceInput_1">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="depositBalanceSeq" type="xsd:int"/>
          <xsd:element name="nextActionDat" type="xsd:dateTime" minOccurs="0" nillable="true"/>
          <xsd:element name="eligibleRefundDat" type="xsd:dateTime" minOccurs="0" nillable="true"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ModifyDepositRequestInput_1">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="depositRequestSeq" type="xsd:int"/>
          <xsd:element name="oldRequestDueDat" type="xsd:dateTime" minOccurs="0" nillable="true"/>
          <xsd:element name="oldRequestedMny" type="xsd:long" minOccurs="0" nillable="true"/>
          <xsd:element name="oldEligibleRefundDat" type="xsd:dateTime" minOccurs="0" nillable="true"/>
          <xsd:element name="oldNextInterestApplyDat" type="xsd:dateTime" minOccurs="0" nillable="true"/>
          <xsd:element name="newRequestDueDat" type="xsd:dateTime" minOccurs="0" nillable="true"/>
          <xsd:element name="newRequestedMny" type="xsd:long" minOccurs="0" nillable="true"/>
          <xsd:element name="newEligibleRefundDat" type="xsd:dateTime" minOccurs="0" nillable="true"/>
          <xsd:element name="newNextInterestApplyDat" type="xsd:dateTime" minOccurs="0" nillable="true"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ModifyDepositRequestInput_2">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="depositRequestSeq" type="xsd:int"/>
          <xsd:element name="oldRequestDat" type="xsd:dateTime"/>
          <xsd:element name="oldRequestDueDat" type="xsd:dateTime" minOccurs="0" nillable="true"/>
          <xsd:element name="oldRequestedMny" type="xsd:long" minOccurs="0" nillable="true"/>
          <xsd:element name="oldEligibleRefundDat" type="xsd:dateTime" minOccurs="0" nillable="true"/>
          <xsd:element name="oldNextInterestApplyDat" type="xsd:dateTime" minOccurs="0" nillable="true"/>
          <xsd:element name="newRequestDat" type="xsd:dateTime"/>
          <xsd:element name="newRequestDueDat" type="xsd:dateTime" minOccurs="0" nillable="true"/>
          <xsd:element name="newRequestedMny" type="xsd:long" minOccurs="0" nillable="true"/>
          <xsd:element name="newEligibleRefundDat" type="xsd:dateTime" minOccurs="0" nillable="true"/>
          <xsd:element name="newNextInterestApplyDat" type="xsd:dateTime" minOccurs="0" nillable="true"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ModifyDepositRequestInput_3">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="depositRequestSeq" type="xsd:int"/>
          <xsd:element name="oldRequestDat" type="xsd:dateTime"/>
          <xsd:element name="oldRequestDueDat" type="xsd:dateTime" minOccurs="0" nillable="true"/>
          <xsd:element name="oldRequestedMny" type="xsd:long"/>
          <xsd:element name="oldEligibleRefundDat" type="xsd:dateTime" minOccurs="0" nillable="true"/>
          <xsd:element name="oldNextInterestApplyDat" type="xsd:dateTime" minOccurs="0" nillable="true"/>
          <xsd:element name="newRequestDat" type="xsd:dateTime"/>
          <xsd:element name="newRequestDueDat" type="xsd:dateTime" minOccurs="0" nillable="true"/>
          <xsd:element name="newRequestedMny" type="xsd:long"/>
          <xsd:element name="newEligibleRefundDat" type="xsd:dateTime" minOccurs="0" nillable="true"/>
          <xsd:element name="newNextInterestApplyDat" type="xsd:dateTime" minOccurs="0" nillable="true"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="NonPeriodicDepositRequestData_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="depositRequestDat" type="xsd:dateTime"/>
          <xsd:element name="depositRequestedMoney" type="xsd:long"/>
          <xsd:element name="createdReasonTxt" type="xsd:string"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="PeriodicDepositRequestData_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="depositRequestStartDat" type="xsd:dateTime"/>
          <xsd:element name="depositRequestMoney" type="xsd:long"/>
          <xsd:element name="createdReasonTxt" type="xsd:string"/>
          <xsd:element name="numberOfInstallments" type="xsd:int"/>
          <xsd:element name="installmentPeriodUnits" type="ecaConfig:PeriodUnits"/>
          <xsd:element name="installmentPeriod" type="xsd:int"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="QueryAllAccountPaymentsForDepositResult_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="accountPaymentDataForDepositArray" type="ecaPayment:ArrayOfAccountPaymentDataForDeposit_1" minOccurs="0" nillable="true"/>
          <xsd:element name="truncated" type="xsd:boolean"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="QueryAllDepositAndInterestToBalanceTransfersInput_1">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="accountPK" type="ecaAccount:AccountPK"/>
          <xsd:element name="depositBalancePK" type="ecaDeposit:DepositBalancePK" minOccurs="0" nillable="true"/>
          <xsd:element name="depositRequestPK" type="ecaDeposit:DepositRequestPK" minOccurs="0" nillable="true"/>
          <xsd:element name="maxRows" type="xsd:int"/>
          <xsd:element name="discardTruncatedBoo" type="xsd:boolean"/>
          <xsd:element name="lastAccountPaymentPK" type="ecaPayment:AccountPaymentPK" minOccurs="0" nillable="true"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryAllDepositAndInterestToBalanceTransfersOutput_1">
        <xsd:sequence>
          <xsd:element name="queryAccountPaymentsForDepositResult" type="ecaDeposit:QueryAllAccountPaymentsForDepositResult_1"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryAllDepositBalancesInput_1">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="accountPK" type="ecaAccount:AccountPK" minOccurs="0" nillable="true"/>
          <xsd:element name="productInstancePK" type="ecaProductInstance:ProductInstancePK" minOccurs="0" nillable="true"/>
          <xsd:element name="accountPILevel" type="ecaDeposit:AccountPILevel" minOccurs="0" nillable="true"/>
          <xsd:element name="depositBalanceDataJoin" type="ecaDeposit:DepositBalanceDataJoin_1" minOccurs="0" nillable="true"/>
          <xsd:element name="depositBalanceSummaryJoin" type="ecaDeposit:DepositBalanceSummaryJoin_1" minOccurs="0" nillable="true"/>
          <xsd:element name="maxRows" type="xsd:int"/>
          <xsd:element name="discardTruncated" type="xsd:boolean"/>
          <xsd:element name="lastDepositBalanceSeq" type="xsd:int" minOccurs="0" nillable="true"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryAllDepositBalancesOutput_1">
        <xsd:sequence>
          <xsd:element name="result" type="ecaDeposit:QueryAllDepositBalancesResult_1"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryAllDepositBalancesResult_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="depositBalancesWithRequestIndicatorArray" type="ecaDeposit:ArrayOfDepositBalancesWithRequestIndicator_1" minOccurs="0" nillable="true"/>
          <xsd:element name="truncated" type="xsd:boolean"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="QueryAllDepositRequestsInput_1">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="accountPK" type="ecaAccount:AccountPK" minOccurs="0" nillable="true"/>
          <xsd:element name="productInstancePK" type="ecaProductInstance:ProductInstancePK" minOccurs="0" nillable="true"/>
          <xsd:element name="depositBalanceSeq" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="accountPILevel" type="ecaDeposit:AccountPILevel" minOccurs="0" nillable="true"/>
          <xsd:element name="depositRequestDataJoin" type="ecaDeposit:DepositRequestDataJoin_1" minOccurs="0" nillable="true"/>
          <xsd:element name="depositRequestSummaryJoin" type="ecaDeposit:DepositRequestSummaryJoin_1" minOccurs="0" nillable="true"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryAllDepositRequestsInput_2">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="accountPK" type="ecaAccount:AccountPK" minOccurs="0" nillable="true"/>
          <xsd:element name="productInstancePK" type="ecaProductInstance:ProductInstancePK" minOccurs="0" nillable="true"/>
          <xsd:element name="depositBalanceSeq" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="accountPILevel" type="ecaDeposit:AccountPILevel" minOccurs="0" nillable="true"/>
          <xsd:element name="billSeq" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="depositRequestDataJoin" type="ecaDeposit:DepositRequestDataJoin_1" minOccurs="0" nillable="true"/>
          <xsd:element name="depositRequestSummaryJoin" type="ecaDeposit:DepositRequestSummaryJoin_1" minOccurs="0" nillable="true"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryAllDepositRequestsOutput_1">
        <xsd:sequence>
          <xsd:element name="result" type="ecaDeposit:ArrayOfQueryDepositRequestResult_1" minOccurs="0" nillable="true"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryAllDepositRequestsOutput_2">
        <xsd:sequence>
          <xsd:element name="result" type="ecaDeposit:ArrayOfQueryDepositRequestResult_1" minOccurs="0" nillable="true"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryAllInterestAppliedDetailsInput_1">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="accountPK" type="ecaAccount:AccountPK"/>
          <xsd:element name="depositRequestSeq" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="depositBalanceSeq" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="maxRows" type="xsd:int"/>
          <xsd:element name="discardTruncated" type="xsd:boolean"/>
          <xsd:element name="lastInterestAppliedId" type="xsd:int" minOccurs="0" nillable="true"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryAllInterestAppliedDetailsOutput_1">
        <xsd:sequence>
          <xsd:element name="result" type="ecaDeposit:QueryAllInterestAppliedDetailsResult_1"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryAllInterestAppliedDetailsResult_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="interestAppliedDataArray" type="ecaDeposit:ArrayOfInterestAppliedData_1" minOccurs="0" nillable="true"/>
          <xsd:element name="truncated" type="xsd:boolean"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="QueryDepositBalanceInput_1">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="depositBalanceSeq" type="xsd:int"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryDepositBalanceOutput_1">
        <xsd:sequence>
          <xsd:element name="result" type="ecaDeposit:QueryDepositBalanceResult_1"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryDepositBalanceResult_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="depositBalanceData" type="ecaDeposit:DepositBalanceData_1" minOccurs="0" nillable="true"/>
          <xsd:element name="depositRequestDataArray" type="ecaDeposit:ArrayOfDepositRequestData_1" minOccurs="0" nillable="true"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="QueryDepositRequestInput_1">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="depositRequestSeq" type="xsd:int"/>
          <xsd:element name="depositRequestDataJoin" type="ecaDeposit:DepositRequestDataJoin_1"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryDepositRequestOutput_1">
        <xsd:sequence>
          <xsd:element name="result" type="ecaDeposit:DepositRequestData_1"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryDepositRequestResult_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="depositRequestData" type="ecaDeposit:DepositRequestData_1" minOccurs="0" nillable="true"/>
          <xsd:element name="depositRequestSummary" type="ecaDeposit:DepositRequestSummary_1" minOccurs="0" nillable="true"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>



  <!-- Array Types -->
  <xsd:complexType name="ArrayOfDepositBalancesWithRequestIndicator_1">
    <xsd:complexContent>
      <xsd:extension base="base:BaseStructure">
        <xsd:sequence>
          <xsd:element
            name="a"
            type="ecaDeposit:DepositBalancesWithRequestIndicator_1"
            minOccurs="0"
            maxOccurs="unbounded"
          />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ArrayOfDepositRequestData_1">
    <xsd:complexContent>
      <xsd:extension base="base:BaseStructure">
        <xsd:sequence>
          <xsd:element
            name="a"
            type="ecaDeposit:DepositRequestData_1"
            minOccurs="0"
            maxOccurs="unbounded"
          />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ArrayOfDepositRequestPK">
    <xsd:complexContent>
      <xsd:extension base="base:BaseStructure">
        <xsd:sequence>
          <xsd:element
            name="a"
            type="ecaDeposit:DepositRequestPK"
            minOccurs="0"
            maxOccurs="unbounded"
          />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ArrayOfInterestAppliedData_1">
    <xsd:complexContent>
      <xsd:extension base="base:BaseStructure">
        <xsd:sequence>
          <xsd:element
            name="a"
            type="ecaDeposit:InterestAppliedData_1"
            minOccurs="0"
            maxOccurs="unbounded"
          />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ArrayOfNonPeriodicDepositRequestData_1">
    <xsd:complexContent>
      <xsd:extension base="base:BaseStructure">
        <xsd:sequence>
          <xsd:element
            name="a"
            type="ecaDeposit:NonPeriodicDepositRequestData_1"
            minOccurs="0"
            maxOccurs="unbounded"
          />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ArrayOfQueryDepositRequestResult_1">
    <xsd:complexContent>
      <xsd:extension base="base:BaseStructure">
        <xsd:sequence>
          <xsd:element
            name="a"
            type="ecaDeposit:QueryDepositRequestResult_1"
            minOccurs="0"
            maxOccurs="unbounded"
          />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>


</xsd:schema>

<!-- eof ECA_Deposit.xsd -->
