Release2.21/ECA.CST/customeca-j2ee/schema/ECA/ECA_BudgetCentre.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- XML Schema for type definitions of component ECA -->
<!-- service BudgetCentre. -->

<xsd:schema
  targetNamespace="urn:Convergys-Interface-ECA-BudgetCentre"
  xmlns="urn:Convergys-Interface-ECA-BudgetCentre"
  xmlns:ecaBudgetCentre="urn:Convergys-Interface-ECA-BudgetCentre"
  elementFormDefault="qualified"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:base="urn:Convergys-Interface-Base"
  xmlns:commonIML="urn:Convergys-Interface-CommonIML"
  xmlns:eca="urn:Convergys-Interface-ECA"
  xmlns:ecaAccount="urn:Convergys-Interface-ECA-Account"
  xmlns:ecaAddress="urn:Convergys-Interface-ECA-Address"
  xmlns:ecaBill="urn:Convergys-Interface-ECA-Bill"
  xmlns:ecaContact="urn:Convergys-Interface-ECA-Contact"
  xmlns:ecaOneTimeCharge="urn:Convergys-Interface-ECA-OneTimeCharge"
>
  <!-- Imports -->
  <xsd:import
    namespace="urn:Convergys-Interface-Base"
    schemaLocation="../../schema/Base/Base.xsd"
  />

  <xsd:import
    namespace="urn:Convergys-Interface-CommonIML"
    schemaLocation="../../schema/CommonIML/CommonIML.xsd"
  />

  <xsd:import
    namespace="urn:Convergys-Interface-ECA"
    schemaLocation="../../schema/ECA/ECA.xsd"
  />

  <xsd:import
    namespace="urn:Convergys-Interface-ECA-Account"
    schemaLocation="../../schema/ECA/ECA_Account.xsd"
  />

  <xsd:import
    namespace="urn:Convergys-Interface-ECA-Address"
    schemaLocation="../../schema/ECA/ECA_Address.xsd"
  />

  <xsd:import
    namespace="urn:Convergys-Interface-ECA-Bill"
    schemaLocation="../../schema/ECA/ECA_Bill.xsd"
  />

  <xsd:import
    namespace="urn:Convergys-Interface-ECA-Contact"
    schemaLocation="../../schema/ECA/ECA_Contact.xsd"
  />

  <xsd:import
    namespace="urn:Convergys-Interface-ECA-OneTimeCharge"
    schemaLocation="../../schema/ECA/ECA_OneTimeCharge.xsd"
  />


  <!-- Enumeration Types -->

  <!-- Structure and Exception Types -->
  <xsd:complexType name="AddBudgetCentreToBudgetCentreGroupInput_1">
        <xsd:sequence>
          <xsd:element name="budgetCentreMemberData" type="ecaBudgetCentre:BudgetCentreMemberData_1"/>
          <xsd:element name="summaryLockVersion" type="xsd:long"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="AddBudgetCentreToBudgetCentreGroupOutput_1">
        <xsd:sequence>
          <xsd:element name="result" type="xsd:long"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="BudgetCentreAndGroupElement_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="budgetCentreGroupData" type="ecaBudgetCentre:BudgetCentreGroupData_1"/>
          <xsd:element name="budgetCentreData" type="ecaBudgetCentre:BudgetCentreData_1"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="BudgetCentreData_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="budgetCentreName" type="xsd:string"/>
          <xsd:element name="parentBudgetCentrePK" type="ecaBudgetCentre:BudgetCentrePK" minOccurs="0" nillable="true"/>
          <xsd:element name="startDat" type="xsd:dateTime"/>
          <xsd:element name="upToDat" type="xsd:dateTime" minOccurs="0" nillable="true"/>
          <xsd:element name="budgetCentreLockVersion" type="xsd:long"/>
          <xsd:element name="parentBudgetCentreData" type="ecaBudgetCentre:BudgetCentreData_1" minOccurs="0" nillable="true"/>
          <xsd:element name="hint" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="accountNum" type="xsd:string"/>
          <xsd:element name="budgetCentreSeq" type="xsd:int"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="BudgetCentreDataJoin_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="parentBudgetCentreDataJoin" type="ecaBudgetCentre:BudgetCentreDataJoin_1" minOccurs="0" nillable="true"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="BudgetCentreGroupData_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="groupName" type="xsd:string"/>
          <xsd:element name="groupDesc" type="xsd:string" minOccurs="0" nillable="true"/>
          <xsd:element name="hint" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="accountNum" type="xsd:string"/>
          <xsd:element name="summarySeq" type="xsd:int"/>
          <xsd:element name="groupSeq" type="xsd:int"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="BudgetCentreGroupDataJoin_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="BudgetCentreGroupPK">
    <xsd:complexContent>
      <xsd:extension base="eca:PrimaryKey">
        <xsd:sequence>
          <xsd:element name="accountNum" type="xsd:string"/>
          <xsd:element name="summarySeq" type="xsd:int"/>
          <xsd:element name="groupSeq" type="xsd:int"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="BudgetCentreMemberData_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="budgetCentreGroupPK" type="ecaBudgetCentre:BudgetCentreGroupPK"/>
          <xsd:element name="budgetCentrePK" type="ecaBudgetCentre:BudgetCentrePK"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="BudgetCentrePK">
    <xsd:complexContent>
      <xsd:extension base="eca:PrimaryKey">
        <xsd:sequence>
          <xsd:element name="accountNum" type="xsd:string"/>
          <xsd:element name="budgetCentreSeq" type="xsd:int"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="BudgetCentreReportData_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="startDat" type="xsd:dateTime"/>
          <xsd:element name="upToDat" type="xsd:dateTime" minOccurs="0" nillable="true"/>
          <xsd:element name="reportingContactPK" type="ecaContact:ContactPK"/>
          <xsd:element name="billStyleId" type="xsd:int"/>
          <xsd:element name="billHandlingCode" type="xsd:string" minOccurs="0" nillable="true"/>
          <xsd:element name="reportingContactData" type="ecaContact:ContactData_5_1" minOccurs="0" nillable="true"/>
          <xsd:element name="billStyleIdData" type="ecaBill:BillStyleData_5_1" minOccurs="0" nillable="true"/>
          <xsd:element name="billHandlingCodeData" type="ecaBill:BillHandlingCodeData_5_1" minOccurs="0" nillable="true"/>
          <xsd:element name="hint" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="accountNum" type="xsd:string"/>
          <xsd:element name="budgetCentreReportSeq" type="xsd:int"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="BudgetCentreReportData_2">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="startDat" type="xsd:dateTime"/>
          <xsd:element name="upToDat" type="xsd:dateTime" minOccurs="0" nillable="true"/>
          <xsd:element name="reportingContactPK" type="ecaContact:ContactPK"/>
          <xsd:element name="billStyleId" type="xsd:int"/>
          <xsd:element name="billHandlingCode" type="xsd:string" minOccurs="0" nillable="true"/>
          <xsd:element name="reportingContactData" type="ecaContact:ContactData_5_1" minOccurs="0" nillable="true"/>
          <xsd:element name="billStyleIdData" type="ecaBill:BillStyleData_6" minOccurs="0" nillable="true"/>
          <xsd:element name="billHandlingCodeData" type="ecaBill:BillHandlingCodeData_5_1" minOccurs="0" nillable="true"/>
          <xsd:element name="hint" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="accountNum" type="xsd:string"/>
          <xsd:element name="budgetCentreReportSeq" type="xsd:int"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="BudgetCentreReportDataJoin_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="reportingContactDataJoin" type="ecaContact:ContactDataJoin_5_1" minOccurs="0" nillable="true"/>
          <xsd:element name="billStyleDataJoin" type="ecaBill:BillStyleDataJoin_5_1" minOccurs="0" nillable="true"/>
          <xsd:element name="billHandlingCodeDataJoin" type="ecaBill:BillHandlingCodeDataJoin_5_1" minOccurs="0" nillable="true"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="BudgetCentreReportDataJoin_2">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="reportingContactDataJoin" type="ecaContact:ContactDataJoin_5_1" minOccurs="0" nillable="true"/>
          <xsd:element name="billStyleDataJoin" type="ecaBill:BillStyleDataJoin_6" minOccurs="0" nillable="true"/>
          <xsd:element name="billHandlingCodeDataJoin" type="ecaBill:BillHandlingCodeDataJoin_5_1" minOccurs="0" nillable="true"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="BudgetCentreReportPK">
    <xsd:complexContent>
      <xsd:extension base="eca:PrimaryKey">
        <xsd:sequence>
          <xsd:element name="accountNum" type="xsd:string"/>
          <xsd:element name="budgetCentreReportSeq" type="xsd:int"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="BudgetCentreSummaryData_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="summaryLockVersion" type="xsd:long"/>
          <xsd:element name="summaryName" type="xsd:string"/>
          <xsd:element name="summaryDesc" type="xsd:string" minOccurs="0" nillable="true"/>
          <xsd:element name="hint" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="accountNum" type="xsd:string"/>
          <xsd:element name="summarySeq" type="xsd:int"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="BudgetCentreSummaryDataJoin_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="BudgetCentreSummaryPK">
    <xsd:complexContent>
      <xsd:extension base="eca:PrimaryKey">
        <xsd:sequence>
          <xsd:element name="accountNum" type="xsd:string"/>
          <xsd:element name="summarySeq" type="xsd:int"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="CreateBudgetCentreGroupInput_1">
        <xsd:sequence>
          <xsd:element name="budgetCentreSummaryPK" type="ecaBudgetCentre:BudgetCentreSummaryPK"/>
          <xsd:element name="summaryLockVersion" type="xsd:long"/>
          <xsd:element name="newBudgetCentreGroupData" type="ecaBudgetCentre:NewBudgetCentreGroupData_1"/>
          <xsd:element name="addBudgetCentresArray" type="ecaBudgetCentre:ArrayOfBudgetCentrePK" minOccurs="0" nillable="true"/>
          <xsd:element name="moveBudgetCentresArray" type="ecaBudgetCentre:ArrayOfBudgetCentreMemberData_1" minOccurs="0" nillable="true"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="CreateBudgetCentreGroupOutput_1">
        <xsd:sequence>
          <xsd:element name="result" type="ecaBudgetCentre:CreateBudgetCentreGroupResult_1"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="CreateBudgetCentreGroupResult_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="budgetCentreGroupPK" type="ecaBudgetCentre:BudgetCentreGroupPK"/>
          <xsd:element name="summaryLockVersion" type="xsd:long"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="CreateBudgetCentreInput_1">
        <xsd:sequence>
          <xsd:element name="accountPK" type="ecaAccount:AccountPK"/>
          <xsd:element name="newBudgetCentreData" type="ecaBudgetCentre:NewBudgetCentreData_1"/>
          <xsd:element name="newBudgetCentreReportSuperDataArray" type="ecaBudgetCentre:ArrayOfNewBudgetCentreReportSuperData_1" minOccurs="0" nillable="true"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="CreateBudgetCentreOutput_1">
        <xsd:sequence>
          <xsd:element name="result" type="ecaBudgetCentre:CreateBudgetCentreResult_1"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="CreateBudgetCentreReportInput_1">
        <xsd:sequence>
          <xsd:element name="budgetCentrePK" type="ecaBudgetCentre:BudgetCentrePK"/>
          <xsd:element name="budgetCentreLockVersion" type="xsd:long"/>
          <xsd:element name="newBudgetCentreReportSuperData" type="ecaBudgetCentre:NewBudgetCentreReportSuperData_1"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="CreateBudgetCentreReportOutput_1">
        <xsd:sequence>
          <xsd:element name="result" type="ecaBudgetCentre:CreateBudgetCentreReportResult_1"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="CreateBudgetCentreReportResult_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="createdBudgetCentreReport" type="ecaBudgetCentre:CreatedBudgetCentreReport_1"/>
          <xsd:element name="budgetCentreLockVersion" type="xsd:long"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="CreateBudgetCentreResult_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="budgetCentrePK" type="ecaBudgetCentre:BudgetCentrePK"/>
          <xsd:element name="createdBudgetCentreReportArray" type="ecaBudgetCentre:ArrayOfCreatedBudgetCentreReport_1" minOccurs="0" nillable="true"/>
          <xsd:element name="budgetCentreLockVersion" type="xsd:long"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="CreateBudgetCentreSummaryInput_1">
        <xsd:sequence>
          <xsd:element name="accountPK" type="ecaAccount:AccountPK"/>
          <xsd:element name="newBudgetCentreSummaryData" type="ecaBudgetCentre:NewBudgetCentreSummaryData_1"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="CreateBudgetCentreSummaryOutput_1">
        <xsd:sequence>
          <xsd:element name="result" type="ecaBudgetCentre:CreateBudgetCentreSummaryResult_1"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="CreateBudgetCentreSummaryResult_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="summaryLockVersion" type="xsd:long"/>
          <xsd:element name="hint" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="accountNum" type="xsd:string"/>
          <xsd:element name="summarySeq" type="xsd:int"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="CreatedBudgetCentreReport_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="budgetCentreReportPK" type="ecaBudgetCentre:BudgetCentreReportPK"/>
          <xsd:element name="reportingContactPK" type="ecaContact:ContactPK"/>
          <xsd:element name="reportingContactAddressPK" type="ecaAddress:AddressPK"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="DeleteBudgetCentreGroupInput_1">
        <xsd:sequence>
          <xsd:element name="budgetCentreGroupPK" type="ecaBudgetCentre:BudgetCentreGroupPK"/>
          <xsd:element name="summaryLockVersion" type="xsd:long"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="DeleteBudgetCentreGroupOutput_1">
        <xsd:sequence>
          <xsd:element name="result" type="xsd:long"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="DeleteBudgetCentreInput_1">
        <xsd:sequence>
          <xsd:element name="budgetCentrePK" type="ecaBudgetCentre:BudgetCentrePK"/>
          <xsd:element name="budgetCentreLockVersion" type="xsd:long"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="DeleteBudgetCentreInput_2">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="budgetCentrePK" type="ecaBudgetCentre:BudgetCentrePK"/>
          <xsd:element name="budgetCentreLockVersion" type="xsd:long"/>
          <xsd:element name="autoOTCHandling" type="xsd:boolean"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="DeleteBudgetCentreReportInput_1">
        <xsd:sequence>
          <xsd:element name="budgetCentreReportPK" type="ecaBudgetCentre:BudgetCentreReportPK"/>
          <xsd:element name="budgetCentreLockVersion" type="xsd:long"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="DeleteBudgetCentreReportOutput_1">
        <xsd:sequence>
          <xsd:element name="result" type="xsd:long"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="DeleteBudgetCentreSummaryInput_1">
        <xsd:sequence>
          <xsd:element name="budgetCentreSummaryPK" type="ecaBudgetCentre:BudgetCentreSummaryPK"/>
          <xsd:element name="summaryLockVersion" type="xsd:long"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ModifyBudgetCentreData_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="bitFlags" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="budgetCentreName" type="xsd:string" minOccurs="0" nillable="true"/>
          <xsd:element name="parentBudgetCentrePK" type="ecaBudgetCentre:BudgetCentrePK" minOccurs="0" nillable="true"/>
          <xsd:element name="startDat" type="xsd:dateTime" minOccurs="0" nillable="true"/>
          <xsd:element name="upToDat" type="xsd:dateTime" minOccurs="0" nillable="true"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ModifyBudgetCentreGroupData_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="bitFlags" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="groupName" type="xsd:string"/>
          <xsd:element name="groupDesc" type="xsd:string" minOccurs="0" nillable="true"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ModifyBudgetCentreGroupInput_1">
        <xsd:sequence>
          <xsd:element name="budgetCentreGroupPK" type="ecaBudgetCentre:BudgetCentreGroupPK"/>
          <xsd:element name="summaryLockVersion" type="xsd:long"/>
          <xsd:element name="modifyBudgetCentreGroupData" type="ecaBudgetCentre:ModifyBudgetCentreGroupData_1"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ModifyBudgetCentreGroupOutput_1">
        <xsd:sequence>
          <xsd:element name="result" type="xsd:long"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ModifyBudgetCentreInput_1">
        <xsd:sequence>
          <xsd:element name="budgetCentrePK" type="ecaBudgetCentre:BudgetCentrePK"/>
          <xsd:element name="budgetCentreLockVersion" type="xsd:long"/>
          <xsd:element name="modifyBudgetCentreData" type="ecaBudgetCentre:ModifyBudgetCentreData_1"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ModifyBudgetCentreOutput_1">
        <xsd:sequence>
          <xsd:element name="result" type="xsd:long"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ModifyBudgetCentreReportData_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="bitFlags" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="startDat" type="xsd:dateTime" minOccurs="0" nillable="true"/>
          <xsd:element name="reportingContactPK" type="ecaContact:ContactPK" minOccurs="0" nillable="true"/>
          <xsd:element name="billStyleId" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="upToDat" type="xsd:dateTime" minOccurs="0" nillable="true"/>
          <xsd:element name="billHandlingCode" type="xsd:string" minOccurs="0" nillable="true"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ModifyBudgetCentreReportInput_1">
        <xsd:sequence>
          <xsd:element name="budgetCentreReportPK" type="ecaBudgetCentre:BudgetCentreReportPK"/>
          <xsd:element name="budgetCentreLockVersion" type="xsd:long"/>
          <xsd:element name="modifyBudgetCentreReportData" type="ecaBudgetCentre:ModifyBudgetCentreReportData_1"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ModifyBudgetCentreReportOutput_1">
        <xsd:sequence>
          <xsd:element name="result" type="xsd:long"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ModifyBudgetCentreSummaryData_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="bitFlags" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="summaryName" type="xsd:string" minOccurs="0" nillable="true"/>
          <xsd:element name="summaryDesc" type="xsd:string" minOccurs="0" nillable="true"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ModifyBudgetCentreSummaryInput_1">
        <xsd:sequence>
          <xsd:element name="budgetCentreSummaryPK" type="ecaBudgetCentre:BudgetCentreSummaryPK"/>
          <xsd:element name="summaryLockVersion" type="xsd:long"/>
          <xsd:element name="modifyBudgetCentreSummaryData" type="ecaBudgetCentre:ModifyBudgetCentreSummaryData_1"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ModifyBudgetCentreSummaryOutput_1">
        <xsd:sequence>
          <xsd:element name="result" type="xsd:long"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="MoveBudgetCentreToBudgetCentreGroupInput_1">
        <xsd:sequence>
          <xsd:element name="fromBudgetCentreMemberData" type="ecaBudgetCentre:BudgetCentreMemberData_1"/>
          <xsd:element name="summaryLockVersion" type="xsd:long"/>
          <xsd:element name="toBudgetCentreGroupPK" type="ecaBudgetCentre:BudgetCentreGroupPK"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="MoveBudgetCentreToBudgetCentreGroupOutput_1">
        <xsd:sequence>
          <xsd:element name="result" type="xsd:long"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="NewBudgetCentreData_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="budgetCentreName" type="xsd:string"/>
          <xsd:element name="parentBudgetCentrePK" type="ecaBudgetCentre:BudgetCentrePK" minOccurs="0" nillable="true"/>
          <xsd:element name="startDat" type="xsd:dateTime"/>
          <xsd:element name="upToDat" type="xsd:dateTime" minOccurs="0" nillable="true"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="NewBudgetCentreGroupData_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="groupName" type="xsd:string"/>
          <xsd:element name="groupDesc" type="xsd:string" minOccurs="0" nillable="true"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="NewBudgetCentreReportData_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="startDat" type="xsd:dateTime"/>
          <xsd:element name="upToDat" type="xsd:dateTime" minOccurs="0" nillable="true"/>
          <xsd:element name="billStyleId" type="xsd:int"/>
          <xsd:element name="billHandlingCode" type="xsd:string" minOccurs="0" nillable="true"/>
          <xsd:element name="existingReportingContactPK" type="ecaContact:ContactPK" minOccurs="0" nillable="true"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="NewBudgetCentreReportSuperData_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="newBudgetCentreReportData" type="ecaBudgetCentre:NewBudgetCentreReportData_1"/>
          <xsd:element name="newReportingContactData" type="ecaContact:NewContactData_5_1" minOccurs="0" nillable="true"/>
          <xsd:element name="newAddressData" type="ecaAddress:NewAddressData_5_1" minOccurs="0" nillable="true"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="NewBudgetCentreSummaryData_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="summaryName" type="xsd:string"/>
          <xsd:element name="summaryDesc" type="xsd:string" minOccurs="0" nillable="true"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="QueryAllBudgetCentreAllocationsForBudgetCentreSummaryInput_1">
        <xsd:sequence>
          <xsd:element name="budgetCentreDataJoin" type="ecaBudgetCentre:BudgetCentreDataJoin_1"/>
          <xsd:element name="budgetCentreSummaryPK" type="ecaBudgetCentre:BudgetCentreSummaryPK"/>
          <xsd:element name="maxRows" type="xsd:int"/>
          <xsd:element name="whenDtm" type="xsd:dateTime"/>
          <xsd:element name="onWhenDtmOnlyBoo" type="xsd:boolean"/>
          <xsd:element name="lastBudgetCentrePK" type="ecaBudgetCentre:BudgetCentrePK" minOccurs="0" nillable="true"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryAllBudgetCentreAllocationsForBudgetCentreSummaryOutput_1">
        <xsd:sequence>
          <xsd:element name="result" type="ecaBudgetCentre:QueryBCAllocationsForBCSummaryResult_1"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryAllBudgetCentreGroupsForAccountInput_1">
        <xsd:sequence>
          <xsd:element name="maxRows" type="xsd:int"/>
          <xsd:element name="accountPK" type="ecaAccount:AccountPK"/>
          <xsd:element name="lastBudgetCentreGroupPK" type="ecaBudgetCentre:BudgetCentreGroupPK" minOccurs="0" nillable="true"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryAllBudgetCentreGroupsForAccountOutput_1">
        <xsd:sequence>
          <xsd:element name="result" type="ecaBudgetCentre:QueryBudgetCentreGroupsResult_1"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryAllBudgetCentreGroupsForBudgetCentreSummaryInput_1">
        <xsd:sequence>
          <xsd:element name="maxRows" type="xsd:int"/>
          <xsd:element name="budgetCentreSummaryPK" type="ecaBudgetCentre:BudgetCentreSummaryPK"/>
          <xsd:element name="lastBudgetCentreGroupPK" type="ecaBudgetCentre:BudgetCentreGroupPK" minOccurs="0" nillable="true"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryAllBudgetCentreGroupsForBudgetCentreSummaryOutput_1">
        <xsd:sequence>
          <xsd:element name="result" type="ecaBudgetCentre:QueryBudgetCentreGroupsResult_1"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryAllBudgetCentreReportsForBudgetCentreInput_1">
        <xsd:sequence>
          <xsd:element name="budgetCentreReportDataJoin" type="ecaBudgetCentre:BudgetCentreReportDataJoin_1"/>
          <xsd:element name="maxRows" type="xsd:int"/>
          <xsd:element name="budgetCentrePK" type="ecaBudgetCentre:BudgetCentrePK"/>
          <xsd:element name="whenDtm" type="xsd:dateTime"/>
          <xsd:element name="onWhenDtmOnlyBoo" type="xsd:boolean"/>
          <xsd:element name="lastBudgetCentreReportPK" type="ecaBudgetCentre:BudgetCentreReportPK" minOccurs="0" nillable="true"/>
          <xsd:element name="languageId" type="xsd:int" minOccurs="0" nillable="true"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryAllBudgetCentreReportsForBudgetCentreInput_2">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="budgetCentreReportDataJoin" type="ecaBudgetCentre:BudgetCentreReportDataJoin_2"/>
          <xsd:element name="maxRows" type="xsd:int"/>
          <xsd:element name="budgetCentrePK" type="ecaBudgetCentre:BudgetCentrePK"/>
          <xsd:element name="whenDtm" type="xsd:dateTime"/>
          <xsd:element name="onWhenDtmOnlyBoo" type="xsd:boolean"/>
          <xsd:element name="lastBudgetCentreReportPK" type="ecaBudgetCentre:BudgetCentreReportPK" minOccurs="0" nillable="true"/>
          <xsd:element name="languageId" type="xsd:int" minOccurs="0" nillable="true"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryAllBudgetCentreReportsForBudgetCentreOutput_1">
        <xsd:sequence>
          <xsd:element name="result" type="ecaBudgetCentre:QueryBudgetCentreReportsResult_1"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryAllBudgetCentreReportsForBudgetCentreOutput_2">
        <xsd:sequence>
          <xsd:element name="result" type="ecaBudgetCentre:QueryBudgetCentreReportsResult_2"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryAllBudgetCentreSummariesForAccountInput_1">
        <xsd:sequence>
          <xsd:element name="maxRows" type="xsd:int"/>
          <xsd:element name="accountPK" type="ecaAccount:AccountPK"/>
          <xsd:element name="lastBudgetCentreSummaryPK" type="ecaBudgetCentre:BudgetCentreSummaryPK" minOccurs="0" nillable="true"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryAllBudgetCentreSummariesForAccountOutput_1">
        <xsd:sequence>
          <xsd:element name="result" type="ecaBudgetCentre:QueryBudgetCentreSummariesResult_1"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryAllBudgetCentresForAccountInput_1">
        <xsd:sequence>
          <xsd:element name="budgetCentreDataJoin" type="ecaBudgetCentre:BudgetCentreDataJoin_1"/>
          <xsd:element name="maxRows" type="xsd:int"/>
          <xsd:element name="accountPK" type="ecaAccount:AccountPK"/>
          <xsd:element name="buildTree" type="xsd:boolean"/>
          <xsd:element name="whenDtm" type="xsd:dateTime"/>
          <xsd:element name="onWhenDtmOnlyBoo" type="xsd:boolean"/>
          <xsd:element name="lastBudgetCentrePK" type="ecaBudgetCentre:BudgetCentrePK" minOccurs="0" nillable="true"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryAllBudgetCentresForAccountOutput_1">
        <xsd:sequence>
          <xsd:element name="result" type="ecaBudgetCentre:QueryBudgetCentresResult_1"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryAllBudgetCentresForBudgetCentreGroupInput_1">
        <xsd:sequence>
          <xsd:element name="budgetCentreDataJoin" type="ecaBudgetCentre:BudgetCentreDataJoin_1"/>
          <xsd:element name="maxRows" type="xsd:int"/>
          <xsd:element name="lastBudgetCentrePK" type="ecaBudgetCentre:BudgetCentrePK" minOccurs="0" nillable="true"/>
          <xsd:element name="budgetCentreGroupPK" type="ecaBudgetCentre:BudgetCentreGroupPK"/>
          <xsd:element name="buildTree" type="xsd:boolean"/>
          <xsd:element name="whenDtm" type="xsd:dateTime"/>
          <xsd:element name="onWhenDtmOnlyBoo" type="xsd:boolean"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryAllBudgetCentresForBudgetCentreGroupOutput_1">
        <xsd:sequence>
          <xsd:element name="result" type="ecaBudgetCentre:QueryBudgetCentresResult_1"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryBCAllocationsForBCSummaryResult_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element
            name="budgetCentreAndGroupArray"
            type="ecaBudgetCentre:BudgetCentreAndGroupElement_1"
            minOccurs="0"
            maxOccurs="unbounded"
          />
          <xsd:element name="truncated" type="xsd:boolean"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="QueryBudgetCentreDataResult_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="budgetCentreData" type="ecaBudgetCentre:BudgetCentreData_1"/>
          <xsd:element name="otcInstancePK" type="ecaOneTimeCharge:OTCInstancePK" minOccurs="0" nillable="true"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="QueryBudgetCentreGroupInput_1">
        <xsd:sequence>
          <xsd:element name="budgetCentreGroupPK" type="ecaBudgetCentre:BudgetCentreGroupPK"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryBudgetCentreGroupOutput_1">
        <xsd:sequence>
          <xsd:element name="result" type="ecaBudgetCentre:BudgetCentreGroupData_1"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryBudgetCentreGroupsResult_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element
            name="dataSet"
            type="ecaBudgetCentre:BudgetCentreGroupData_1"
            minOccurs="0"
            maxOccurs="unbounded"
          />
          <xsd:element name="truncated" type="xsd:boolean"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="QueryBudgetCentreInput_1">
        <xsd:sequence>
          <xsd:element name="budgetCentreDataJoin" type="ecaBudgetCentre:BudgetCentreDataJoin_1"/>
          <xsd:element name="budgetCentrePK" type="ecaBudgetCentre:BudgetCentrePK"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryBudgetCentreInput_2">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="budgetCentreDataJoin" type="ecaBudgetCentre:BudgetCentreDataJoin_1"/>
          <xsd:element name="budgetCentrePK" type="ecaBudgetCentre:BudgetCentrePK"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryBudgetCentreOutput_1">
        <xsd:sequence>
          <xsd:element name="result" type="ecaBudgetCentre:BudgetCentreData_1"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryBudgetCentreOutput_2">
        <xsd:sequence>
          <xsd:element name="result" type="ecaBudgetCentre:QueryBudgetCentreDataResult_1"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryBudgetCentreReportInput_1">
        <xsd:sequence>
          <xsd:element name="budgetCentreReportDataJoin" type="ecaBudgetCentre:BudgetCentreReportDataJoin_1"/>
          <xsd:element name="budgetCentreReportPK" type="ecaBudgetCentre:BudgetCentreReportPK"/>
          <xsd:element name="whenDtm" type="xsd:dateTime"/>
          <xsd:element name="languageId" type="xsd:int" minOccurs="0" nillable="true"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryBudgetCentreReportInput_2">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="budgetCentreReportDataJoin" type="ecaBudgetCentre:BudgetCentreReportDataJoin_2"/>
          <xsd:element name="budgetCentreReportPK" type="ecaBudgetCentre:BudgetCentreReportPK"/>
          <xsd:element name="whenDtm" type="xsd:dateTime"/>
          <xsd:element name="languageId" type="xsd:int" minOccurs="0" nillable="true"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryBudgetCentreReportOutput_1">
        <xsd:sequence>
          <xsd:element name="result" type="ecaBudgetCentre:BudgetCentreReportData_1"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryBudgetCentreReportOutput_2">
        <xsd:sequence>
          <xsd:element name="result" type="ecaBudgetCentre:BudgetCentreReportData_2"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryBudgetCentreReportsResult_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element
            name="budgetCentreReportDataArray"
            type="ecaBudgetCentre:BudgetCentreReportData_1"
            minOccurs="0"
            maxOccurs="unbounded"
          />
          <xsd:element name="truncated" type="xsd:boolean"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="QueryBudgetCentreReportsResult_2">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element
            name="budgetCentreReportDataArray"
            type="ecaBudgetCentre:BudgetCentreReportData_2"
            minOccurs="0"
            maxOccurs="unbounded"
          />
          <xsd:element name="truncated" type="xsd:boolean"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="QueryBudgetCentreSummariesResult_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element
            name="dataSet"
            type="ecaBudgetCentre:BudgetCentreSummaryData_1"
            minOccurs="0"
            maxOccurs="unbounded"
          />
          <xsd:element name="truncated" type="xsd:boolean"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="QueryBudgetCentreSummaryInput_1">
        <xsd:sequence>
          <xsd:element name="budgetCentreSummaryPK" type="ecaBudgetCentre:BudgetCentreSummaryPK"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryBudgetCentreSummaryOutput_1">
        <xsd:sequence>
          <xsd:element name="result" type="ecaBudgetCentre:BudgetCentreSummaryData_1"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryBudgetCentreSummaryResult_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="budgetCentreSummaryData" type="ecaBudgetCentre:BudgetCentreSummaryData_1"/>
          <xsd:element name="budgetCentreGroupDataArray" type="ecaBudgetCentre:ArrayOfBudgetCentreGroupData_1" minOccurs="0" nillable="true"/>
          <xsd:element name="truncated" type="xsd:boolean"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="QueryBudgetCentresElementTree_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="element" type="ecaBudgetCentre:BudgetCentreData_1"/>
          <xsd:element name="childDataSet" type="ecaBudgetCentre:ArrayOfQueryBudgetCentresElementTree_1" minOccurs="0" nillable="true"/>
          <xsd:element name="match" type="xsd:boolean"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="QueryBudgetCentresResult_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element
            name="dataSet"
            type="ecaBudgetCentre:QueryBudgetCentresElementTree_1"
            minOccurs="0"
            maxOccurs="unbounded"
          />
          <xsd:element name="truncated" type="xsd:boolean"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="RemoveBudgetCentreFromBudgetCentreGroupInput_1">
        <xsd:sequence>
          <xsd:element name="removeBudgetCentreGroupMemberData" type="ecaBudgetCentre:BudgetCentreMemberData_1"/>
          <xsd:element name="summaryLockVersion" type="xsd:long"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="RemoveBudgetCentreFromBudgetCentreGroupOutput_1">
        <xsd:sequence>
          <xsd:element name="result" type="xsd:long"/>
       </xsd:sequence>
  </xsd:complexType>



  <!-- Array Types -->
  <xsd:complexType name="ArrayOfBudgetCentreGroupData_1">
    <xsd:complexContent>
      <xsd:extension base="base:BaseStructure">
        <xsd:sequence>
          <xsd:element
            name="a"
            type="ecaBudgetCentre:BudgetCentreGroupData_1"
            minOccurs="0"
            maxOccurs="unbounded"
          />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ArrayOfBudgetCentreMemberData_1">
    <xsd:complexContent>
      <xsd:extension base="base:BaseStructure">
        <xsd:sequence>
          <xsd:element
            name="a"
            type="ecaBudgetCentre:BudgetCentreMemberData_1"
            minOccurs="0"
            maxOccurs="unbounded"
          />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ArrayOfBudgetCentrePK">
    <xsd:complexContent>
      <xsd:extension base="base:BaseStructure">
        <xsd:sequence>
          <xsd:element
            name="a"
            type="ecaBudgetCentre:BudgetCentrePK"
            minOccurs="0"
            maxOccurs="unbounded"
          />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ArrayOfCreatedBudgetCentreReport_1">
    <xsd:complexContent>
      <xsd:extension base="base:BaseStructure">
        <xsd:sequence>
          <xsd:element
            name="a"
            type="ecaBudgetCentre:CreatedBudgetCentreReport_1"
            minOccurs="0"
            maxOccurs="unbounded"
          />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ArrayOfNewBudgetCentreReportSuperData_1">
    <xsd:complexContent>
      <xsd:extension base="base:BaseStructure">
        <xsd:sequence>
          <xsd:element
            name="a"
            type="ecaBudgetCentre:NewBudgetCentreReportSuperData_1"
            minOccurs="0"
            maxOccurs="unbounded"
          />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ArrayOfQueryBudgetCentresElementTree_1">
    <xsd:complexContent>
      <xsd:extension base="base:BaseStructure">
        <xsd:sequence>
          <xsd:element
            name="a"
            type="ecaBudgetCentre:QueryBudgetCentresElementTree_1"
            minOccurs="0"
            maxOccurs="unbounded"
          />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>


</xsd:schema>

<!-- eof ECA_BudgetCentre.xsd -->
