Release2.21/ECA.CST/customeca-j2ee/schema/ECA/ECA_AccountTransfer.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- XML Schema for type definitions of component ECA -->
<!-- service AccountTransfer. -->

<xsd:schema
  targetNamespace="urn:Convergys-Interface-ECA-AccountTransfer"
  xmlns="urn:Convergys-Interface-ECA-AccountTransfer"
  xmlns:ecaAccountTransfer="urn:Convergys-Interface-ECA-AccountTransfer"
  elementFormDefault="qualified"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:base="urn:Convergys-Interface-Base"
  xmlns:commonIML="urn:Convergys-Interface-CommonIML"
  xmlns:eca="urn:Convergys-Interface-ECA"
  xmlns:ecaAccount="urn:Convergys-Interface-ECA-Account"
  xmlns:ecaAddress="urn:Convergys-Interface-ECA-Address"
  xmlns:ecaContact="urn:Convergys-Interface-ECA-Contact"
  xmlns:ecaContract="urn:Convergys-Interface-ECA-Contract"
  xmlns:ecaCustomer="urn:Convergys-Interface-ECA-Customer"
  xmlns:ecaDiscount="urn:Convergys-Interface-ECA-Discount"
  xmlns:ecaOverridePrice="urn:Convergys-Interface-ECA-OverridePrice"
  xmlns:ecaOverrideRate="urn:Convergys-Interface-ECA-OverrideRate"
  xmlns:ecaProductInstance="urn:Convergys-Interface-ECA-ProductInstance"
>
  <!-- Imports -->
  <xsd:import
    namespace="urn:Convergys-Interface-Base"
    schemaLocation="../../schema/Base/Base.xsd"
  />

  <xsd:import
    namespace="urn:Convergys-Interface-CommonIML"
    schemaLocation="../../schema/CommonIML/CommonIML.xsd"
  />

  <xsd:import
    namespace="urn:Convergys-Interface-ECA"
    schemaLocation="../../schema/ECA/ECA.xsd"
  />

  <xsd:import
    namespace="urn:Convergys-Interface-ECA-Account"
    schemaLocation="../../schema/ECA/ECA_Account.xsd"
  />

  <xsd:import
    namespace="urn:Convergys-Interface-ECA-Address"
    schemaLocation="../../schema/ECA/ECA_Address.xsd"
  />

  <xsd:import
    namespace="urn:Convergys-Interface-ECA-Contact"
    schemaLocation="../../schema/ECA/ECA_Contact.xsd"
  />

  <xsd:import
    namespace="urn:Convergys-Interface-ECA-Contract"
    schemaLocation="../../schema/ECA/ECA_Contract.xsd"
  />

  <xsd:import
    namespace="urn:Convergys-Interface-ECA-Customer"
    schemaLocation="../../schema/ECA/ECA_Customer.xsd"
  />

  <xsd:import
    namespace="urn:Convergys-Interface-ECA-Discount"
    schemaLocation="../../schema/ECA/ECA_Discount.xsd"
  />

  <xsd:import
    namespace="urn:Convergys-Interface-ECA-OverridePrice"
    schemaLocation="../../schema/ECA/ECA_OverridePrice.xsd"
  />

  <xsd:import
    namespace="urn:Convergys-Interface-ECA-OverrideRate"
    schemaLocation="../../schema/ECA/ECA_OverrideRate.xsd"
  />

  <xsd:import
    namespace="urn:Convergys-Interface-ECA-ProductInstance"
    schemaLocation="../../schema/ECA/ECA_ProductInstance.xsd"
  />


  <!-- Enumeration Types -->
  <xsd:simpleType name="TransferLogType">
    <xsd:restriction base="xsd:int">
<!-- Enums are represented as int values in IML. The following list provides a mapping of
the different enum options supported by the server. Please note that the server might have
been upgraded to a more uptodate release and might support additional options. Some options
may also be deprecated.

       1 = Error
       2 = Warning

-->
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="TransferRequestStatus">
    <xsd:restriction base="xsd:int">
<!-- Enums are represented as int values in IML. The following list provides a mapping of
the different enum options supported by the server. Please note that the server might have
been upgraded to a more uptodate release and might support additional options. Some options
may also be deprecated.

       1 = Pending
       2 = BeingProcessed
       3 = Cancelled
       4 = PartialSuccess
       5 = Failed
       6 = Completed

-->
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="TransferUsageFlag">
    <xsd:restriction base="xsd:int">
<!-- Enums are represented as int values in IML. The following list provides a mapping of
the different enum options supported by the server. Please note that the server might have
been upgraded to a more uptodate release and might support additional options. Some options
may also be deprecated.

       0 = AllowUsage
       1 = DenyAuthorizationAndAllowPartials
       2 = DenyAuthorizationAndRejectPartials

-->
    </xsd:restriction>
  </xsd:simpleType>


  <!-- Structure and Exception Types -->
  <xsd:complexType name="AccountTransferHistPK">
    <xsd:complexContent>
      <xsd:extension base="eca:PrimaryKey">
        <xsd:sequence>
          <xsd:element name="accountPK" type="ecaAccount:AccountPK"/>
          <xsd:element name="transferEffectiveDtm" type="xsd:dateTime"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="AccountTransferHistoryData_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="accountTransferHistPK" type="ecaAccountTransfer:AccountTransferHistPK"/>
          <xsd:element name="targetCustomerPK" type="ecaCustomer:CustomerPK"/>
          <xsd:element name="targetDomainId" type="xsd:int"/>
          <xsd:element name="sourceCustomerPK" type="ecaCustomer:CustomerPK"/>
          <xsd:element name="sourceDomainId" type="xsd:int"/>
          <xsd:element name="transferRequestDtlId" type="xsd:int"/>
          <xsd:element name="cpdDependencySeq" type="xsd:int"/>
          <xsd:element name="oldNextBillDtm" type="xsd:dateTime" minOccurs="0" nillable="true"/>
          <xsd:element name="oldEventSeq" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="transferDtm" type="xsd:dateTime" minOccurs="0" nillable="true"/>
          <xsd:element name="transferRequestDetailsData" type="ecaAccountTransfer:TransferRequestDetailsData_1" minOccurs="0" nillable="true"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="AccountTransferHistoryDataJoin_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="transferRequestDetailsDataJoin" type="ecaAccountTransfer:TransferRequestDetailsDataJoin_1" minOccurs="0" nillable="true"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="CreateTransferRequestInput_1">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="targetCustomerPK" type="ecaCustomer:CustomerPK"/>
          <xsd:element name="sourceCustomerPK" type="ecaCustomer:CustomerPK" minOccurs="0" nillable="true"/>
          <xsd:element name="accountList" type="eca:ArrayOfString" minOccurs="0" nillable="true"/>
          <xsd:element name="transferUsageFlag" type="ecaAccountTransfer:TransferUsageFlag" minOccurs="0" nillable="true"/>
          <xsd:element name="transferRequestDtm" type="xsd:dateTime" minOccurs="0" nillable="true"/>
          <xsd:element name="defaultContactSeq" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="transferContractBoo" type="xsd:boolean" minOccurs="0" nillable="true"/>
          <xsd:element name="transferOverridePriceBoo" type="xsd:boolean" minOccurs="0" nillable="true"/>
          <xsd:element name="transferOverrideRateBoo" type="xsd:boolean" minOccurs="0" nillable="true"/>
          <xsd:element name="transferOverrideDiscountBoo" type="xsd:boolean" minOccurs="0" nillable="true"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="CreateTransferRequestInput_2">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="targetCustomerPK" type="ecaCustomer:CustomerPK"/>
          <xsd:element name="sourceCustomerPK" type="ecaCustomer:CustomerPK" minOccurs="0" nillable="true"/>
          <xsd:element name="accountList" type="eca:ArrayOfString" minOccurs="0" nillable="true"/>
          <xsd:element name="transferUsageFlag" type="ecaAccountTransfer:TransferUsageFlag" minOccurs="0" nillable="true"/>
          <xsd:element name="transferRequestDtm" type="xsd:dateTime" minOccurs="0" nillable="true"/>
          <xsd:element name="defaultContactSeq" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="transferContractBoo" type="xsd:boolean" minOccurs="0" nillable="true"/>
          <xsd:element name="transferOverridePriceBoo" type="xsd:boolean" minOccurs="0" nillable="true"/>
          <xsd:element name="transferOverrideRateBoo" type="xsd:boolean" minOccurs="0" nillable="true"/>
          <xsd:element name="transferOverrideDiscountBoo" type="xsd:boolean" minOccurs="0" nillable="true"/>
          <xsd:element name="doAllTransferValidationsBoo" type="xsd:boolean" minOccurs="0" nillable="true"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="CreateTransferRequestOutput_1">
        <xsd:sequence>
          <xsd:element name="createTransferRequestResult" type="ecaAccountTransfer:CreateTransferRequestResult_1"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="CreateTransferRequestOutput_2">
        <xsd:sequence>
          <xsd:element name="createTransferRequestResult" type="ecaAccountTransfer:CreateTransferRequestResult_1"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="CreateTransferRequestResult_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="transferRequestId" type="xsd:int"/>
          <xsd:element name="noOfAccountsFailed" type="xsd:long"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="CustAddressTransferHistPK">
    <xsd:complexContent>
      <xsd:extension base="eca:PrimaryKey">
        <xsd:sequence>
          <xsd:element name="addressPK" type="ecaAddress:AddressPK"/>
          <xsd:element name="transferEffectiveDtm" type="xsd:dateTime"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="CustContactTransferHistPK">
    <xsd:complexContent>
      <xsd:extension base="eca:PrimaryKey">
        <xsd:sequence>
          <xsd:element name="contactPK" type="ecaContact:ContactPK"/>
          <xsd:element name="transferEffectiveDtm" type="xsd:dateTime"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="CustContractTransferHistPK">
    <xsd:complexContent>
      <xsd:extension base="eca:PrimaryKey">
        <xsd:sequence>
          <xsd:element name="contractPK" type="ecaContract:ContractPK"/>
          <xsd:element name="transferEffectiveDtm" type="xsd:dateTime"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="CustOverrideDiscTransferHistoryDataJoin_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="custProductTransferHistoryJoin" type="ecaAccountTransfer:CustProductTransferHistoryDataJoin_1" minOccurs="0" nillable="true"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="CustOverrideDiscountTransferHistoryData_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="custOverrideDiscTransferHistoryPK" type="ecaAccountTransfer:CustOverrideDiscountTransferHistoryPK"/>
          <xsd:element name="custProductTransferHistoryData" type="ecaAccountTransfer:CustProductTransferHistoryData_1" minOccurs="0" nillable="true"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="CustOverrideDiscountTransferHistoryPK">
    <xsd:complexContent>
      <xsd:extension base="eca:PrimaryKey">
        <xsd:sequence>
          <xsd:element name="custOverrideDiscountPK" type="ecaDiscount:CustOverrideDiscountPK"/>
          <xsd:element name="transferEffectiveDtm" type="xsd:dateTime"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="CustOverridePriceTransferHistoryData_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="custOverridePriceTfrHistoryPK" type="ecaAccountTransfer:CustOverridePriceTransferHistoryPK"/>
          <xsd:element name="srcOverridePriceSeq" type="xsd:int"/>
          <xsd:element name="custProductTransferHistoryData" type="ecaAccountTransfer:CustProductTransferHistoryData_1" minOccurs="0" nillable="true"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="CustOverridePriceTransferHistoryDataJoin_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="custProductTransferHistoryJoin" type="ecaAccountTransfer:CustProductTransferHistoryDataJoin_1" minOccurs="0" nillable="true"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="CustOverridePriceTransferHistoryPK">
    <xsd:complexContent>
      <xsd:extension base="eca:PrimaryKey">
        <xsd:sequence>
          <xsd:element name="overridePricePK" type="ecaOverridePrice:OverridePricePK"/>
          <xsd:element name="productSeq" type="xsd:int"/>
          <xsd:element name="transferEffectiveDtm" type="xsd:dateTime"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="CustOverrideRateTransferHistoryData_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="custOverrideRateTfrHistoryPK" type="ecaAccountTransfer:CustOverrideRateTransferHistoryPK"/>
          <xsd:element name="srcOverrideRateSeq" type="xsd:int"/>
          <xsd:element name="custProductTransferHistoryData" type="ecaAccountTransfer:CustProductTransferHistoryData_1" minOccurs="0" nillable="true"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="CustOverrideRateTransferHistoryDataJoin_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="custProductTransferHistoryJoin" type="ecaAccountTransfer:CustProductTransferHistoryDataJoin_1" minOccurs="0" nillable="true"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="CustOverrideRateTransferHistoryPK">
    <xsd:complexContent>
      <xsd:extension base="eca:PrimaryKey">
        <xsd:sequence>
          <xsd:element name="overrideRatePK" type="ecaOverrideRate:OverrideRatePK"/>
          <xsd:element name="productSeq" type="xsd:int"/>
          <xsd:element name="transferEffectiveDtm" type="xsd:dateTime"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="CustProductTransferHistPK">
    <xsd:complexContent>
      <xsd:extension base="eca:PrimaryKey">
        <xsd:sequence>
          <xsd:element name="customerPK" type="ecaCustomer:CustomerPK"/>
          <xsd:element name="productSeq" type="xsd:int"/>
          <xsd:element name="transferEffectiveDtm" type="xsd:dateTime"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="CustProductTransferHistoryData_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="productInstancePK" type="ecaProductInstance:ProductInstancePK"/>
          <xsd:element name="packageSeq" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="transferEffectiveDtm" type="xsd:dateTime"/>
          <xsd:element name="srcProductInstancePK" type="ecaProductInstance:ProductInstancePK"/>
          <xsd:element name="srcPackageSeq" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="transferDtm" type="xsd:dateTime" minOccurs="0" nillable="true"/>
          <xsd:element name="transferRequestId" type="xsd:int"/>
          <xsd:element name="transferRequestData" type="ecaAccountTransfer:TransferRequestData_1" minOccurs="0" nillable="true"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="CustProductTransferHistoryDataJoin_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="transferRequestDataJoin" type="ecaAccountTransfer:TransferRequestDataJoin_1" minOccurs="0" nillable="true"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="CustomerAddressTransferHistoryData_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="addressPK" type="ecaAddress:AddressPK"/>
          <xsd:element name="transferEffectiveDtm" type="xsd:dateTime"/>
          <xsd:element name="sourceCustomerPK" type="ecaCustomer:CustomerPK"/>
          <xsd:element name="sourceAddressSeq" type="xsd:int"/>
          <xsd:element name="transferRequestId" type="ecaAccountTransfer:TransferRequestPK"/>
          <xsd:element name="transferRequestData" type="ecaAccountTransfer:TransferRequestData_1" minOccurs="0" nillable="true"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="CustomerAddressTransferHistoryDataJoin_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="transferRequestDataJoin" type="ecaAccountTransfer:TransferRequestDataJoin_1" minOccurs="0" nillable="true"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="CustomerAddressTransferHistoryResult_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="customerAddressTrnsfrHistoryDataArray" type="ecaAccountTransfer:ArrayOfCustomerAddressTransferHistoryData_1" minOccurs="0" nillable="true"/>
          <xsd:element name="truncated" type="xsd:boolean"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="CustomerContactTransferHistoryData_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="contactPK" type="ecaContact:ContactPK"/>
          <xsd:element name="transferEffectiveDtm" type="xsd:dateTime"/>
          <xsd:element name="sourceCustomerPK" type="ecaCustomer:CustomerPK"/>
          <xsd:element name="sourceContactSeq" type="xsd:int"/>
          <xsd:element name="transferRequestId" type="ecaAccountTransfer:TransferRequestPK"/>
          <xsd:element name="transferRequestData" type="ecaAccountTransfer:TransferRequestData_1" minOccurs="0" nillable="true"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="CustomerContactTransferHistoryDataJoin_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="transferRequestDataJoin" type="ecaAccountTransfer:TransferRequestDataJoin_1" minOccurs="0" nillable="true"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="CustomerContactTransferHistoryResult_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="customerContactTransferHistoryDataArray" type="ecaAccountTransfer:ArrayOfCustomerContactTransferHistoryData_1" minOccurs="0" nillable="true"/>
          <xsd:element name="truncated" type="xsd:boolean"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="CustomerContractTransferHistoryData_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="contractPK" type="ecaContract:ContractPK"/>
          <xsd:element name="transferEffectiveDtm" type="xsd:dateTime"/>
          <xsd:element name="sourceCustomerPK" type="ecaCustomer:CustomerPK"/>
          <xsd:element name="sourceContractSeq" type="xsd:int"/>
          <xsd:element name="transferRequestId" type="ecaAccountTransfer:TransferRequestPK"/>
          <xsd:element name="transferRequestData" type="ecaAccountTransfer:TransferRequestData_1" minOccurs="0" nillable="true"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="CustomerContractTransferHistoryDataJoin_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="transferRequestDataJoin" type="ecaAccountTransfer:TransferRequestDataJoin_1" minOccurs="0" nillable="true"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="CustomerContractTransferHistoryResult_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="customerContractTrnsfrHistoryDataArray" type="ecaAccountTransfer:ArrayOfCustomerContractTransferHistoryData_1" minOccurs="0" nillable="true"/>
          <xsd:element name="truncated" type="xsd:boolean"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="DeleteTransferRequestInput_1">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="transferRequestPK" type="ecaAccountTransfer:TransferRequestPK"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ModifyTransferRequestData_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="requestStatus" type="ecaAccountTransfer:TransferRequestStatus"/>
          <xsd:element name="transferRequestDtm" type="xsd:dateTime" minOccurs="0" nillable="true"/>
          <xsd:element name="defaultContactSeq" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="transferContractBoo" type="xsd:boolean" minOccurs="0" nillable="true"/>
          <xsd:element name="transferOverridePriceBoo" type="xsd:boolean" minOccurs="0" nillable="true"/>
          <xsd:element name="transferOverrideRateBoo" type="xsd:boolean" minOccurs="0" nillable="true"/>
          <xsd:element name="transferOverrideDiscountBoo" type="xsd:boolean" minOccurs="0" nillable="true"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ModifyTransferRequestInput_1">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="transferRequestPK" type="ecaAccountTransfer:TransferRequestPK"/>
          <xsd:element name="oldModifyTransferRequestData" type="ecaAccountTransfer:ModifyTransferRequestData_1"/>
          <xsd:element name="newModifyTransferRequestData" type="ecaAccountTransfer:ModifyTransferRequestData_1"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryAccountTransferHistoryInput_1">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="accountPK" type="ecaAccount:AccountPK"/>
          <xsd:element name="queryTimeframe" type="eca:QueryTimeframe_1" minOccurs="0" nillable="true"/>
          <xsd:element name="accountTransferHistoryDataJoin" type="ecaAccountTransfer:AccountTransferHistoryDataJoin_1"/>
          <xsd:element name="targetCustomerPK" type="ecaCustomer:CustomerPK" minOccurs="0" nillable="true"/>
          <xsd:element name="sourceCustomerPK" type="ecaCustomer:CustomerPK" minOccurs="0" nillable="true"/>
          <xsd:element name="maxRows" type="xsd:int"/>
          <xsd:element name="discardTruncatedBoo" type="xsd:boolean"/>
          <xsd:element name="lastAccountTransferHistPK" type="ecaAccountTransfer:AccountTransferHistPK" minOccurs="0" nillable="true"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryAccountTransferHistoryOutput_1">
        <xsd:sequence>
          <xsd:element name="result" type="ecaAccountTransfer:QueryAccountTransferHistoryResult_1"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryAccountTransferHistoryResult_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="accountTransferHistoryDataArray" type="ecaAccountTransfer:ArrayOfAccountTransferHistoryData_1" minOccurs="0" nillable="true"/>
          <xsd:element name="truncated" type="xsd:boolean"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="QueryCustAddressTransferHistoryInput_1">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="customerPK" type="ecaCustomer:CustomerPK"/>
          <xsd:element name="customerAddressTransferHistoryDataJoin" type="ecaAccountTransfer:CustomerAddressTransferHistoryDataJoin_1"/>
          <xsd:element name="addressSeq" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="sourceCustomerPK" type="ecaCustomer:CustomerPK" minOccurs="0" nillable="true"/>
          <xsd:element name="sourceAddressSeq" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="queryTimeframe" type="eca:QueryTimeframe_1" minOccurs="0" nillable="true"/>
          <xsd:element name="maxRows" type="xsd:int"/>
          <xsd:element name="discardTruncated" type="xsd:boolean"/>
          <xsd:element name="custAddressTransferHistPK" type="ecaAccountTransfer:CustAddressTransferHistPK" minOccurs="0" nillable="true"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryCustAddressTransferHistoryOutput_1">
        <xsd:sequence>
          <xsd:element name="result" type="ecaAccountTransfer:CustomerAddressTransferHistoryResult_1"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryCustContactTransferHistoryInput_1">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="customerPK" type="ecaCustomer:CustomerPK"/>
          <xsd:element name="customerContactTransferHistoryDataJoin" type="ecaAccountTransfer:CustomerContactTransferHistoryDataJoin_1"/>
          <xsd:element name="contactSeq" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="sourceCustomerPK" type="ecaCustomer:CustomerPK" minOccurs="0" nillable="true"/>
          <xsd:element name="sourceContactSeq" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="queryTimeframe" type="eca:QueryTimeframe_1" minOccurs="0" nillable="true"/>
          <xsd:element name="maxRows" type="xsd:int"/>
          <xsd:element name="discardTruncated" type="xsd:boolean"/>
          <xsd:element name="custContactTransferHistPK" type="ecaAccountTransfer:CustContactTransferHistPK" minOccurs="0" nillable="true"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryCustContactTransferHistoryOutput_1">
        <xsd:sequence>
          <xsd:element name="result" type="ecaAccountTransfer:CustomerContactTransferHistoryResult_1"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryCustContractTransferHistoryInput_1">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="customerPK" type="ecaCustomer:CustomerPK"/>
          <xsd:element name="customerContractTransferHistoryDataJoin" type="ecaAccountTransfer:CustomerContractTransferHistoryDataJoin_1"/>
          <xsd:element name="contractSeq" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="sourceCustomerPK" type="ecaCustomer:CustomerPK" minOccurs="0" nillable="true"/>
          <xsd:element name="sourceContractSeq" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="queryTimeframe" type="eca:QueryTimeframe_1" minOccurs="0" nillable="true"/>
          <xsd:element name="maxRows" type="xsd:int"/>
          <xsd:element name="discardTruncated" type="xsd:boolean"/>
          <xsd:element name="custContractTransferHistPK" type="ecaAccountTransfer:CustContractTransferHistPK" minOccurs="0" nillable="true"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryCustContractTransferHistoryOutput_1">
        <xsd:sequence>
          <xsd:element name="result" type="ecaAccountTransfer:CustomerContractTransferHistoryResult_1"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryCustOverrideDiscountTransferHistoryInput_1">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="customerPK" type="ecaCustomer:CustomerPK"/>
          <xsd:element name="custOverrideDiscTransferHistoryDataJoin" type="ecaAccountTransfer:CustOverrideDiscTransferHistoryDataJoin_1"/>
          <xsd:element name="productSeq" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="eventDiscountId" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="eventSource" type="xsd:string" minOccurs="0" nillable="true"/>
          <xsd:element name="startDtm" type="xsd:dateTime" minOccurs="0" nillable="true"/>
          <xsd:element name="queryTimeframe" type="eca:QueryTimeframe_1" minOccurs="0" nillable="true"/>
          <xsd:element name="maxRows" type="xsd:int"/>
          <xsd:element name="discardTruncated" type="xsd:boolean"/>
          <xsd:element name="lastCODTfrHistPK" type="ecaAccountTransfer:CustOverrideDiscountTransferHistoryPK" minOccurs="0" nillable="true"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryCustOverrideDiscountTransferHistoryOutput_1">
        <xsd:sequence>
          <xsd:element name="queryCustOverrideDiscountTransferHistoryResult" type="ecaAccountTransfer:QueryCustOverrideDiscountTransferHistoryResult_1"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryCustOverrideDiscountTransferHistoryResult_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="custOverrideDiscountTransferHistoryData" type="ecaAccountTransfer:ArrayOfNullableCustOverrideDiscountTransferHistoryData_1" minOccurs="0" nillable="true"/>
          <xsd:element name="truncated" type="xsd:boolean"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="QueryCustOverridePriceTransferHistoryInput_1">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="customerPK" type="ecaCustomer:CustomerPK"/>
          <xsd:element name="custOverridePriceTransferHistoryDataJoin" type="ecaAccountTransfer:CustOverridePriceTransferHistoryDataJoin_1"/>
          <xsd:element name="overridePriceSeq" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="productSeq" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="queryTimeframe" type="eca:QueryTimeframe_1" minOccurs="0" nillable="true"/>
          <xsd:element name="maxRows" type="xsd:int"/>
          <xsd:element name="discardTruncated" type="xsd:boolean"/>
          <xsd:element name="lastCOPTfrHistPK" type="ecaAccountTransfer:CustOverridePriceTransferHistoryPK" minOccurs="0" nillable="true"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryCustOverridePriceTransferHistoryOutput_1">
        <xsd:sequence>
          <xsd:element name="queryCustOverridePriceTransferHistoryResult" type="ecaAccountTransfer:QueryCustOverridePriceTransferHistoryResult_1"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryCustOverridePriceTransferHistoryResult_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="custOverridePriceTransferHistoryData" type="ecaAccountTransfer:ArrayOfNullableCustOverridePriceTransferHistoryData_1" minOccurs="0" nillable="true"/>
          <xsd:element name="truncated" type="xsd:boolean"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="QueryCustOverrideRateTransferHistoryInput_1">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="customerPK" type="ecaCustomer:CustomerPK"/>
          <xsd:element name="custOverrideRateTransferHistoryDataJoin" type="ecaAccountTransfer:CustOverrideRateTransferHistoryDataJoin_1"/>
          <xsd:element name="productSeq" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="overrideRateSeq" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="queryTimeframe" type="eca:QueryTimeframe_1" minOccurs="0" nillable="true"/>
          <xsd:element name="maxRows" type="xsd:int"/>
          <xsd:element name="discardTruncated" type="xsd:boolean"/>
          <xsd:element name="lastCORTfrHistPK" type="ecaAccountTransfer:CustOverrideRateTransferHistoryPK" minOccurs="0" nillable="true"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryCustOverrideRateTransferHistoryOutput_1">
        <xsd:sequence>
          <xsd:element name="queryCustOverrideRateTransferHistoryResult" type="ecaAccountTransfer:QueryCustOverrideRateTransferHistoryResult_1"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryCustOverrideRateTransferHistoryResult_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="custOverrideRateTransferHistoryData" type="ecaAccountTransfer:ArrayOfNullableCustOverrideRateTransferHistoryData_1" minOccurs="0" nillable="true"/>
          <xsd:element name="truncated" type="xsd:boolean"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="QueryCustProductTransferHistoryInput_1">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="customerPK" type="ecaCustomer:CustomerPK"/>
          <xsd:element name="custProductTransferHistoryDataJoin" type="ecaAccountTransfer:CustProductTransferHistoryDataJoin_1"/>
          <xsd:element name="productSeq" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="sourceCustomerPK" type="ecaCustomer:CustomerPK" minOccurs="0" nillable="true"/>
          <xsd:element name="sourceProductSeq" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="queryTimeframe" type="eca:QueryTimeframe_1"/>
          <xsd:element name="maxRows" type="xsd:int"/>
          <xsd:element name="discardTruncatedBoo" type="xsd:boolean"/>
          <xsd:element name="lastCustProductTransferHistPK" type="ecaAccountTransfer:CustProductTransferHistPK" minOccurs="0" nillable="true"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryCustProductTransferHistoryOutput_1">
        <xsd:sequence>
          <xsd:element name="result" type="ecaAccountTransfer:QueryCustProductTransferHistoryResult_1"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryCustProductTransferHistoryResult_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="custProductTransferHistoryDataArray" type="ecaAccountTransfer:ArrayOfCustProductTransferHistoryData_1" minOccurs="0" nillable="true"/>
          <xsd:element name="truncated" type="xsd:boolean"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="QueryGetDependentAccountsInput_1">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="accountPK" type="ecaAccount:AccountPK"/>
          <xsd:element name="targetCustomerPK" type="ecaCustomer:CustomerPK"/>
          <xsd:element name="sourceCustomerPK" type="ecaCustomer:CustomerPK"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryGetDependentAccountsOutput_1">
        <xsd:sequence>
          <xsd:element name="queryGetDependentAccountsResult" type="ecaAccountTransfer:QueryGetDependentAccountsResult_1"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryGetDependentAccountsResult_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element
            name="dependentAccountsList"
            type="xsd:string"
            minOccurs="0"
            maxOccurs="unbounded"
          />
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="QueryTransferLogInput_1">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="accountPK" type="ecaAccount:AccountPK" minOccurs="0" nillable="true"/>
          <xsd:element name="transferRequestDetailId" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="logType" type="ecaAccountTransfer:TransferLogType" minOccurs="0" nillable="true"/>
          <xsd:element name="queryDtmRange" type="eca:QueryTimeframe_1" minOccurs="0" nillable="true"/>
          <xsd:element name="maxRows" type="xsd:int"/>
          <xsd:element name="discardTruncatedBoo" type="xsd:boolean"/>
          <xsd:element name="lastTransferLogPK" type="ecaAccountTransfer:TransferLogPK" minOccurs="0" nillable="true"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryTransferLogOutput_1">
        <xsd:sequence>
          <xsd:element name="result" type="ecaAccountTransfer:QueryTransferLogResult_1"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryTransferLogResult_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="transferLogDataArray" type="ecaAccountTransfer:ArrayOfTransferLogData_1" minOccurs="0" nillable="true"/>
          <xsd:element name="truncatedBoo" type="xsd:boolean"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="QueryTransferRequestInput_1">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="targetCustomerPK" type="ecaCustomer:CustomerPK"/>
          <xsd:element name="sourceCustomerPK" type="ecaCustomer:CustomerPK" minOccurs="0" nillable="true"/>
          <xsd:element name="accountPK" type="ecaAccount:AccountPK" minOccurs="0" nillable="true"/>
          <xsd:element name="requestStatus" type="ecaAccountTransfer:TransferRequestStatus" minOccurs="0" nillable="true"/>
          <xsd:element name="maxRows" type="xsd:int"/>
          <xsd:element name="discardTruncated" type="xsd:boolean"/>
          <xsd:element name="lastTransferRequestPK" type="ecaAccountTransfer:TransferRequestPK" minOccurs="0" nillable="true"/>
          <xsd:element name="getTransferLogData" type="xsd:boolean"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryTransferRequestOutput_1">
        <xsd:sequence>
          <xsd:element name="queryTransferRequestResult" type="ecaAccountTransfer:QueryTransferRequestResult_1"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryTransferRequestResult_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="transferRequestData" type="ecaAccountTransfer:ArrayOfNullableTransferRequestData_1" minOccurs="0" nillable="true"/>
          <xsd:element name="truncated" type="xsd:boolean"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="TransferLogData_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="transferLogId" type="xsd:int"/>
          <xsd:element name="logType" type="ecaAccountTransfer:TransferLogType"/>
          <xsd:element name="logText" type="xsd:string"/>
          <xsd:element name="transferRequestDetailId" type="xsd:int"/>
          <xsd:element name="accountPK" type="ecaAccount:AccountPK" minOccurs="0" nillable="true"/>
          <xsd:element name="createdDtm" type="xsd:dateTime"/>
          <xsd:element name="logCode" type="xsd:int"/>
          <xsd:element name="cacheDataSetId" type="xsd:int" minOccurs="0" nillable="true"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="TransferLogPK">
    <xsd:complexContent>
      <xsd:extension base="eca:PrimaryKey">
        <xsd:sequence>
          <xsd:element name="transferLogId" type="xsd:int"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="TransferRequestData_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="userName" type="xsd:string"/>
          <xsd:element name="createdDtm" type="xsd:dateTime"/>
          <xsd:element name="targetCustomerPK" type="ecaCustomer:CustomerPK"/>
          <xsd:element name="sourceCustomerPK" type="ecaCustomer:CustomerPK"/>
          <xsd:element name="requestStatus" type="ecaAccountTransfer:TransferRequestStatus"/>
          <xsd:element name="transferRequestDtm" type="xsd:dateTime" minOccurs="0" nillable="true"/>
          <xsd:element name="defaultContactSeq" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="transferContractBoo" type="xsd:boolean" minOccurs="0" nillable="true"/>
          <xsd:element name="transferOverridePriceBoo" type="xsd:boolean" minOccurs="0" nillable="true"/>
          <xsd:element name="transferOverrideRateBoo" type="xsd:boolean" minOccurs="0" nillable="true"/>
          <xsd:element name="transferOverrideDiscountBoo" type="xsd:boolean" minOccurs="0" nillable="true"/>
          <xsd:element name="transferUsageFlag" type="ecaAccountTransfer:TransferUsageFlag"/>
          <xsd:element name="randomHash" type="xsd:int"/>
          <xsd:element name="transferRequestDetailsData" type="ecaAccountTransfer:ArrayOfNullableTransferRequestDetailsData_1" minOccurs="0" nillable="true"/>
          <xsd:element name="hint" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="transferRequestId" type="xsd:int"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="TransferRequestDataJoin_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="TransferRequestDetailPK">
    <xsd:complexContent>
      <xsd:extension base="eca:PrimaryKey">
        <xsd:sequence>
          <xsd:element name="transferRequestDetailId" type="xsd:int"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="TransferRequestDetailsData_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="transferRequestId" type="ecaAccountTransfer:TransferRequestPK"/>
          <xsd:element name="accountPK" type="ecaAccount:AccountPK"/>
          <xsd:element name="requestDetailStatus" type="xsd:int"/>
          <xsd:element name="requestStage" type="xsd:int"/>
          <xsd:element name="transferDtm" type="xsd:dateTime"/>
          <xsd:element name="transferEffectiveDtm" type="xsd:dateTime"/>
          <xsd:element name="transferRequestData" type="ecaAccountTransfer:TransferRequestData_1" minOccurs="0" nillable="true"/>
          <xsd:element name="transferLogData" type="ecaAccountTransfer:ArrayOfNullableTransferLogData_1" minOccurs="0" nillable="true"/>
          <xsd:element name="hint" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="transferRequestDetailId" type="xsd:int"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="TransferRequestDetailsDataJoin_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="transferRequestDataJoin" type="ecaAccountTransfer:TransferRequestDataJoin_1" minOccurs="0" nillable="true"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="TransferRequestPK">
    <xsd:complexContent>
      <xsd:extension base="eca:PrimaryKey">
        <xsd:sequence>
          <xsd:element name="transferRequestId" type="xsd:int"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ValidateAccountTransferInput_1">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="targetCustomerPK" type="ecaCustomer:CustomerPK"/>
          <xsd:element name="sourceCustomerPK" type="ecaCustomer:CustomerPK"/>
          <xsd:element name="transferEffectiveDtm" type="xsd:dateTime" minOccurs="0" nillable="true"/>
          <xsd:element name="accountList" type="eca:ArrayOfNullableString" minOccurs="0" nillable="true"/>
          <xsd:element name="defaultContactSeq" type="xsd:int" minOccurs="0" nillable="true"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ValidateAccountTransferOutput_1">
        <xsd:sequence>
          <xsd:element name="validateAccountTransferResult" type="ecaAccountTransfer:ValidateAccountTransferResult_1"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ValidateAccountTransferResult_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="failedAccountCount" type="xsd:long"/>
          <xsd:element name="transferLogRequestDetailsId" type="xsd:long"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>



  <!-- Array Types -->
  <xsd:complexType name="ArrayOfAccountTransferHistoryData_1">
    <xsd:complexContent>
      <xsd:extension base="base:BaseStructure">
        <xsd:sequence>
          <xsd:element
            name="a"
            type="ecaAccountTransfer:AccountTransferHistoryData_1"
            minOccurs="0"
            maxOccurs="unbounded"
          />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ArrayOfNullableCustOverrideDiscountTransferHistoryData_1">
    <xsd:complexContent>
      <xsd:extension base="base:BaseStructure">
        <xsd:sequence>
          <xsd:element
            name="a"
            type="ecaAccountTransfer:CustOverrideDiscountTransferHistoryData_1"
            minOccurs="0"
            maxOccurs="unbounded"
            nillable="true"
          />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ArrayOfNullableCustOverridePriceTransferHistoryData_1">
    <xsd:complexContent>
      <xsd:extension base="base:BaseStructure">
        <xsd:sequence>
          <xsd:element
            name="a"
            type="ecaAccountTransfer:CustOverridePriceTransferHistoryData_1"
            minOccurs="0"
            maxOccurs="unbounded"
            nillable="true"
          />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ArrayOfNullableCustOverrideRateTransferHistoryData_1">
    <xsd:complexContent>
      <xsd:extension base="base:BaseStructure">
        <xsd:sequence>
          <xsd:element
            name="a"
            type="ecaAccountTransfer:CustOverrideRateTransferHistoryData_1"
            minOccurs="0"
            maxOccurs="unbounded"
            nillable="true"
          />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ArrayOfCustProductTransferHistoryData_1">
    <xsd:complexContent>
      <xsd:extension base="base:BaseStructure">
        <xsd:sequence>
          <xsd:element
            name="a"
            type="ecaAccountTransfer:CustProductTransferHistoryData_1"
            minOccurs="0"
            maxOccurs="unbounded"
          />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ArrayOfCustomerAddressTransferHistoryData_1">
    <xsd:complexContent>
      <xsd:extension base="base:BaseStructure">
        <xsd:sequence>
          <xsd:element
            name="a"
            type="ecaAccountTransfer:CustomerAddressTransferHistoryData_1"
            minOccurs="0"
            maxOccurs="unbounded"
          />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ArrayOfCustomerContactTransferHistoryData_1">
    <xsd:complexContent>
      <xsd:extension base="base:BaseStructure">
        <xsd:sequence>
          <xsd:element
            name="a"
            type="ecaAccountTransfer:CustomerContactTransferHistoryData_1"
            minOccurs="0"
            maxOccurs="unbounded"
          />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ArrayOfCustomerContractTransferHistoryData_1">
    <xsd:complexContent>
      <xsd:extension base="base:BaseStructure">
        <xsd:sequence>
          <xsd:element
            name="a"
            type="ecaAccountTransfer:CustomerContractTransferHistoryData_1"
            minOccurs="0"
            maxOccurs="unbounded"
          />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ArrayOfTransferLogData_1">
    <xsd:complexContent>
      <xsd:extension base="base:BaseStructure">
        <xsd:sequence>
          <xsd:element
            name="a"
            type="ecaAccountTransfer:TransferLogData_1"
            minOccurs="0"
            maxOccurs="unbounded"
          />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ArrayOfNullableTransferLogData_1">
    <xsd:complexContent>
      <xsd:extension base="base:BaseStructure">
        <xsd:sequence>
          <xsd:element
            name="a"
            type="ecaAccountTransfer:TransferLogData_1"
            minOccurs="0"
            maxOccurs="unbounded"
            nillable="true"
          />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ArrayOfNullableTransferRequestData_1">
    <xsd:complexContent>
      <xsd:extension base="base:BaseStructure">
        <xsd:sequence>
          <xsd:element
            name="a"
            type="ecaAccountTransfer:TransferRequestData_1"
            minOccurs="0"
            maxOccurs="unbounded"
            nillable="true"
          />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ArrayOfNullableTransferRequestDetailsData_1">
    <xsd:complexContent>
      <xsd:extension base="base:BaseStructure">
        <xsd:sequence>
          <xsd:element
            name="a"
            type="ecaAccountTransfer:TransferRequestDetailsData_1"
            minOccurs="0"
            maxOccurs="unbounded"
            nillable="true"
          />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>


</xsd:schema>

<!-- eof ECA_AccountTransfer.xsd -->
