Release2.21/ECA.CST/customeca-j2ee/schema/ECA/ECA_PaymentArrangement.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- XML Schema for type definitions of component ECA -->
<!-- service PaymentArrangement. -->

<xsd:schema
  targetNamespace="urn:Convergys-Interface-ECA-PaymentArrangement"
  xmlns="urn:Convergys-Interface-ECA-PaymentArrangement"
  xmlns:ecaPaymentArrangement="urn:Convergys-Interface-ECA-PaymentArrangement"
  elementFormDefault="qualified"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:base="urn:Convergys-Interface-Base"
  xmlns:commonIML="urn:Convergys-Interface-CommonIML"
  xmlns:eca="urn:Convergys-Interface-ECA"
  xmlns:ecaAccount="urn:Convergys-Interface-ECA-Account"
  xmlns:ecaConfig="urn:Convergys-Interface-ECA-Config"
>
  <!-- Imports -->
  <xsd:import
    namespace="urn:Convergys-Interface-Base"
    schemaLocation="../../schema/Base/Base.xsd"
  />

  <xsd:import
    namespace="urn:Convergys-Interface-CommonIML"
    schemaLocation="../../schema/CommonIML/CommonIML.xsd"
  />

  <xsd:import
    namespace="urn:Convergys-Interface-ECA"
    schemaLocation="../../schema/ECA/ECA.xsd"
  />

  <xsd:import
    namespace="urn:Convergys-Interface-ECA-Account"
    schemaLocation="../../schema/ECA/ECA_Account.xsd"
  />

  <xsd:import
    namespace="urn:Convergys-Interface-ECA-Config"
    schemaLocation="../../schema/ECA/ECA_Config.xsd"
  />


  <!-- Enumeration Types -->
  <xsd:simpleType name="AccountPaymentArrangementStatus">
    <xsd:restriction base="xsd:int">
<!-- Enums are represented as int values in IML. The following list provides a mapping of
the different enum options supported by the server. Please note that the server might have
been upgraded to a more uptodate release and might support additional options. Some options
may also be deprecated.

       0 = ACTIVE
       1 = COMPLETED
       2 = EXPIRED
       3 = EXPIREDANDCOMPLETED

-->
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="InstallmentStatus">
    <xsd:restriction base="xsd:int">
<!-- Enums are represented as int values in IML. The following list provides a mapping of
the different enum options supported by the server. Please note that the server might have
been upgraded to a more uptodate release and might support additional options. Some options
may also be deprecated.

       0 = CREATED
       1 = BILLED
       2 = EXPIRED
       3 = EXPIREDBILLED

-->
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="PaymentArrangementLevel">
    <xsd:restriction base="xsd:int">
<!-- Enums are represented as int values in IML. The following list provides a mapping of
the different enum options supported by the server. Please note that the server might have
been upgraded to a more uptodate release and might support additional options. Some options
may also be deprecated.

       0 = Account
       1 = Receivable

-->
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="TerminationType">
    <xsd:restriction base="xsd:int">
<!-- Enums are represented as int values in IML. The following list provides a mapping of
the different enum options supported by the server. Please note that the server might have
been upgraded to a more uptodate release and might support additional options. Some options
may also be deprecated.

       0 = System
       1 = Voluntary

-->
    </xsd:restriction>
  </xsd:simpleType>


  <!-- Structure and Exception Types -->
  <xsd:complexType name="AccountBillingScheduleData_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="dueDat" type="xsd:dateTime"/>
          <xsd:element name="createdBillSeq" type="xsd:int"/>
          <xsd:element name="installmentMny" type="xsd:long"/>
          <xsd:element name="installmentStatus" type="ecaPaymentArrangement:InstallmentStatus"/>
          <xsd:element name="installmentNum" type="xsd:int"/>
          <xsd:element name="scheduledBillSeq" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="billCreatedAccPaySeq" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="hint" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="accountNum" type="xsd:string"/>
          <xsd:element name="paymentArrangementSeq" type="xsd:int"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="AccountBillingSchedulePK">
    <xsd:complexContent>
      <xsd:extension base="eca:PrimaryKey">
        <xsd:sequence>
          <xsd:element name="accountNum" type="xsd:string"/>
          <xsd:element name="paymentArrangementSeq" type="xsd:int"/>
          <xsd:element name="dueDat" type="xsd:dateTime"/>
          <xsd:element name="createdBillSeq" type="xsd:int"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="AccountPaymentArrangementData_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="paymentArrangementId" type="xsd:int"/>
          <xsd:element name="validFromDat" type="xsd:dateTime"/>
          <xsd:element name="validToDat" type="xsd:dateTime"/>
          <xsd:element name="accountPaymentArrangementStatus" type="ecaPaymentArrangement:AccountPaymentArrangementStatus"/>
          <xsd:element name="billSeq" type="xsd:int"/>
          <xsd:element name="billVersion" type="xsd:int"/>
          <xsd:element name="outstandingTot" type="xsd:double"/>
          <xsd:element name="paymentArrangementType" type="ecaConfig:PaymentArrangementType"/>
          <xsd:element name="paymentArrangementLevel" type="ecaPaymentArrangement:PaymentArrangementLevel"/>
          <xsd:element name="numBilledInstallments" type="xsd:int"/>
          <xsd:element name="numUnbilledInstallments" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="installmentStartDat" type="xsd:dateTime" minOccurs="0" nillable="true"/>
          <xsd:element name="terminationDat" type="xsd:dateTime" minOccurs="0" nillable="true"/>
          <xsd:element name="paTermReasonId" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="hint" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="accountNum" type="xsd:string"/>
          <xsd:element name="paymentArrangementSeq" type="xsd:int"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="AccountPaymentArrangementPK">
    <xsd:complexContent>
      <xsd:extension base="eca:PrimaryKey">
        <xsd:sequence>
          <xsd:element name="accountNum" type="xsd:string"/>
          <xsd:element name="paymentArrangementSeq" type="xsd:int"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="AccountReceivableClassData_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="receivableClassId" type="xsd:int"/>
          <xsd:element name="receivableContribMny" type="xsd:long" minOccurs="0" nillable="true"/>
          <xsd:element name="hint" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="accountNum" type="xsd:string"/>
          <xsd:element name="paymentArrangementSeq" type="xsd:int"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="AccountReceivablesPK">
    <xsd:complexContent>
      <xsd:extension base="eca:PrimaryKey">
        <xsd:sequence>
          <xsd:element name="accountNum" type="xsd:string"/>
          <xsd:element name="paymentArrangementSeq" type="xsd:int"/>
          <xsd:element name="receivableClassId" type="xsd:int"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="EndAccPaymentArrangementInput_1">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="accountPaymentArrangementPK" type="ecaPaymentArrangement:AccountPaymentArrangementPK"/>
          <xsd:element name="paTermReasonId" type="xsd:int"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="OverrideDownPaymentAmountInput_1">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="accountPK" type="ecaAccount:AccountPK"/>
          <xsd:element name="paymentArrangementID" type="xsd:int"/>
          <xsd:element name="billDat" type="xsd:dateTime"/>
          <xsd:element name="outstandingTot" type="xsd:double"/>
          <xsd:element name="noOFInstallements" type="xsd:int"/>
          <xsd:element name="installementPercentageVal" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="installementNumeratorVal" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="installementDenominatorVal" type="xsd:int" minOccurs="0" nillable="true"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="OverrideDownPaymentAmountOutput_1">
        <xsd:sequence>
          <xsd:element name="caluclatedDownPaymentMny" type="xsd:long"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryAccountPaymentArrangementInput_1">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="accountPaymentArrangementPK" type="ecaPaymentArrangement:AccountPaymentArrangementPK"/>
          <xsd:element name="maxRows" type="xsd:int"/>
          <xsd:element name="discardTruncatedBoo" type="xsd:boolean"/>
          <xsd:element name="accountPABillScheduleBoo" type="xsd:boolean"/>
          <xsd:element name="accountPAReceivableBoo" type="xsd:boolean"/>
          <xsd:element name="lastAccountBillingSchedulePK" type="ecaPaymentArrangement:AccountBillingSchedulePK" minOccurs="0" nillable="true"/>
          <xsd:element name="lastAccountReceivablesPK" type="ecaPaymentArrangement:AccountReceivablesPK" minOccurs="0" nillable="true"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryAccountPaymentArrangementOutput_1">
        <xsd:sequence>
          <xsd:element name="queryAccountPaymentArrangementResult" type="ecaPaymentArrangement:QueryAccountPaymentArrangementResult_1"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryAccountPaymentArrangementResult_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="accountPaymentArrangementData" type="ecaPaymentArrangement:AccountPaymentArrangementData_1"/>
          <xsd:element name="accountBillingSchedule" type="ecaPaymentArrangement:ArrayOfAccountBillingScheduleData_1" minOccurs="0" nillable="true"/>
          <xsd:element name="accountReceivableClasses" type="ecaPaymentArrangement:ArrayOfAccountReceivableClassData_1" minOccurs="0" nillable="true"/>
          <xsd:element name="truncated" type="xsd:boolean"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="QueryAllAccountPaymentArrangementResult_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="accountPaymentArrangementData" type="ecaPaymentArrangement:ArrayOfAccountPaymentArrangementData_1" minOccurs="0" nillable="true"/>
          <xsd:element name="truncated" type="xsd:boolean"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="QueryAllAccountPaymentArrangementsInput_1">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="accountPK" type="ecaAccount:AccountPK"/>
          <xsd:element name="maxRows" type="xsd:int"/>
          <xsd:element name="discardTruncatedBoo" type="xsd:boolean"/>
          <xsd:element name="fromDat" type="xsd:dateTime" minOccurs="0" nillable="true"/>
          <xsd:element name="upToDat" type="xsd:dateTime" minOccurs="0" nillable="true"/>
          <xsd:element name="accountPaymentArrangementStatusSet" type="ecaPaymentArrangement:ArrayOfAccountPaymentArrangementStatus" minOccurs="0" nillable="true"/>
          <xsd:element name="billSeq" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="billVersion" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="paymentArrangementTypeSet" type="ecaConfig:ArrayOfPaymentArrangementType" minOccurs="0" nillable="true"/>
          <xsd:element name="paymentArrangementLevelSet" type="ecaPaymentArrangement:ArrayOfPaymentArrangementLevel" minOccurs="0" nillable="true"/>
          <xsd:element name="lastAccountPaymentArrangementPK" type="ecaPaymentArrangement:AccountPaymentArrangementPK" minOccurs="0" nillable="true"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryAllAccountPaymentArrangementsOutput_1">
        <xsd:sequence>
          <xsd:element name="queryAllAccountPaymentArrangementResult" type="ecaPaymentArrangement:QueryAllAccountPaymentArrangementResult_1"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="StartAccPaymentArrangementInput_1">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="accountPK" type="ecaAccount:AccountPK"/>
          <xsd:element name="paymentArrangementID" type="xsd:int"/>
          <xsd:element name="billSeq" type="xsd:int"/>
          <xsd:element name="billVersion" type="xsd:int"/>
          <xsd:element name="listOfReceivables" type="xsd:string" minOccurs="0" nillable="true"/>
          <xsd:element name="downPaymentAmountMny" type="xsd:long"/>
          <xsd:element name="outstandingTot" type="xsd:double"/>
          <xsd:element name="noOfInstallments" type="xsd:int"/>
          <xsd:element name="startDat" type="xsd:dateTime" minOccurs="0" nillable="true"/>
          <xsd:element name="endDat" type="xsd:dateTime" minOccurs="0" nillable="true"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="StartAccPaymentArrangementOutput_1">
        <xsd:sequence>
          <xsd:element name="startAccPaymentArrangementResult" type="ecaPaymentArrangement:StartAccPaymentArrangementResult_1"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="StartAccPaymentArrangementResult_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="accountPaymentArrangementPK" type="ecaPaymentArrangement:AccountPaymentArrangementPK"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>



  <!-- Array Types -->
  <xsd:complexType name="ArrayOfAccountPaymentArrangementStatus">
    <xsd:complexContent>
      <xsd:extension base="base:BaseStructure">
        <xsd:sequence>
          <xsd:element
            name="a"
            type="ecaPaymentArrangement:AccountPaymentArrangementStatus"
            minOccurs="0"
            maxOccurs="unbounded"
          />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ArrayOfPaymentArrangementLevel">
    <xsd:complexContent>
      <xsd:extension base="base:BaseStructure">
        <xsd:sequence>
          <xsd:element
            name="a"
            type="ecaPaymentArrangement:PaymentArrangementLevel"
            minOccurs="0"
            maxOccurs="unbounded"
          />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ArrayOfAccountBillingScheduleData_1">
    <xsd:complexContent>
      <xsd:extension base="base:BaseStructure">
        <xsd:sequence>
          <xsd:element
            name="a"
            type="ecaPaymentArrangement:AccountBillingScheduleData_1"
            minOccurs="0"
            maxOccurs="unbounded"
          />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ArrayOfAccountPaymentArrangementData_1">
    <xsd:complexContent>
      <xsd:extension base="base:BaseStructure">
        <xsd:sequence>
          <xsd:element
            name="a"
            type="ecaPaymentArrangement:AccountPaymentArrangementData_1"
            minOccurs="0"
            maxOccurs="unbounded"
          />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ArrayOfAccountReceivableClassData_1">
    <xsd:complexContent>
      <xsd:extension base="base:BaseStructure">
        <xsd:sequence>
          <xsd:element
            name="a"
            type="ecaPaymentArrangement:AccountReceivableClassData_1"
            minOccurs="0"
            maxOccurs="unbounded"
          />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>


</xsd:schema>

<!-- eof ECA_PaymentArrangement.xsd -->
