Release2.21/ECA.CST/customeca-j2ee/schema/ECA/ECA_Lifecycle.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- XML Schema for type definitions of component ECA -->
<!-- service Lifecycle. -->

<xsd:schema
  targetNamespace="urn:Convergys-Interface-ECA-Lifecycle"
  xmlns="urn:Convergys-Interface-ECA-Lifecycle"
  xmlns:ecaLifecycle="urn:Convergys-Interface-ECA-Lifecycle"
  elementFormDefault="qualified"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:base="urn:Convergys-Interface-Base"
  xmlns:commonIML="urn:Convergys-Interface-CommonIML"
  xmlns:eca="urn:Convergys-Interface-ECA"
  xmlns:ecaAccount="urn:Convergys-Interface-ECA-Account"
  xmlns:ecaConfig="urn:Convergys-Interface-ECA-Config"
  xmlns:ecaEvent="urn:Convergys-Interface-ECA-Event"
  xmlns:ecaProductInstance="urn:Convergys-Interface-ECA-ProductInstance"
>
  <!-- Imports -->
  <xsd:import
    namespace="urn:Convergys-Interface-Base"
    schemaLocation="../../schema/Base/Base.xsd"
  />

  <xsd:import
    namespace="urn:Convergys-Interface-CommonIML"
    schemaLocation="../../schema/CommonIML/CommonIML.xsd"
  />

  <xsd:import
    namespace="urn:Convergys-Interface-ECA"
    schemaLocation="../../schema/ECA/ECA.xsd"
  />

  <xsd:import
    namespace="urn:Convergys-Interface-ECA-Account"
    schemaLocation="../../schema/ECA/ECA_Account.xsd"
  />

  <xsd:import
    namespace="urn:Convergys-Interface-ECA-Config"
    schemaLocation="../../schema/ECA/ECA_Config.xsd"
  />

  <xsd:import
    namespace="urn:Convergys-Interface-ECA-Event"
    schemaLocation="../../schema/ECA/ECA_Event.xsd"
  />

  <xsd:import
    namespace="urn:Convergys-Interface-ECA-ProductInstance"
    schemaLocation="../../schema/ECA/ECA_ProductInstance.xsd"
  />


  <!-- Enumeration Types -->
  <xsd:simpleType name="ActionProcessStatus">
    <xsd:restriction base="xsd:int">
<!-- Enums are represented as int values in IML. The following list provides a mapping of
the different enum options supported by the server. Please note that the server might have
been upgraded to a more uptodate release and might support additional options. Some options
may also be deprecated.

       1 = Pending
       2 = Cancelled
       3 = Failed
       4 = Completed

-->
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="AuthCriteria">
    <xsd:restriction base="xsd:int">
<!-- Enums are represented as int values in IML. The following list provides a mapping of
the different enum options supported by the server. Please note that the server might have
been upgraded to a more uptodate release and might support additional options. Some options
may also be deprecated.

       0 = Normal
       1 = NotDiscountAndNotAccount
       2 = DiscountButNotAccount

-->
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="LifeCycleProfileType">
    <xsd:restriction base="xsd:int">
<!-- Enums are represented as int values in IML. The following list provides a mapping of
the different enum options supported by the server. Please note that the server might have
been upgraded to a more uptodate release and might support additional options. Some options
may also be deprecated.

       1 = AccountLifeCycleProfile
       2 = NonPeriodicRTDProfile

-->
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="StateTranActionType">
    <xsd:restriction base="xsd:int">
<!-- Enums are represented as int values in IML. The following list provides a mapping of
the different enum options supported by the server. Please note that the server might have
been upgraded to a more uptodate release and might support additional options. Some options
may also be deprecated.

       1 = TimeOutActionType
       2 = RechargeActionType

-->
    </xsd:restriction>
  </xsd:simpleType>


  <!-- Structure and Exception Types -->
  <xsd:complexType name="AccountHasLCActionRequestData_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="accountPK" type="ecaAccount:AccountPK"/>
          <xsd:element name="lcProfileId" type="xsd:int"/>
          <xsd:element name="lcActionId" type="xsd:int"/>
          <xsd:element name="randomHash" type="xsd:int"/>
          <xsd:element name="actionRequestDtm" type="xsd:dateTime"/>
          <xsd:element name="actionProcessStatus" type="ecaLifecycle:ActionProcessStatus"/>
          <xsd:element name="actionProcessedDtm" type="xsd:dateTime" minOccurs="0" nillable="true"/>
          <xsd:element name="actionReasonTxt" type="xsd:string" minOccurs="0" nillable="true"/>
          <xsd:element name="hint" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="domainId" type="xsd:int"/>
          <xsd:element name="lcActionRequestSeq" type="xsd:int"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="AccountHasLCActionRequestData_2">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="productInstancePK" type="ecaProductInstance:ProductInstancePK"/>
          <xsd:element name="accountPK" type="ecaAccount:AccountPK"/>
          <xsd:element name="eventDiscountId" type="xsd:int"/>
          <xsd:element name="eventSource" type="xsd:string" minOccurs="0" nillable="true"/>
          <xsd:element name="lcProfileId" type="xsd:int"/>
          <xsd:element name="lcActionId" type="xsd:int"/>
          <xsd:element name="randomHash" type="xsd:int"/>
          <xsd:element name="actionRequestDtm" type="xsd:dateTime"/>
          <xsd:element name="actionProcessStatus" type="ecaLifecycle:ActionProcessStatus"/>
          <xsd:element name="actionProcessedDtm" type="xsd:dateTime" minOccurs="0" nillable="true"/>
          <xsd:element name="actionReasonTxt" type="xsd:string" minOccurs="0" nillable="true"/>
          <xsd:element name="hint" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="domainId" type="xsd:int"/>
          <xsd:element name="lcActionRequestSeq" type="xsd:int"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="AccountHasLCActionRequestPK">
    <xsd:complexContent>
      <xsd:extension base="eca:PrimaryKey">
        <xsd:sequence>
          <xsd:element name="domainId" type="xsd:int"/>
          <xsd:element name="lcActionRequestSeq" type="xsd:int"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="AccountLifecycleDetailsData_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="startDtm" type="xsd:dateTime"/>
          <xsd:element name="upToDtm" type="xsd:dateTime" minOccurs="0" nillable="true"/>
          <xsd:element name="domainId" type="xsd:int"/>
          <xsd:element name="lcProfileId" type="xsd:int"/>
          <xsd:element name="lcStateId" type="xsd:int"/>
          <xsd:element name="stateReasonText" type="xsd:string" minOccurs="0" nillable="true"/>
          <xsd:element name="hint" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="accountNum" type="xsd:string"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="CancelAccountLCActionRequestInput_1">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="accountPK" type="ecaAccount:AccountPK"/>
          <xsd:element name="lcActionRequestSeq" type="xsd:int"/>
          <xsd:element name="oldReasonText" type="xsd:string" minOccurs="0" nillable="true"/>
          <xsd:element name="newReasonText" type="xsd:string"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="LifecycleActionTypeData_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="lcActionTypeId" type="xsd:int"/>
          <xsd:element name="lcActionTypeName" type="xsd:string"/>
          <xsd:element name="actionPluginName" type="xsd:string"/>
          <xsd:element name="lcActionTypeDesc" type="xsd:string" minOccurs="0" nillable="true"/>
          <xsd:element name="actionTypeArguments" type="xsd:string" minOccurs="0" nillable="true"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="LifecycleAttributesAndTypeData_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="attrType" type="ecaLifecycle:LifecycleProfileTypeAttrData_1"/>
          <xsd:element name="attrValue" type="ecaLifecycle:LifecycleProfileAttrValData_1" minOccurs="0" nillable="true"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="LifecycleProfileActionAndActionTypeData_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="lcProfileActionDetails" type="ecaLifecycle:LifecycleProfileActionData_1"/>
          <xsd:element name="lcActionType" type="ecaLifecycle:LifecycleActionTypeData_1" minOccurs="0" nillable="true"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="LifecycleProfileActionData_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="lcProfileId" type="xsd:int"/>
          <xsd:element name="lcActionId" type="xsd:int"/>
          <xsd:element name="lcStateId" type="xsd:int"/>
          <xsd:element name="lcActionTypeId" type="xsd:int"/>
          <xsd:element name="externalActionId" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="actionDaysOffset" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="actionTypeArgValue" type="xsd:string" minOccurs="0" nillable="true"/>
          <xsd:element name="defaultActionTxt" type="xsd:string" minOccurs="0" nillable="true"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="LifecycleProfileAndTypeData_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="lcProfile" type="ecaLifecycle:LifecycleProfileData_1"/>
          <xsd:element name="lcProfileType" type="ecaLifecycle:LifecycleProfileTypeData_1" minOccurs="0" nillable="true"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="LifecycleProfileAndTypeData_2">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="lcProfile" type="ecaLifecycle:LifecycleProfileData_1"/>
          <xsd:element name="lcProfileType" type="ecaLifecycle:LifecycleProfileTypeData_2" minOccurs="0" nillable="true"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="LifecycleProfileAttrValData_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="lcProfileTypeAttrId" type="xsd:int"/>
          <xsd:element name="lcProfileId" type="xsd:int"/>
          <xsd:element name="attributeValue" type="xsd:string"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="LifecycleProfileData_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="lcProfileId" type="xsd:int"/>
          <xsd:element name="lcProfileTypeId" type="xsd:int"/>
          <xsd:element name="lcProfileName" type="xsd:string"/>
          <xsd:element name="initialLcStateId" type="xsd:int"/>
          <xsd:element name="lcProfileDesc" type="xsd:string" minOccurs="0" nillable="true"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="LifecycleProfileData_2">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="lcProfileId" type="xsd:int"/>
          <xsd:element name="lcProfileTypeId" type="xsd:int"/>
          <xsd:element name="lcProfileName" type="xsd:string"/>
          <xsd:element name="initialLcStateId" type="xsd:int"/>
          <xsd:element name="lcProfileDesc" type="xsd:string" minOccurs="0" nillable="true"/>
          <xsd:element name="lcProfileTypeData" type="ecaLifecycle:LifecycleProfileTypeData_2" minOccurs="0" nillable="true"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="LifecycleProfileDetailsAndStateData_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="lcProfileDetails" type="ecaLifecycle:LifecycleProfileDetailsData_1"/>
          <xsd:element name="lcState" type="ecaLifecycle:LifecycleStateData_1" minOccurs="0" nillable="true"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="LifecycleProfileDetailsAndStateData_2">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="lcProfileDetails" type="ecaLifecycle:LifecycleProfileDetailsData_2"/>
          <xsd:element name="lcState" type="ecaLifecycle:LifecycleStateData_1" minOccurs="0" nillable="true"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="LifecycleProfileDetailsData_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="lcProfileId" type="xsd:int"/>
          <xsd:element name="lcStateId" type="xsd:int"/>
          <xsd:element name="rechargeBoo" type="xsd:boolean"/>
          <xsd:element name="authCriteria" type="ecaLifecycle:AuthCriteria"/>
          <xsd:element name="defaultPeriod" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="defaultPeriodUnit" type="ecaConfig:PeriodUnits" minOccurs="0" nillable="true"/>
          <xsd:element name="defaultNextLcStateId" type="xsd:int" minOccurs="0" nillable="true"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="LifecycleProfileDetailsData_2">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="lcProfileId" type="xsd:int"/>
          <xsd:element name="lcStateId" type="xsd:int"/>
          <xsd:element name="rechargeBoo" type="xsd:boolean"/>
          <xsd:element name="authCriteria" type="ecaLifecycle:AuthCriteria"/>
          <xsd:element name="defaultPeriod" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="defaultPeriodUnit" type="ecaConfig:PeriodUnits" minOccurs="0" nillable="true"/>
          <xsd:element name="defaultNextLcStateId" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="eventMappingSetId" type="xsd:int" minOccurs="0" nillable="true"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="LifecycleProfileStateDetailsData_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="lcProfileDetails" type="ecaLifecycle:LifecycleProfileDetailsData_1"/>
          <xsd:element name="lcState" type="ecaLifecycle:LifecycleStateData_1" minOccurs="0" nillable="true"/>
          <xsd:element name="lifecycleProfileTypeTranArray" type="ecaLifecycle:ArrayOfLifecycleProfileTypeTranData_1" minOccurs="0" nillable="true"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="LifecycleProfileStateDetailsData_2">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="lcProfileDetails" type="ecaLifecycle:LifecycleProfileDetailsData_2"/>
          <xsd:element name="lcState" type="ecaLifecycle:LifecycleStateData_1" minOccurs="0" nillable="true"/>
          <xsd:element name="lifecycleProfileTypeTranArray" type="ecaLifecycle:ArrayOfLifecycleProfileTypeTranData_2" minOccurs="0" nillable="true"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="LifecycleProfileTypeAttrData_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="lcProfileTypeId" type="xsd:int"/>
          <xsd:element name="lcProfileTypeAttrId" type="xsd:int"/>
          <xsd:element name="attributeName" type="xsd:string"/>
          <xsd:element name="attributeUnits" type="ecaEvent:AttributeUnits"/>
          <xsd:element name="attributeDesc" type="xsd:string" minOccurs="0" nillable="true"/>
          <xsd:element name="defaultValue" type="xsd:string" minOccurs="0" nillable="true"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="LifecycleProfileTypeData_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="lcProfileTypeId" type="xsd:int"/>
          <xsd:element name="lcProfileTypeName" type="xsd:string"/>
          <xsd:element name="lcProfileTypeDesc" type="xsd:string" minOccurs="0" nillable="true"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="LifecycleProfileTypeData_2">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="lcProfileTypeId" type="xsd:int"/>
          <xsd:element name="lcProfileTypeName" type="xsd:string"/>
          <xsd:element name="lcProfileTypeDesc" type="xsd:string" minOccurs="0" nillable="true"/>
          <xsd:element name="lcProfileType" type="ecaLifecycle:LifeCycleProfileType"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="LifecycleProfileTypeTranData_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="lcProfileTypeId" type="xsd:int"/>
          <xsd:element name="startLcStateId" type="xsd:int"/>
          <xsd:element name="endLcStateId" type="xsd:int"/>
          <xsd:element name="stateTranName" type="xsd:string"/>
          <xsd:element name="stateTranDesc" type="xsd:string" minOccurs="0" nillable="true"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="LifecycleProfileTypeTranData_2">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="lcProfileTypeId" type="xsd:int"/>
          <xsd:element name="startLcStateId" type="xsd:int"/>
          <xsd:element name="endLcStateId" type="xsd:int"/>
          <xsd:element name="stateTranName" type="xsd:string"/>
          <xsd:element name="stateTranDesc" type="xsd:string" minOccurs="0" nillable="true"/>
          <xsd:element name="stateTranActionType" type="ecaLifecycle:StateTranActionType" minOccurs="0" nillable="true"/>
          <xsd:element name="useCurrentDtmBoo" type="xsd:boolean" minOccurs="0" nillable="true"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="LifecycleStateData_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="lcStateId" type="xsd:int"/>
          <xsd:element name="lcStateName" type="xsd:string"/>
          <xsd:element name="lcStateDesc" type="xsd:string" minOccurs="0" nillable="true"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="MinimumUsageCountersData_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="preDiscountUsageMny" type="xsd:long"/>
          <xsd:element name="postDiscountUsageMny" type="xsd:long"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ModifyAccountLifecycleStateInput_1">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="accountPK" type="ecaAccount:AccountPK"/>
          <xsd:element name="lcProfileId" type="xsd:int"/>
          <xsd:element name="oldLcStateId" type="xsd:int"/>
          <xsd:element name="nextLcStateId" type="xsd:int"/>
          <xsd:element name="nextLcProcessDays" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="oldStateReasonText" type="xsd:string" minOccurs="0" nillable="true"/>
          <xsd:element name="newStateReasonText" type="xsd:string" minOccurs="0" nillable="true"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ModifyRatingTimeDiscountInstanceLCStateInput_1">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="productInstancePK" type="ecaProductInstance:ProductInstancePK"/>
          <xsd:element name="eventDiscountId" type="xsd:int"/>
          <xsd:element name="eventSource" type="xsd:string" minOccurs="0" nillable="true"/>
          <xsd:element name="oldLcStateId" type="xsd:int"/>
          <xsd:element name="nextLcStateId" type="xsd:int"/>
          <xsd:element name="nextLcStateProcessDays" type="xsd:int" minOccurs="0" nillable="true"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryAccountDormancyLifeCycleDataInput_1">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="accountPK" type="ecaAccount:AccountPK"/>
          <xsd:element name="whenDtm" type="xsd:dateTime" minOccurs="0" nillable="true"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryAccountDormancyLifeCycleDataOutput_1">
        <xsd:sequence>
          <xsd:element name="accountDormancyLifeCycleDataResult" type="ecaLifecycle:QueryAccountProfileStateData_2"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryAccountLifeCycleDataInput_1">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="accountPK" type="ecaAccount:AccountPK"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryAccountLifeCycleDataOutput_1">
        <xsd:sequence>
          <xsd:element name="result" type="ecaLifecycle:QueryAccountProfileStateData_1"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryAccountProfileStateData_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="lifecycleProfileData" type="ecaLifecycle:LifecycleProfileData_1"/>
          <xsd:element name="accountLifecycleDetailsData" type="ecaLifecycle:AccountLifecycleDetailsData_1"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="QueryAccountProfileStateData_2">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="lifecycleProfileData" type="ecaLifecycle:LifecycleProfileData_1"/>
          <xsd:element name="accountLifecycleDetailsData" type="ecaLifecycle:AccountLifecycleDetailsData_1"/>
          <xsd:element name="lcProfileTypeData" type="ecaLifecycle:LifecycleProfileTypeData_2" minOccurs="0" nillable="true"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="QueryAccountProfileStateInput_1">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="accountPK" type="ecaAccount:AccountPK"/>
          <xsd:element name="whenDtm" type="xsd:dateTime" minOccurs="0" nillable="true"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryAccountProfileStateOutput_1">
        <xsd:sequence>
          <xsd:element name="result" type="ecaLifecycle:QueryAccountProfileStateData_1"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryAllLifecycleProfilesInput_1">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="languageId" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="maxRows" type="xsd:int"/>
          <xsd:element name="lastLcProfileId" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="discardTruncated" type="xsd:boolean"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryAllLifecycleProfilesInput_2">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="languageId" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="profileTypeId" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="maxRows" type="xsd:int"/>
          <xsd:element name="lastLcProfileId" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="discardTruncated" type="xsd:boolean"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryAllLifecycleProfilesOutput_1">
        <xsd:sequence>
          <xsd:element name="result" type="ecaLifecycle:QueryAllLifecycleProfilesResult_1"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryAllLifecycleProfilesOutput_2">
        <xsd:sequence>
          <xsd:element name="result" type="ecaLifecycle:QueryAllLifecycleProfilesResult_1"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryAllLifecycleProfilesResult_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="lifecycleProfileDataArray" type="ecaLifecycle:ArrayOfLifecycleProfileData_1" minOccurs="0" nillable="true"/>
          <xsd:element name="truncated" type="xsd:boolean"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="QueryLCActionRequestForDiscountInstanceResult_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="accountHasLCActionRequestDataArray" type="ecaLifecycle:ArrayOfAccountHasLCActionRequestData_2" minOccurs="0" nillable="true"/>
          <xsd:element name="truncated" type="xsd:boolean"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="QueryLCActionRequestsForDiscountInstanceInput_1">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="productInstancePK" type="ecaProductInstance:ProductInstancePK"/>
          <xsd:element name="eventDiscountId" type="xsd:int"/>
          <xsd:element name="eventSource" type="xsd:string" minOccurs="0" nillable="true"/>
          <xsd:element name="actionProcessStatusArray" type="ecaLifecycle:ArrayOfActionProcessStatus" minOccurs="0" nillable="true"/>
          <xsd:element name="maxRows" type="xsd:int"/>
          <xsd:element name="languageId" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="lastLCActionRequestSeq" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="discardTruncated" type="xsd:boolean"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryLCActionRequestsForDiscountInstanceOutput_1">
        <xsd:sequence>
          <xsd:element name="queryLCActionRequestForDiscountInstanceResult" type="ecaLifecycle:QueryLCActionRequestForDiscountInstanceResult_1" minOccurs="0" nillable="true"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryLcActionRequestForAccountData_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="accountHasLCActionRequestData" type="ecaLifecycle:AccountHasLCActionRequestData_1"/>
          <xsd:element name="lifecycleProfileActionAndActionTypeData" type="ecaLifecycle:LifecycleProfileActionAndActionTypeData_1" minOccurs="0" nillable="true"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="QueryLcActionRequestForAccountResult_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="queryLcActionRequestForAccountData" type="ecaLifecycle:ArrayOfQueryLcActionRequestForAccountData_1" minOccurs="0" nillable="true"/>
          <xsd:element name="truncated" type="xsd:boolean"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="QueryLcActionRequestsForAccountInput_1">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="accountPK" type="ecaAccount:AccountPK"/>
          <xsd:element name="actionProcessStatusArray" type="ecaLifecycle:ArrayOfActionProcessStatus" minOccurs="0" nillable="true"/>
          <xsd:element name="languageId" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="maxRows" type="xsd:int"/>
          <xsd:element name="lastLCActionRequestSeq" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="discardTruncated" type="xsd:boolean"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryLcActionRequestsForAccountOutput_1">
        <xsd:sequence>
          <xsd:element name="result" type="ecaLifecycle:QueryLcActionRequestForAccountResult_1"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryLifecycleActionsInput_1">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="profileId" type="xsd:int"/>
          <xsd:element name="lcStateId" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="lcActionTypeId" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="languageId" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="maxRows" type="xsd:int"/>
          <xsd:element name="lastLcActionId" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="discardTruncated" type="xsd:boolean"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryLifecycleActionsInput_2">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="profileId" type="xsd:int"/>
          <xsd:element name="lcStateId" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="lcActionTypeId" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="languageId" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="maxRows" type="xsd:int"/>
          <xsd:element name="lastLcActionId" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="discardTruncated" type="xsd:boolean"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryLifecycleActionsOutput_1">
        <xsd:sequence>
          <xsd:element name="result" type="ecaLifecycle:QueryLifecycleActionsResult_1"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryLifecycleActionsOutput_2">
        <xsd:sequence>
          <xsd:element name="result" type="ecaLifecycle:QueryLifecycleActionsResult_2"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryLifecycleActionsResult_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="lcActionDetails" type="ecaLifecycle:ArrayOfLifecycleProfileActionAndActionTypeData_1" minOccurs="0" nillable="true"/>
          <xsd:element name="lcProfile" type="ecaLifecycle:LifecycleProfileAndTypeData_1"/>
          <xsd:element name="truncated" type="xsd:boolean"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="QueryLifecycleActionsResult_2">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="lcActionDetails" type="ecaLifecycle:ArrayOfLifecycleProfileActionAndActionTypeData_1" minOccurs="0" nillable="true"/>
          <xsd:element name="lcProfile" type="ecaLifecycle:LifecycleProfileAndTypeData_2"/>
          <xsd:element name="truncated" type="xsd:boolean"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="QueryLifecycleAttributesInput_1">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="lcProfileId" type="xsd:int"/>
          <xsd:element name="attrId" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="languageId" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="maxRows" type="xsd:int"/>
          <xsd:element name="lastAttrId" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="discardTruncated" type="xsd:boolean"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryLifecycleAttributesInput_2">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="lcProfileId" type="xsd:int"/>
          <xsd:element name="attrId" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="languageId" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="maxRows" type="xsd:int"/>
          <xsd:element name="lastAttrId" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="discardTruncated" type="xsd:boolean"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryLifecycleAttributesOutput_1">
        <xsd:sequence>
          <xsd:element name="result" type="ecaLifecycle:QueryLifecycleAttributesResult_1"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryLifecycleAttributesOutput_2">
        <xsd:sequence>
          <xsd:element name="result" type="ecaLifecycle:QueryLifecycleAttributesResult_2"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryLifecycleAttributesResult_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="lcAttrDetails" type="ecaLifecycle:ArrayOfLifecycleAttributesAndTypeData_1" minOccurs="0" nillable="true"/>
          <xsd:element name="lcProfile" type="ecaLifecycle:LifecycleProfileAndTypeData_1"/>
          <xsd:element name="truncated" type="xsd:boolean"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="QueryLifecycleAttributesResult_2">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="lcAttrDetails" type="ecaLifecycle:ArrayOfLifecycleAttributesAndTypeData_1" minOccurs="0" nillable="true"/>
          <xsd:element name="lcProfile" type="ecaLifecycle:LifecycleProfileAndTypeData_2"/>
          <xsd:element name="truncated" type="xsd:boolean"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="QueryLifecycleProfileDetailsData_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="lcProfile" type="ecaLifecycle:LifecycleProfileData_1"/>
          <xsd:element name="lcProfileType" type="ecaLifecycle:LifecycleProfileTypeData_1" minOccurs="0" nillable="true"/>
          <xsd:element
            name="lcProfileStateDetailsArray"
            type="ecaLifecycle:LifecycleProfileStateDetailsData_1"
            minOccurs="0"
            maxOccurs="unbounded"
          />
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="QueryLifecycleProfileDetailsData_2">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="lcProfile" type="ecaLifecycle:LifecycleProfileData_1"/>
          <xsd:element name="lcProfileType" type="ecaLifecycle:LifecycleProfileTypeData_2" minOccurs="0" nillable="true"/>
          <xsd:element
            name="lcProfileStateDetailsArray"
            type="ecaLifecycle:LifecycleProfileStateDetailsData_1"
            minOccurs="0"
            maxOccurs="unbounded"
          />
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="QueryLifecycleProfileDetailsData_3">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="lcProfile" type="ecaLifecycle:LifecycleProfileData_1"/>
          <xsd:element name="lcProfileType" type="ecaLifecycle:LifecycleProfileTypeData_2" minOccurs="0" nillable="true"/>
          <xsd:element
            name="lcProfileStateDetailsArray"
            type="ecaLifecycle:LifecycleProfileStateDetailsData_2"
            minOccurs="0"
            maxOccurs="unbounded"
          />
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="QueryLifecycleProfileDetailsInput_1">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="lcProfileId" type="xsd:int"/>
          <xsd:element name="lcStateId" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="languageId" type="xsd:int" minOccurs="0" nillable="true"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryLifecycleProfileDetailsInput_2">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="lcProfileId" type="xsd:int"/>
          <xsd:element name="lcStateId" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="languageId" type="xsd:int" minOccurs="0" nillable="true"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryLifecycleProfileDetailsInput_3">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="lcProfileId" type="xsd:int"/>
          <xsd:element name="lcStateId" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="languageId" type="xsd:int" minOccurs="0" nillable="true"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryLifecycleProfileDetailsOutput_1">
        <xsd:sequence>
          <xsd:element name="result" type="ecaLifecycle:QueryLifecycleProfileDetailsData_1"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryLifecycleProfileDetailsOutput_2">
        <xsd:sequence>
          <xsd:element name="result" type="ecaLifecycle:QueryLifecycleProfileDetailsData_2"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryLifecycleProfileDetailsOutput_3">
        <xsd:sequence>
          <xsd:element name="result" type="ecaLifecycle:QueryLifecycleProfileDetailsData_3"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ReinstateAccountLCActionRequestInput_1">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="accountPK" type="ecaAccount:AccountPK"/>
          <xsd:element name="lcActionRequestSeq" type="xsd:int"/>
          <xsd:element name="currentActionProcessStatus" type="ecaLifecycle:ActionProcessStatus"/>
          <xsd:element name="oldReasonText" type="xsd:string" minOccurs="0" nillable="true"/>
          <xsd:element name="newReasonText" type="xsd:string" minOccurs="0" nillable="true"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="UpdateAccountMinUsageSpentInput_1">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="accountPK" type="ecaAccount:AccountPK"/>
          <xsd:element name="eventProcessGrp" type="xsd:int"/>
          <xsd:element name="start_Dat" type="xsd:dateTime"/>
          <xsd:element name="oldMinimumUsageCountersData" type="ecaLifecycle:MinimumUsageCountersData_1" minOccurs="0" nillable="true"/>
          <xsd:element name="newMinimumUsageCountersData" type="ecaLifecycle:MinimumUsageCountersData_1" minOccurs="0" nillable="true"/>
       </xsd:sequence>
  </xsd:complexType>



  <!-- Array Types -->
  <xsd:complexType name="ArrayOfActionProcessStatus">
    <xsd:complexContent>
      <xsd:extension base="base:BaseStructure">
        <xsd:sequence>
          <xsd:element
            name="a"
            type="ecaLifecycle:ActionProcessStatus"
            minOccurs="0"
            maxOccurs="unbounded"
          />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ArrayOfAccountHasLCActionRequestData_2">
    <xsd:complexContent>
      <xsd:extension base="base:BaseStructure">
        <xsd:sequence>
          <xsd:element
            name="a"
            type="ecaLifecycle:AccountHasLCActionRequestData_2"
            minOccurs="0"
            maxOccurs="unbounded"
          />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ArrayOfLifecycleAttributesAndTypeData_1">
    <xsd:complexContent>
      <xsd:extension base="base:BaseStructure">
        <xsd:sequence>
          <xsd:element
            name="a"
            type="ecaLifecycle:LifecycleAttributesAndTypeData_1"
            minOccurs="0"
            maxOccurs="unbounded"
          />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ArrayOfLifecycleProfileActionAndActionTypeData_1">
    <xsd:complexContent>
      <xsd:extension base="base:BaseStructure">
        <xsd:sequence>
          <xsd:element
            name="a"
            type="ecaLifecycle:LifecycleProfileActionAndActionTypeData_1"
            minOccurs="0"
            maxOccurs="unbounded"
          />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ArrayOfLifecycleProfileData_1">
    <xsd:complexContent>
      <xsd:extension base="base:BaseStructure">
        <xsd:sequence>
          <xsd:element
            name="a"
            type="ecaLifecycle:LifecycleProfileData_1"
            minOccurs="0"
            maxOccurs="unbounded"
          />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ArrayOfLifecycleProfileTypeTranData_1">
    <xsd:complexContent>
      <xsd:extension base="base:BaseStructure">
        <xsd:sequence>
          <xsd:element
            name="a"
            type="ecaLifecycle:LifecycleProfileTypeTranData_1"
            minOccurs="0"
            maxOccurs="unbounded"
          />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ArrayOfLifecycleProfileTypeTranData_2">
    <xsd:complexContent>
      <xsd:extension base="base:BaseStructure">
        <xsd:sequence>
          <xsd:element
            name="a"
            type="ecaLifecycle:LifecycleProfileTypeTranData_2"
            minOccurs="0"
            maxOccurs="unbounded"
          />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ArrayOfQueryLcActionRequestForAccountData_1">
    <xsd:complexContent>
      <xsd:extension base="base:BaseStructure">
        <xsd:sequence>
          <xsd:element
            name="a"
            type="ecaLifecycle:QueryLcActionRequestForAccountData_1"
            minOccurs="0"
            maxOccurs="unbounded"
          />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>


</xsd:schema>

<!-- eof ECA_Lifecycle.xsd -->
