Release2.21/ECA.CST/customeca-j2ee/schema/ECA/ECA_Contract.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- XML Schema for type definitions of component ECA -->
<!-- service Contract. -->

<xsd:schema
  targetNamespace="urn:Convergys-Interface-ECA-Contract"
  xmlns="urn:Convergys-Interface-ECA-Contract"
  xmlns:ecaContract="urn:Convergys-Interface-ECA-Contract"
  elementFormDefault="qualified"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:base="urn:Convergys-Interface-Base"
  xmlns:commonIML="urn:Convergys-Interface-CommonIML"
  xmlns:eca="urn:Convergys-Interface-ECA"
  xmlns:ecaAccount="urn:Convergys-Interface-ECA-Account"
  xmlns:ecaCustomer="urn:Convergys-Interface-ECA-Customer"
  xmlns:ecaProductInstance="urn:Convergys-Interface-ECA-ProductInstance"
  xmlns:ecaProductPackageInstance="urn:Convergys-Interface-ECA-ProductPackageInstance"
>
  <!-- Imports -->
  <xsd:import
    namespace="urn:Convergys-Interface-Base"
    schemaLocation="../../schema/Base/Base.xsd"
  />

  <xsd:import
    namespace="urn:Convergys-Interface-CommonIML"
    schemaLocation="../../schema/CommonIML/CommonIML.xsd"
  />

  <xsd:import
    namespace="urn:Convergys-Interface-ECA"
    schemaLocation="../../schema/ECA/ECA.xsd"
  />

  <xsd:import
    namespace="urn:Convergys-Interface-ECA-Account"
    schemaLocation="../../schema/ECA/ECA_Account.xsd"
  />

  <xsd:import
    namespace="urn:Convergys-Interface-ECA-Customer"
    schemaLocation="../../schema/ECA/ECA_Customer.xsd"
  />

  <xsd:import
    namespace="urn:Convergys-Interface-ECA-ProductInstance"
    schemaLocation="../../schema/ECA/ECA_ProductInstance.xsd"
  />

  <xsd:import
    namespace="urn:Convergys-Interface-ECA-ProductPackageInstance"
    schemaLocation="../../schema/ECA/ECA_ProductPackageInstance.xsd"
  />


  <!-- Enumeration Types -->
  <xsd:simpleType name="ContractTermUnits">
    <xsd:restriction base="xsd:int">
<!-- Enums are represented as int values in IML. The following list provides a mapping of
the different enum options supported by the server. Please note that the server might have
been upgraded to a more uptodate release and might support additional options. Some options
may also be deprecated.

       0 = CTUDay
       1 = CTUWeek
       2 = CTUMonth
       3 = CTUYear

-->
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="EtsDecision">
    <xsd:restriction base="xsd:int">
<!-- Enums are represented as int values in IML. The following list provides a mapping of
the different enum options supported by the server. Please note that the server might have
been upgraded to a more uptodate release and might support additional options. Some options
may also be deprecated.

       0 = A
       1 = R
       2 = O

-->
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="ModificationType">
    <xsd:restriction base="xsd:int">
<!-- Enums are represented as int values in IML. The following list provides a mapping of
the different enum options supported by the server. Please note that the server might have
been upgraded to a more uptodate release and might support additional options. Some options
may also be deprecated.

       0 = MT_NO_MODIFIER
       1 = MT_OVERRIDE
       2 = MT_MONETARY_MODIFIER
       3 = MT_PERCENTAGE_MODIFIER
       4 = MT_NO_CHARGE

-->
    </xsd:restriction>
  </xsd:simpleType>


  <!-- Structure and Exception Types -->
  <xsd:complexType name="ContractData_5_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="startDat" type="xsd:dateTime"/>
          <xsd:element name="endDat" type="xsd:dateTime"/>
          <xsd:element name="contractTerm" type="xsd:int"/>
          <xsd:element name="contractTermUnits" type="ecaContract:ContractTermUnits"/>
          <xsd:element name="contractTypeId" type="xsd:int"/>
          <xsd:element name="contractRef" type="xsd:string" minOccurs="0" nillable="true"/>
          <xsd:element name="contractName" type="xsd:string" minOccurs="0" nillable="true"/>
          <xsd:element name="customerOrderRef" type="xsd:string" minOccurs="0" nillable="true"/>
          <xsd:element name="supplierOrderRef" type="xsd:string" minOccurs="0" nillable="true"/>
          <xsd:element name="salesPerson" type="xsd:string" minOccurs="0" nillable="true"/>
          <xsd:element name="contractNotesTxt" type="xsd:string" minOccurs="0" nillable="true"/>
          <xsd:element name="earlyTermReasonTxt" type="xsd:string" minOccurs="0" nillable="true"/>
          <xsd:element name="contractTypeData" type="ecaContract:ContractTypeData_5_1" minOccurs="0" nillable="true"/>
          <xsd:element name="hint" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="customerRef" type="xsd:string"/>
          <xsd:element name="contractSeq" type="xsd:int"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ContractDataJoin_5_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="contractTypeDataJoin" type="ecaContract:ContractTypeDataJoin_5_1" minOccurs="0" nillable="true"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ContractPK">
    <xsd:complexContent>
      <xsd:extension base="eca:PrimaryKey">
        <xsd:sequence>
          <xsd:element name="customerRef" type="xsd:string"/>
          <xsd:element name="contractSeq" type="xsd:int"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ContractTypeData_5_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="contractTypeId" type="xsd:int"/>
          <xsd:element name="contractTypeName" type="xsd:string"/>
          <xsd:element name="contractTypeDesc" type="xsd:string" minOccurs="0" nillable="true"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ContractTypeDataJoin_5_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ContractsResult_5_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element
            name="dataSet"
            type="ecaContract:ContractData_5_1"
            minOccurs="0"
            maxOccurs="unbounded"
          />
          <xsd:element name="truncated" type="xsd:boolean"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="CreateContractInput_5_1">
        <xsd:sequence>
          <xsd:element name="customerPK" type="ecaCustomer:CustomerPK"/>
          <xsd:element name="data" type="ecaContract:NewContractData_5_1"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="CreateContractInput_6">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="customerPK" type="ecaCustomer:CustomerPK"/>
          <xsd:element name="data" type="ecaContract:NewContractData_5_1"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="CreateContractInput_7">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="customerPK" type="ecaCustomer:CustomerPK"/>
          <xsd:element name="data" type="ecaContract:NewContractData_6"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="CreateContractOutput_5_1">
        <xsd:sequence>
          <xsd:element name="result" type="ecaContract:ContractPK"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="CreateContractOutput_6">
        <xsd:sequence>
          <xsd:element name="result" type="ecaContract:ContractPK"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="CreateContractOutput_7">
        <xsd:sequence>
          <xsd:element name="result" type="ecaContract:ContractPK"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="DeleteContractFromCustomerInput_1">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="contractPK" type="ecaContract:ContractPK"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ETSDecisionData_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="customerRef" type="xsd:string" minOccurs="0" nillable="true"/>
          <xsd:element name="productSeq" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="etsDecision" type="xsd:string" minOccurs="0" nillable="true"/>
          <xsd:element name="earlyTerminationMoney" type="xsd:long" minOccurs="0" nillable="true"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ModifyEtsDecisionForProductInstanceInput_1">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="productInstancePK" type="ecaProductInstance:ProductInstancePK"/>
          <xsd:element name="etsDecision" type="ecaContract:EtsDecision"/>
          <xsd:element name="etsOverrideMny" type="xsd:long" minOccurs="0" nillable="true"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="NewContractData_5_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="contractTypeId" type="xsd:int"/>
          <xsd:element name="startDat" type="xsd:dateTime"/>
          <xsd:element name="endDat" type="xsd:dateTime"/>
          <xsd:element name="contractTerm" type="xsd:int"/>
          <xsd:element name="contractTermUnits" type="ecaContract:ContractTermUnits"/>
          <xsd:element name="contractRef" type="xsd:string" minOccurs="0" nillable="true"/>
          <xsd:element name="contractName" type="xsd:string" minOccurs="0" nillable="true"/>
          <xsd:element name="customerOrderRef" type="xsd:string" minOccurs="0" nillable="true"/>
          <xsd:element name="supplierOrderRef" type="xsd:string" minOccurs="0" nillable="true"/>
          <xsd:element name="salesPerson" type="xsd:string" minOccurs="0" nillable="true"/>
          <xsd:element name="contractNotesTxt" type="xsd:string" minOccurs="0" nillable="true"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="NewContractData_6">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="contractTypeId" type="xsd:int"/>
          <xsd:element name="startDat" type="xsd:dateTime"/>
          <xsd:element name="endDat" type="xsd:dateTime" minOccurs="0" nillable="true"/>
          <xsd:element name="contractTerm" type="xsd:int"/>
          <xsd:element name="contractTermUnits" type="ecaContract:ContractTermUnits"/>
          <xsd:element name="contractRef" type="xsd:string" minOccurs="0" nillable="true"/>
          <xsd:element name="contractName" type="xsd:string" minOccurs="0" nillable="true"/>
          <xsd:element name="customerOrderRef" type="xsd:string" minOccurs="0" nillable="true"/>
          <xsd:element name="supplierOrderRef" type="xsd:string" minOccurs="0" nillable="true"/>
          <xsd:element name="salesPerson" type="xsd:string" minOccurs="0" nillable="true"/>
          <xsd:element name="contractNotesTxt" type="xsd:string" minOccurs="0" nillable="true"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="QueryAllProductsUnderContractInput_1">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="productInstanceDataJoin" type="ecaProductInstance:ProductInstanceDataJoin_7" minOccurs="0" nillable="true"/>
          <xsd:element name="productInstanceSummaryJoin" type="ecaProductInstance:ProductInstanceSummaryJoin_7" minOccurs="0" nillable="true"/>
          <xsd:element name="contractPK" type="ecaContract:ContractPK"/>
          <xsd:element name="effectiveDtm" type="xsd:dateTime"/>
          <xsd:element name="maxRows" type="xsd:int"/>
          <xsd:element name="lastProductSeq" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="maxScanRows" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="languageId" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="discardTruncated" type="xsd:boolean"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryAllProductsUnderContractOutput_1">
        <xsd:sequence>
          <xsd:element name="result" type="ecaProductInstance:FindProductInstancesResult_7"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryEtsDecisionForPackageInput_1">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="productPackageInstance" type="ecaProductPackageInstance:ProductPackageInstancePK"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryEtsDecisionForPackageOutput_1">
        <xsd:sequence>
          <xsd:element name="queryEtsDecisionForPackageResult" type="ecaContract:ArrayOfNullableETSDecisionData_1" minOccurs="0" nillable="true"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryEtsDecisionForProdHierInput_1">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="productInstancePK" type="ecaProductInstance:ProductInstancePK"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryEtsDecisionForProdHierOutput_1">
        <xsd:sequence>
          <xsd:element name="queryEtsDecisionForProdHierResult" type="ecaContract:ArrayOfNullableETSDecisionData_1" minOccurs="0" nillable="true"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryEtsDecisionForProductInput_1">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="productInstancePK" type="ecaProductInstance:ProductInstancePK"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryEtsDecisionForProductOutput_1">
        <xsd:sequence>
          <xsd:element name="queryEtsForProductResult" type="ecaContract:QueryEtsForProductResult_1" minOccurs="0" nillable="true"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryEtsDecisionForSubscriptionInput_1">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="subscriptionReference" type="xsd:string"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryEtsDecisionForSubscriptionOutput_1">
        <xsd:sequence>
          <xsd:element name="queryEtsDecisionForSubscriptionResult" type="ecaContract:ETSDecisionData_1" minOccurs="0" nillable="true"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryEtsDecisionsForSubscriptionsHierarchyInput_1">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="subscriptionReference" type="xsd:string"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryEtsDecisionsForSubscriptionsHierarchyOutput_1">
        <xsd:sequence>
          <xsd:element name="queryEtsDecisionsForSubscriptionsHierarchy" type="ecaContract:ArrayOfNullableETSDecisionData_1" minOccurs="0" nillable="true"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryEtsForProductResult_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="etsDecision" type="xsd:string"/>
          <xsd:element name="earlyTerminationMoney" type="xsd:long" minOccurs="0" nillable="true"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ReadAllContractTypesInput_5_1">
        <xsd:sequence>
          <xsd:element name="languageId" type="xsd:int" minOccurs="0" nillable="true"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ReadAllContractTypesOutput_5_1">
        <xsd:sequence>
          <xsd:element
            name="result"
            type="ecaContract:ContractTypeData_5_1"
            minOccurs="0"
            maxOccurs="unbounded"
          />
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ReadAllCustomerContractsInput_5_1">
        <xsd:sequence>
          <xsd:element name="maxRows" type="xsd:int"/>
          <xsd:element name="lastContractPK" type="ecaContract:ContractPK" minOccurs="0" nillable="true"/>
          <xsd:element name="customerPK" type="ecaCustomer:CustomerPK"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ReadAllCustomerContractsOutput_5_1">
        <xsd:sequence>
          <xsd:element name="result" type="ecaContract:ContractsResult_5_1"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ReadContractTypeInput_5_1">
        <xsd:sequence>
          <xsd:element name="contractTypeId" type="xsd:int"/>
          <xsd:element name="languageId" type="xsd:int" minOccurs="0" nillable="true"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ReadContractTypeOutput_5_1">
        <xsd:sequence>
          <xsd:element name="result" type="ecaContract:ContractTypeData_5_1"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ReadContractsBrokenByAccountInput_5_1">
        <xsd:sequence>
          <xsd:element name="maxRows" type="xsd:int"/>
          <xsd:element name="accountPK" type="ecaAccount:AccountPK"/>
          <xsd:element name="termDtm" type="xsd:dateTime"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ReadContractsBrokenByAccountOutput_5_1">
        <xsd:sequence>
          <xsd:element name="result" type="ecaContract:ContractsResult_5_1"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ReadContractsBrokenByPackageInput_5_1">
        <xsd:sequence>
          <xsd:element name="maxRows" type="xsd:int"/>
          <xsd:element name="productPackageInstancePK" type="ecaProductPackageInstance:ProductPackageInstancePK"/>
          <xsd:element name="termDtm" type="xsd:dateTime"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ReadContractsBrokenByPackageOutput_5_1">
        <xsd:sequence>
          <xsd:element name="result" type="ecaContract:ContractsResult_5_1"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ReadContractsBrokenByProductInput_5_1">
        <xsd:sequence>
          <xsd:element name="maxRows" type="xsd:int"/>
          <xsd:element name="productInstancePK" type="ecaProductInstance:ProductInstancePK"/>
          <xsd:element name="termDtm" type="xsd:dateTime"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ReadContractsBrokenByProductOutput_5_1">
        <xsd:sequence>
          <xsd:element name="result" type="ecaContract:ContractsResult_5_1"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ReadCustomerContractInput_5_1">
        <xsd:sequence>
          <xsd:element name="contractPK" type="ecaContract:ContractPK"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ReadCustomerContractOutput_5_1">
        <xsd:sequence>
          <xsd:element name="result" type="ecaContract:ContractData_5_1"/>
       </xsd:sequence>
  </xsd:complexType>



  <!-- Array Types -->
  <xsd:complexType name="ArrayOfNullableETSDecisionData_1">
    <xsd:complexContent>
      <xsd:extension base="base:BaseStructure">
        <xsd:sequence>
          <xsd:element
            name="a"
            type="ecaContract:ETSDecisionData_1"
            minOccurs="0"
            maxOccurs="unbounded"
            nillable="true"
          />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>


</xsd:schema>

<!-- eof ECA_Contract.xsd -->
