Release2.21/ECA.CST/customeca-j2ee/schema/ECA/ECA_USTax.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- XML Schema for type definitions of component ECA -->
<!-- service USTax. -->

<xsd:schema
  targetNamespace="urn:Convergys-Interface-ECA-USTax"
  xmlns="urn:Convergys-Interface-ECA-USTax"
  xmlns:ecaUSTax="urn:Convergys-Interface-ECA-USTax"
  elementFormDefault="qualified"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:base="urn:Convergys-Interface-Base"
  xmlns:commonIML="urn:Convergys-Interface-CommonIML"
  xmlns:eca="urn:Convergys-Interface-ECA"
  xmlns:ecaAccount="urn:Convergys-Interface-ECA-Account"
>
  <!-- Imports -->
  <xsd:import
    namespace="urn:Convergys-Interface-Base"
    schemaLocation="../../schema/Base/Base.xsd"
  />

  <xsd:import
    namespace="urn:Convergys-Interface-CommonIML"
    schemaLocation="../../schema/CommonIML/CommonIML.xsd"
  />

  <xsd:import
    namespace="urn:Convergys-Interface-ECA"
    schemaLocation="../../schema/ECA/ECA.xsd"
  />

  <xsd:import
    namespace="urn:Convergys-Interface-ECA-Account"
    schemaLocation="../../schema/ECA/ECA_Account.xsd"
  />


  <!-- Enumeration Types -->
  <xsd:simpleType name="BRTBaseRule">
    <xsd:restriction base="xsd:int">
<!-- Enums are represented as int values in IML. The following list provides a mapping of
the different enum options supported by the server. Please note that the server might have
been upgraded to a more uptodate release and might support additional options. Some options
may also be deprecated.

       1 = BBRBaseNotUsed
       2 = BBRBaseSuppliedByExternalPackage
       3 = BBRBaseIsNetCharge
       4 = BBRBaseIsGrossCharge

-->
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="USTChargeGroupType">
    <xsd:restriction base="xsd:int">
<!-- Enums are represented as int values in IML. The following list provides a mapping of
the different enum options supported by the server. Please note that the server might have
been upgraded to a more uptodate release and might support additional options. Some options
may also be deprecated.

       1 = CGTTelecommunications
       2 = CGTTangibleSales

-->
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="USTPrepaidLineTaxRequestStatus">
    <xsd:restriction base="xsd:int">
<!-- Enums are represented as int values in IML. The following list provides a mapping of
the different enum options supported by the server. Please note that the server might have
been upgraded to a more uptodate release and might support additional options. Some options
may also be deprecated.

       1 = Unprocessed
       2 = Processed
       3 = Cancelled
       4 = Rejected
       5 = Error

-->
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="USTPrepaidLineTaxRequestType">
    <xsd:restriction base="xsd:int">
<!-- Enums are represented as int values in IML. The following list provides a mapping of
the different enum options supported by the server. Please note that the server might have
been upgraded to a more uptodate release and might support additional options. Some options
may also be deprecated.

       1 = Normal
       2 = Refund

-->
    </xsd:restriction>
  </xsd:simpleType>


  <!-- Structure and Exception Types -->
  <xsd:complexType name="CalculateUSSalesTaxInput_1">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="companyCode" type="xsd:string" minOccurs="0" nillable="true"/>
          <xsd:element name="companyDivCode" type="xsd:string" minOccurs="0" nillable="true"/>
          <xsd:element name="customerCode" type="xsd:string" minOccurs="0" nillable="true"/>
          <xsd:element name="customerClassCode" type="xsd:string" minOccurs="0" nillable="true"/>
          <xsd:element name="storeCode" type="xsd:string" minOccurs="0" nillable="true"/>
          <xsd:element name="productCode" type="xsd:string" minOccurs="0" nillable="true"/>
          <xsd:element name="invoiceDate" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="transactionType" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="transactionSubType" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="amountForTax" type="xsd:long"/>
          <xsd:element name="shipFromJurisdictionCode" type="xsd:string" minOccurs="0" nillable="true"/>
          <xsd:element name="shipFromInCityBoo" type="xsd:boolean" minOccurs="0" nillable="true"/>
          <xsd:element name="shipToJurisdictionCode" type="xsd:string"/>
          <xsd:element name="shipToInCityBoo" type="xsd:boolean"/>
          <xsd:element name="orderAcceptJurisdictionCode" type="xsd:string" minOccurs="0" nillable="true"/>
          <xsd:element name="orderAcceptInCityBoo" type="xsd:boolean" minOccurs="0" nillable="true"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="CalculateUSSalesTaxOutput_1">
        <xsd:sequence>
          <xsd:element
            name="result"
            type="ecaUSTax:USTaxResult_1"
            minOccurs="0"
            maxOccurs="unbounded"
            nillable="true"
          />
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="CanModifyUSTaxExemptionForAccountInput_1">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="usTaxExemptionPK" type="ecaUSTax:USTaxExemptionPK"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="CanModifyUSTaxExemptionForAccountOutput_1">
        <xsd:sequence>
          <xsd:element name="result" type="ecaUSTax:CanModifyUSTaxExemptionForAccountResult_1"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="CanModifyUSTaxExemptionForAccountResult_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="startDateBoo" type="xsd:boolean"/>
          <xsd:element name="endDateBoo" type="xsd:boolean"/>
          <xsd:element name="refCodeBoo" type="xsd:boolean"/>
          <xsd:element name="chargeGroupIDBoo" type="xsd:boolean"/>
          <xsd:element name="taxTypeIDBoo" type="xsd:boolean"/>
          <xsd:element name="taxAuthorityBoo" type="xsd:boolean"/>
          <xsd:element name="allSubordinateAuthBoo" type="xsd:boolean"/>
          <xsd:element name="stateCodeBoo" type="xsd:boolean"/>
          <xsd:element name="countyNameBoo" type="xsd:boolean"/>
          <xsd:element name="cityNameBoo" type="xsd:boolean"/>
          <xsd:element name="exemptionJCodeBoo" type="xsd:boolean"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="CreateUSTPrepaidLineTaxRequestInput_1">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="accountPK" type="ecaAccount:AccountPK"/>
          <xsd:element name="productSeq" type="xsd:int"/>
          <xsd:element name="eventTypeId" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="eventSource" type="xsd:string" minOccurs="0" nillable="true"/>
          <xsd:element name="requestType" type="ecaUSTax:USTPrepaidLineTaxRequestType"/>
          <xsd:element name="requestReason" type="xsd:string" minOccurs="0" nillable="true"/>
          <xsd:element name="requestProcessDat" type="xsd:dateTime"/>
          <xsd:element name="applyTaxStartDat" type="xsd:dateTime"/>
          <xsd:element name="applyTaxEndDat" type="xsd:dateTime" minOccurs="0" nillable="true"/>
          <xsd:element name="numberOfLines" type="xsd:int" minOccurs="0" nillable="true"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="CreateUSTPrepaidLineTaxRequestOutput_1">
        <xsd:sequence>
          <xsd:element name="ustPrepaidLineTaxRequestPK" type="ecaUSTax:USTPrepaidTaxRequestPK"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="CreateUSTaxExemptionInput_1">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="accountPK" type="ecaAccount:AccountPK"/>
          <xsd:element name="newUSTaxExemptionData" type="ecaUSTax:NewUSTaxExemptionData_1"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="CreateUSTaxExemptionOutput_1">
        <xsd:sequence>
          <xsd:element name="result" type="ecaUSTax:USTaxExemptionPK"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="DeleteUSTPrepaidLineTaxRequestInput_1">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="ustPrepaidTaxRequestPK" type="ecaUSTax:USTPrepaidTaxRequestPK"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="DeleteUSTaxExemptionInput_1">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="usTaxExemptionPK" type="ecaUSTax:USTaxExemptionPK"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ModifyUSTPrepaidLineTaxRequestInput_1">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="ustPrepaidTaxRequestPK" type="ecaUSTax:USTPrepaidTaxRequestPK"/>
          <xsd:element name="oldPrepaidLineUSTReqData" type="ecaUSTax:PrepaidLineUSTaxReqData_1"/>
          <xsd:element name="newPrepaidLineUSTReqData" type="ecaUSTax:PrepaidLineUSTaxReqData_1"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ModifyUSTaxExemptionData_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="startDat" type="xsd:dateTime"/>
          <xsd:element name="endDat" type="xsd:dateTime" minOccurs="0" nillable="true"/>
          <xsd:element name="exemptionTaxAuthority" type="ecaAccount:TaxAuthority"/>
          <xsd:element name="exemptionJcode" type="xsd:string" minOccurs="0" nillable="true"/>
          <xsd:element name="exemptionRef" type="xsd:string" minOccurs="0" nillable="true"/>
          <xsd:element name="externalTaxTypeId" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="stateCode" type="xsd:string" minOccurs="0" nillable="true"/>
          <xsd:element name="cityName" type="xsd:string" minOccurs="0" nillable="true"/>
          <xsd:element name="countyName" type="xsd:string" minOccurs="0" nillable="true"/>
          <xsd:element name="allSubordinateAuthsBoo" type="xsd:boolean"/>
          <xsd:element name="ustChargeGroupId" type="xsd:int" minOccurs="0" nillable="true"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ModifyUSTaxExemptionInput_1">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="usTaxExemptionPK" type="ecaUSTax:USTaxExemptionPK"/>
          <xsd:element name="oldModifyUSTaxExemptionData" type="ecaUSTax:ModifyUSTaxExemptionData_1"/>
          <xsd:element name="newModifyUSTaxExemptionData" type="ecaUSTax:ModifyUSTaxExemptionData_1"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="NewUSTaxExemptionData_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="startDat" type="xsd:dateTime"/>
          <xsd:element name="endDat" type="xsd:dateTime" minOccurs="0" nillable="true"/>
          <xsd:element name="exemptionTaxAuthority" type="ecaAccount:TaxAuthority"/>
          <xsd:element name="exemptionJcode" type="xsd:string" minOccurs="0" nillable="true"/>
          <xsd:element name="exemptionRef" type="xsd:string" minOccurs="0" nillable="true"/>
          <xsd:element name="externalTaxTypeId" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="stateCode" type="xsd:string" minOccurs="0" nillable="true"/>
          <xsd:element name="cityName" type="xsd:string" minOccurs="0" nillable="true"/>
          <xsd:element name="countyName" type="xsd:string" minOccurs="0" nillable="true"/>
          <xsd:element name="allSubordinateAuthsBoo" type="xsd:boolean"/>
          <xsd:element name="ustChargeGroupId" type="xsd:int" minOccurs="0" nillable="true"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="PrepaidLineUSTaxReqData_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="requestType" type="ecaUSTax:USTPrepaidLineTaxRequestType"/>
          <xsd:element name="requestReason" type="xsd:string" minOccurs="0" nillable="true"/>
          <xsd:element name="requestProcessDat" type="xsd:dateTime"/>
          <xsd:element name="applyTaxStartDat" type="xsd:dateTime"/>
          <xsd:element name="applyTaxEndDat" type="xsd:dateTime" minOccurs="0" nillable="true"/>
          <xsd:element name="cancelDtm" type="xsd:dateTime" minOccurs="0" nillable="true"/>
          <xsd:element name="cancelStatusReason" type="xsd:string" minOccurs="0" nillable="true"/>
          <xsd:element name="numberOfLines" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="eventTypeId" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="eventSource" type="xsd:string" minOccurs="0" nillable="true"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="QueryAllUSTExternalTaxTypeDataForChargeGroupInput_1">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="ustChargeGroupID" type="xsd:int"/>
          <xsd:element name="languageId" type="xsd:int" minOccurs="0" nillable="true"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryAllUSTExternalTaxTypeDataForChargeGroupOutput_1">
        <xsd:sequence>
          <xsd:element
            name="result"
            type="ecaUSTax:USTExternalTaxTypeData_5_1"
            minOccurs="0"
            maxOccurs="unbounded"
            nillable="true"
          />
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryAllUSTExternalTaxTypeDataForChargeGroupResult_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element
            name="ustExternalTaxTypeDataArray"
            type="ecaUSTax:USTExternalTaxTypeData_5_1"
            minOccurs="0"
            maxOccurs="unbounded"
            nillable="true"
          />
          <xsd:element name="truncated" type="xsd:boolean"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="QueryAllUSTPrepaidLineTaxRequestInput_1">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="accountPK" type="ecaAccount:AccountPK"/>
          <xsd:element name="queryDatRange" type="eca:QueryTimeframe_1" minOccurs="0" nillable="true"/>
          <xsd:element name="requestType" type="ecaUSTax:USTPrepaidLineTaxRequestType" minOccurs="0" nillable="true"/>
          <xsd:element name="requestStatusSet" type="ecaUSTax:ArrayOfUSTPrepaidLineTaxRequestStatus" minOccurs="0" nillable="true"/>
          <xsd:element name="maxRows" type="xsd:int"/>
          <xsd:element name="lastUSTPrepaidTaxRequestPK" type="ecaUSTax:USTPrepaidTaxRequestPK" minOccurs="0" nillable="true"/>
          <xsd:element name="discardTruncated" type="xsd:boolean"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryAllUSTPrepaidLineTaxRequestOutput_1">
        <xsd:sequence>
          <xsd:element name="ustPrepaidLineTaxRequestResult" type="ecaUSTax:QueryAllUSTPrepaidLineTaxRequestResult_1"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryAllUSTPrepaidLineTaxRequestResult_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="ustPrepaidTaxRequestDataArray" type="ecaUSTax:ArrayOfUSTPrepaidTaxRequestData_1" minOccurs="0" nillable="true"/>
          <xsd:element name="truncated" type="xsd:boolean"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="QueryAllUSTaxExemptionElement_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="usTaxExemptionData" type="ecaUSTax:USTaxExemptionData_6"/>
          <xsd:element name="ustExternalTaxTypeData" type="ecaUSTax:USTExternalTaxTypeData_5_1" minOccurs="0" nillable="true"/>
          <xsd:element name="ustChargeGroupData" type="ecaUSTax:USTChargeGroupData_5_1" minOccurs="0" nillable="true"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="QueryAllUSTaxExemptionsForAccountInput_6">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="accountPK" type="ecaAccount:AccountPK"/>
          <xsd:element name="languageId" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="maxRows" type="xsd:int"/>
          <xsd:element name="lastUSTaxExemptionPK" type="ecaUSTax:USTaxExemptionPK" minOccurs="0" nillable="true"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryAllUSTaxExemptionsForAccountOutput_6">
        <xsd:sequence>
          <xsd:element name="result" type="ecaUSTax:QueryAllUSTaxExemptionsForAccountResult_6"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryAllUSTaxExemptionsForAccountResult_6">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element
            name="dataSet"
            type="ecaUSTax:USTaxExemptionData_6"
            minOccurs="0"
            maxOccurs="unbounded"
          />
          <xsd:element name="truncated" type="xsd:boolean"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="QuerySingleUSTPrepaidLineTaxRequestInput_1">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="ustPrepaidTaxRequestPK" type="ecaUSTax:USTPrepaidTaxRequestPK"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QuerySingleUSTPrepaidLineTaxRequestOutput_1">
        <xsd:sequence>
          <xsd:element name="result" type="ecaUSTax:USTPrepaidTaxRequestData_1" minOccurs="0" nillable="true"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryUSTaxExemptionInput_1">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="usTaxExemptionPK" type="ecaUSTax:USTaxExemptionPK"/>
          <xsd:element name="languageId" type="xsd:int" minOccurs="0" nillable="true"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryUSTaxExemptionOutput_1">
        <xsd:sequence>
          <xsd:element name="result" type="ecaUSTax:USTaxExemptionData_6"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ReadAllUSTAccountClassDataInput_5_1">
        <xsd:sequence>
          <xsd:element name="languageId" type="xsd:int" minOccurs="0" nillable="true"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ReadAllUSTAccountClassDataOutput_5_1">
        <xsd:sequence>
          <xsd:element
            name="result"
            type="ecaUSTax:USTAccountClassData_5_1"
            minOccurs="0"
            maxOccurs="unbounded"
          />
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ReadAllUSTChargeGroupDataInput_5_1">
        <xsd:sequence>
          <xsd:element name="languageId" type="xsd:int" minOccurs="0" nillable="true"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ReadAllUSTChargeGroupDataOutput_5_1">
        <xsd:sequence>
          <xsd:element
            name="result"
            type="ecaUSTax:USTChargeGroupData_5_1"
            minOccurs="0"
            maxOccurs="unbounded"
          />
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ReadAllUSTExternalTaxTypeDataInput_5_1">
        <xsd:sequence>
          <xsd:element name="languageId" type="xsd:int" minOccurs="0" nillable="true"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ReadAllUSTExternalTaxTypeDataOutput_5_1">
        <xsd:sequence>
          <xsd:element
            name="result"
            type="ecaUSTax:USTExternalTaxTypeData_5_1"
            minOccurs="0"
            maxOccurs="unbounded"
          />
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ReadUSProductTaxInput_5_1">
        <xsd:sequence>
          <xsd:element name="ustProductClassId" type="xsd:int"/>
          <xsd:element name="languageId" type="xsd:int" minOccurs="0" nillable="true"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ReadUSProductTaxOutput_5_1">
        <xsd:sequence>
          <xsd:element name="result" type="ecaUSTax:USTProductClassData_5_1"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ReadUSTAccountClassDataInput_5_1">
        <xsd:sequence>
          <xsd:element name="ustAccountClassId" type="xsd:int"/>
          <xsd:element name="languageId" type="xsd:int" minOccurs="0" nillable="true"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ReadUSTAccountClassDataOutput_5_1">
        <xsd:sequence>
          <xsd:element name="result" type="ecaUSTax:USTAccountClassData_5_1"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ReadUSTChargeGroupDataInput_5_1">
        <xsd:sequence>
          <xsd:element name="ustChargeGroupId" type="xsd:int"/>
          <xsd:element name="languageId" type="xsd:int" minOccurs="0" nillable="true"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ReadUSTChargeGroupDataOutput_5_1">
        <xsd:sequence>
          <xsd:element name="result" type="ecaUSTax:USTChargeGroupData_5_1"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ReadUSTExternalTaxTypeDataInput_5_1">
        <xsd:sequence>
          <xsd:element name="ustExternalTaxTypeId" type="xsd:int"/>
          <xsd:element name="languageId" type="xsd:int" minOccurs="0" nillable="true"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ReadUSTExternalTaxTypeDataOutput_5_1">
        <xsd:sequence>
          <xsd:element name="result" type="ecaUSTax:USTExternalTaxTypeData_5_1"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="USTAccountClassData_5_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="ustAccountClassId" type="xsd:int"/>
          <xsd:element name="accountClassName" type="xsd:string"/>
          <xsd:element name="businessBoo" type="xsd:boolean"/>
          <xsd:element name="endCustBoo" type="xsd:boolean"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="USTAccountClassDataJoin_5_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="USTChargeGroupData_5_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="ustChargeGroupId" type="xsd:int"/>
          <xsd:element name="ustChargeGroupName" type="xsd:string"/>
          <xsd:element name="ustChargeGroupType" type="ecaUSTax:USTChargeGroupType"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="USTExternalTaxTypeData_5_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="externalTaxTypeId" type="xsd:int"/>
          <xsd:element name="ustChargeGroupId" type="xsd:int"/>
          <xsd:element name="externalTaxTypeName" type="xsd:string"/>
          <xsd:element name="externalTaxTypeDesc" type="xsd:string" minOccurs="0" nillable="true"/>
          <xsd:element name="surchargeBoo" type="xsd:boolean"/>
          <xsd:element name="operatorTaxBoo" type="xsd:boolean" minOccurs="0" nillable="true"/>
          <xsd:element name="displayOnBillBoo" type="xsd:boolean" minOccurs="0" nillable="true"/>
          <xsd:element name="brtBasePriceRule" type="ecaUSTax:BRTBaseRule" minOccurs="0" nillable="true"/>
          <xsd:element name="ustChargeGroupData" type="ecaUSTax:USTChargeGroupData_5_1" minOccurs="0" nillable="true"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="USTExternalTaxTypePK">
    <xsd:complexContent>
      <xsd:extension base="eca:PrimaryKey">
        <xsd:sequence>
          <xsd:element name="externalTaxTypeID" type="xsd:int"/>
          <xsd:element name="ustChargeGroupID" type="xsd:int"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="USTPrepaidTaxRequestData_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="domainId" type="xsd:int"/>
          <xsd:element name="customerRef" type="xsd:string"/>
          <xsd:element name="productSeq" type="xsd:int"/>
          <xsd:element name="requestDat" type="xsd:dateTime"/>
          <xsd:element name="levyPeriodStartDat" type="xsd:dateTime"/>
          <xsd:element name="levyPeriodEndDat" type="xsd:dateTime"/>
          <xsd:element name="requestStatus" type="ecaUSTax:USTPrepaidLineTaxRequestStatus"/>
          <xsd:element name="requestType" type="ecaUSTax:USTPrepaidLineTaxRequestType"/>
          <xsd:element name="requestCreateDtm" type="xsd:dateTime"/>
          <xsd:element name="numberOfLines" type="xsd:int"/>
          <xsd:element name="requestReasonTxt" type="xsd:string" minOccurs="0" nillable="true"/>
          <xsd:element name="leviedDtm" type="xsd:dateTime" minOccurs="0" nillable="true"/>
          <xsd:element name="rejectStatusReasonTxt" type="xsd:string" minOccurs="0" nillable="true"/>
          <xsd:element name="cancelDtm" type="xsd:dateTime" minOccurs="0" nillable="true"/>
          <xsd:element name="cancelStatusReasonTxt" type="xsd:string" minOccurs="0" nillable="true"/>
          <xsd:element name="eventTypeId" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="eventSource" type="xsd:string" minOccurs="0" nillable="true"/>
          <xsd:element name="hint" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="accountNum" type="xsd:string"/>
          <xsd:element name="linesTaxRequestSeq" type="xsd:int"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="USTPrepaidTaxRequestPK">
    <xsd:complexContent>
      <xsd:extension base="eca:PrimaryKey">
        <xsd:sequence>
          <xsd:element name="accountNum" type="xsd:string"/>
          <xsd:element name="linesTaxRequestSeq" type="xsd:int"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="USTProductClassData_5_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="ustProductClassId" type="xsd:int"/>
          <xsd:element name="productClassName" type="xsd:string"/>
          <xsd:element name="regulatedBoo" type="xsd:boolean"/>
          <xsd:element name="localProductClassId" type="xsd:int"/>
          <xsd:element name="debitCardBoo" type="xsd:boolean"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="USTProductClassDataJoin_5_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="USTaxExemptionData_5_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="startDat" type="xsd:dateTime"/>
          <xsd:element name="endDat" type="xsd:dateTime" minOccurs="0" nillable="true"/>
          <xsd:element name="exemptionTaxAuthority" type="ecaAccount:TaxAuthority"/>
          <xsd:element name="exemptionJcode" type="xsd:string" minOccurs="0" nillable="true"/>
          <xsd:element name="exemptionRef" type="xsd:string" minOccurs="0" nillable="true"/>
          <xsd:element name="externalTaxTypeId" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="stateCode" type="xsd:string" minOccurs="0" nillable="true"/>
          <xsd:element name="cityName" type="xsd:string" minOccurs="0" nillable="true"/>
          <xsd:element name="countyName" type="xsd:string" minOccurs="0" nillable="true"/>
          <xsd:element name="allTaxTypesBoo" type="xsd:boolean"/>
          <xsd:element name="allSubordinateAuthsBoo" type="xsd:boolean"/>
          <xsd:element name="ustChargeGroupId" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="ustExternalTaxTypeData" type="ecaUSTax:USTExternalTaxTypeData_5_1" minOccurs="0" nillable="true"/>
          <xsd:element name="ustChargeGroupData" type="ecaUSTax:USTChargeGroupData_5_1" minOccurs="0" nillable="true"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="USTaxExemptionData_6">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="startDat" type="xsd:dateTime"/>
          <xsd:element name="endDat" type="xsd:dateTime" minOccurs="0" nillable="true"/>
          <xsd:element name="exemptionTaxAuthority" type="ecaAccount:TaxAuthority"/>
          <xsd:element name="exemptionJcode" type="xsd:string" minOccurs="0" nillable="true"/>
          <xsd:element name="exemptionRef" type="xsd:string" minOccurs="0" nillable="true"/>
          <xsd:element name="externalTaxTypeId" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="stateCode" type="xsd:string" minOccurs="0" nillable="true"/>
          <xsd:element name="cityName" type="xsd:string" minOccurs="0" nillable="true"/>
          <xsd:element name="countyName" type="xsd:string" minOccurs="0" nillable="true"/>
          <xsd:element name="allTaxTypesBoo" type="xsd:boolean"/>
          <xsd:element name="allSubordinateAuthsBoo" type="xsd:boolean"/>
          <xsd:element name="ustChargeGroupId" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="ustExternalTaxTypeData" type="ecaUSTax:USTExternalTaxTypeData_5_1" minOccurs="0" nillable="true"/>
          <xsd:element name="hint" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="accountNum" type="xsd:string"/>
          <xsd:element name="exemptionSeq" type="xsd:int"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="USTaxExemptionPK">
    <xsd:complexContent>
      <xsd:extension base="eca:PrimaryKey">
        <xsd:sequence>
          <xsd:element name="accountNum" type="xsd:string"/>
          <xsd:element name="exemptionSeq" type="xsd:int"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="USTaxResult_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="taxType" type="xsd:int"/>
          <xsd:element name="geoCode" type="xsd:string"/>
          <xsd:element name="stateCode" type="xsd:string" minOccurs="0" nillable="true"/>
          <xsd:element name="cntyName" type="xsd:string" minOccurs="0" nillable="true"/>
          <xsd:element name="cityName" type="xsd:string" minOccurs="0" nillable="true"/>
          <xsd:element name="authLevel" type="xsd:int"/>
          <xsd:element name="taxRate" type="xsd:int"/>
          <xsd:element name="taxAmount" type="xsd:long"/>
          <xsd:element name="taxableAmount" type="xsd:long"/>
          <xsd:element name="nonTaxableAmount" type="xsd:long"/>
          <xsd:element name="taxExemptAmount" type="xsd:long"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>



  <!-- Array Types -->
  <xsd:complexType name="ArrayOfUSTPrepaidLineTaxRequestStatus">
    <xsd:complexContent>
      <xsd:extension base="base:BaseStructure">
        <xsd:sequence>
          <xsd:element
            name="a"
            type="ecaUSTax:USTPrepaidLineTaxRequestStatus"
            minOccurs="0"
            maxOccurs="unbounded"
          />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ArrayOfUSTPrepaidTaxRequestData_1">
    <xsd:complexContent>
      <xsd:extension base="base:BaseStructure">
        <xsd:sequence>
          <xsd:element
            name="a"
            type="ecaUSTax:USTPrepaidTaxRequestData_1"
            minOccurs="0"
            maxOccurs="unbounded"
          />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>


</xsd:schema>

<!-- eof ECA_USTax.xsd -->
