Release2.21/ECA.CST/customeca-j2ee/schema/ECA/ECA_OneTimeCharge.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- XML Schema for type definitions of component ECA -->
<!-- service OneTimeCharge. -->

<xsd:schema
  targetNamespace="urn:Convergys-Interface-ECA-OneTimeCharge"
  xmlns="urn:Convergys-Interface-ECA-OneTimeCharge"
  xmlns:ecaOneTimeCharge="urn:Convergys-Interface-ECA-OneTimeCharge"
  elementFormDefault="qualified"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:base="urn:Convergys-Interface-Base"
  xmlns:commonIML="urn:Convergys-Interface-CommonIML"
  xmlns:eca="urn:Convergys-Interface-ECA"
  xmlns:ecaAccount="urn:Convergys-Interface-ECA-Account"
  xmlns:ecaAddress="urn:Convergys-Interface-ECA-Address"
  xmlns:ecaCustomer="urn:Convergys-Interface-ECA-Customer"
  xmlns:ecaEvent="urn:Convergys-Interface-ECA-Event"
>
  <!-- Imports -->
  <xsd:import
    namespace="urn:Convergys-Interface-Base"
    schemaLocation="../../schema/Base/Base.xsd"
  />

  <xsd:import
    namespace="urn:Convergys-Interface-CommonIML"
    schemaLocation="../../schema/CommonIML/CommonIML.xsd"
  />

  <xsd:import
    namespace="urn:Convergys-Interface-ECA"
    schemaLocation="../../schema/ECA/ECA.xsd"
  />

  <xsd:import
    namespace="urn:Convergys-Interface-ECA-Account"
    schemaLocation="../../schema/ECA/ECA_Account.xsd"
  />

  <xsd:import
    namespace="urn:Convergys-Interface-ECA-Address"
    schemaLocation="../../schema/ECA/ECA_Address.xsd"
  />

  <xsd:import
    namespace="urn:Convergys-Interface-ECA-Customer"
    schemaLocation="../../schema/ECA/ECA_Customer.xsd"
  />

  <xsd:import
    namespace="urn:Convergys-Interface-ECA-Event"
    schemaLocation="../../schema/ECA/ECA_Event.xsd"
  />


  <!-- Enumeration Types -->

  <!-- Structure and Exception Types -->
  <xsd:complexType name="CancelOTCInstanceInput_1">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="otcInstancePK" type="ecaOneTimeCharge:OTCInstancePK"/>
          <xsd:element name="oldModifyOTCInstanceData" type="ecaOneTimeCharge:ModifyOTCInstanceData_1"/>
          <xsd:element name="cancelText" type="xsd:string" minOccurs="0" nillable="true"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="CancelOTCInstanceInput_2">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="accountPK" type="ecaAccount:AccountPK"/>
          <xsd:element name="oldModifyOTCInstanceData" type="ecaOneTimeCharge:ModifyOTCInstanceData_1"/>
          <xsd:element name="cancelText" type="xsd:string" minOccurs="0" nillable="true"/>
          <xsd:element name="otcSeq" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="otcInstlmntSeq" type="xsd:int" minOccurs="0" nillable="true"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="CreateOTCInstanceInput_1">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="accountPK" type="ecaAccount:AccountPK"/>
          <xsd:element name="newOTCInstanceData" type="ecaOneTimeCharge:NewOTCInstanceData_1"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="CreateOTCInstanceInput_2">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="accountPK" type="ecaAccount:AccountPK"/>
          <xsd:element name="newOTCInstanceData" type="ecaOneTimeCharge:NewOTCInstanceData_2"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="CreateOTCInstanceInput_3">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="accountPK" type="ecaAccount:AccountPK"/>
          <xsd:element name="newOTCInstanceData" type="ecaOneTimeCharge:NewOTCInstanceData_3"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="CreateOTCInstanceInput_4">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="accountPK" type="ecaAccount:AccountPK"/>
          <xsd:element name="newOTCInstanceData" type="ecaOneTimeCharge:NewOTCInstanceData_4"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="CreateOTCInstanceOutput_1">
        <xsd:sequence>
          <xsd:element name="createOTCInstanceResult" type="ecaOneTimeCharge:CreateOTCInstanceResult_1"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="CreateOTCInstanceOutput_2">
        <xsd:sequence>
          <xsd:element name="createOTCInstanceResult" type="ecaOneTimeCharge:CreateOTCInstanceResult_1"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="CreateOTCInstanceOutput_3">
        <xsd:sequence>
          <xsd:element name="createOTCInstanceResult" type="ecaOneTimeCharge:CreateOTCInstanceResult_2"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="CreateOTCInstanceOutput_4">
        <xsd:sequence>
          <xsd:element name="createOTCInstanceResult" type="ecaOneTimeCharge:CreateOTCInstanceResult_2"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="CreateOTCInstanceResult_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="otcInstancePK" type="ecaOneTimeCharge:OTCInstancePK"/>
          <xsd:element name="serviceAddressPK" type="ecaAddress:AddressPK" minOccurs="0" nillable="true"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="CreateOTCInstanceResult_2">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="otcInstancePK" type="ecaOneTimeCharge:OTCInstancePK"/>
          <xsd:element name="serviceAddressPK" type="ecaAddress:AddressPK" minOccurs="0" nillable="true"/>
          <xsd:element name="otcInstlmntSeq" type="xsd:int" minOccurs="0" nillable="true"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="DeleteOTCInstanceInput_1">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="otcInstancePK" type="ecaOneTimeCharge:OTCInstancePK"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="DeleteOTCInstanceInput_2">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="accountPK" type="ecaAccount:AccountPK"/>
          <xsd:element name="otcSeq" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="otcInstlmntSeq" type="xsd:int" minOccurs="0" nillable="true"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ModifyOTCInstanceData_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="oneTimeChargeInstanceDtm" type="xsd:dateTime"/>
          <xsd:element name="oneTimeChargeInstanceMoney" type="xsd:long"/>
          <xsd:element name="oneTimeChargeInstanceLabel" type="xsd:string" minOccurs="0" nillable="true"/>
          <xsd:element name="oneTimeChargeInstanceText" type="xsd:string" minOccurs="0" nillable="true"/>
          <xsd:element name="serviceAddressSeq" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="otcInstanceAttributeArray" type="ecaOneTimeCharge:ArrayOfNullableOTCInstanceAttributeData_1" minOccurs="0" nillable="true"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ModifyOTCInstanceInput_1">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="otcInstancePK" type="ecaOneTimeCharge:OTCInstancePK"/>
          <xsd:element name="oldModifyOTCInstanceData" type="ecaOneTimeCharge:ModifyOTCInstanceData_1"/>
          <xsd:element name="newModifyOTCInstanceData" type="ecaOneTimeCharge:ModifyOTCInstanceData_1"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="NewOTCInstanceData_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="otcInstanceDtm" type="xsd:dateTime" minOccurs="0" nillable="true"/>
          <xsd:element name="otcInstanceCreatedDtm" type="xsd:dateTime" minOccurs="0" nillable="true"/>
          <xsd:element name="otcInstanceOTCId" type="xsd:int"/>
          <xsd:element name="otcInstanceMoney" type="xsd:long" minOccurs="0" nillable="true"/>
          <xsd:element name="otcInstanceCPSId" type="xsd:int"/>
          <xsd:element name="otcInstanceRevenueCodeId" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="otcInstanceReceivableClassId" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="otcInstanceRecognitionClassId" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="otcInstanceLabel" type="xsd:string" minOccurs="0" nillable="true"/>
          <xsd:element name="otcInstanceProductSeq" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="otcInstanceBudgetCenterSeq" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="otcInstanceText" type="xsd:string" minOccurs="0" nillable="true"/>
          <xsd:element name="serviceAddressSeq" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="newServiceAddressData" type="ecaAddress:NewAddressData_5_1" minOccurs="0" nillable="true"/>
          <xsd:element name="otcInstanceAttributeArray" type="ecaOneTimeCharge:ArrayOfNullableOTCInstanceAttributeData_1" minOccurs="0" nillable="true"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="NewOTCInstanceData_2">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="otcInstanceDtm" type="xsd:dateTime" minOccurs="0" nillable="true"/>
          <xsd:element name="otcInstanceCreatedDtm" type="xsd:dateTime" minOccurs="0" nillable="true"/>
          <xsd:element name="otcInstanceOTCId" type="xsd:int"/>
          <xsd:element name="otcInstanceMoney" type="xsd:long" minOccurs="0" nillable="true"/>
          <xsd:element name="otcInstanceCPSId" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="otcInstanceRevenueCodeId" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="otcInstanceReceivableClassId" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="otcInstanceRecognitionClassId" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="otcInstanceLabel" type="xsd:string" minOccurs="0" nillable="true"/>
          <xsd:element name="otcInstanceProductSeq" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="otcInstanceBudgetCenterSeq" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="otcInstanceText" type="xsd:string" minOccurs="0" nillable="true"/>
          <xsd:element name="serviceAddressSeq" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="newServiceAddressData" type="ecaAddress:NewAddressData_5_1" minOccurs="0" nillable="true"/>
          <xsd:element name="otcInstanceAttributeArray" type="ecaOneTimeCharge:ArrayOfNullableOTCInstanceAttributeData_1" minOccurs="0" nillable="true"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="NewOTCInstanceData_3">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="otcInstanceDtm" type="xsd:dateTime" minOccurs="0" nillable="true"/>
          <xsd:element name="otcInstanceCreatedDtm" type="xsd:dateTime" minOccurs="0" nillable="true"/>
          <xsd:element name="otcInstanceOTCId" type="xsd:int"/>
          <xsd:element name="otcInstanceMoney" type="xsd:long" minOccurs="0" nillable="true"/>
          <xsd:element name="otcInstanceCPSId" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="otcInstanceRevenueCodeId" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="otcInstanceReceivableClassId" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="otcInstanceRecognitionClassId" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="otcInstanceLabel" type="xsd:string" minOccurs="0" nillable="true"/>
          <xsd:element name="otcInstanceProductSeq" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="otcInstanceBudgetCenterSeq" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="otcInstanceText" type="xsd:string" minOccurs="0" nillable="true"/>
          <xsd:element name="serviceAddressSeq" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="newServiceAddressData" type="ecaAddress:NewAddressData_5_1" minOccurs="0" nillable="true"/>
          <xsd:element name="otcInstanceAttributeArray" type="ecaOneTimeCharge:ArrayOfNullableOTCInstanceAttributeData_1" minOccurs="0" nillable="true"/>
          <xsd:element name="otcInstlmntBoo" type="xsd:boolean" minOccurs="0" nillable="true"/>
          <xsd:element name="downPymntMny" type="xsd:long" minOccurs="0" nillable="true"/>
          <xsd:element name="downPymntPct" type="xsd:long" minOccurs="0" nillable="true"/>
          <xsd:element name="numberOfInstlmnts" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="productQuantity" type="xsd:long" minOccurs="0" nillable="true"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="NewOTCInstanceData_4">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="otcInstanceDtm" type="xsd:dateTime" minOccurs="0" nillable="true"/>
          <xsd:element name="otcInstanceCreatedDtm" type="xsd:dateTime" minOccurs="0" nillable="true"/>
          <xsd:element name="otcInstanceOTCId" type="xsd:int"/>
          <xsd:element name="otcInstanceMoney" type="xsd:long" minOccurs="0" nillable="true"/>
          <xsd:element name="otcInstanceCPSId" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="otcInstanceRevenueCodeId" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="otcInstanceReceivableClassId" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="otcInstanceRecognitionClassId" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="otcInstanceLabel" type="xsd:string" minOccurs="0" nillable="true"/>
          <xsd:element name="otcInstanceProductSeq" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="otcInstanceBudgetCenterSeq" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="otcInstanceText" type="xsd:string" minOccurs="0" nillable="true"/>
          <xsd:element name="serviceAddressSeq" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="newServiceAddressData" type="ecaAddress:NewAddressData_5_1" minOccurs="0" nillable="true"/>
          <xsd:element name="otcInstanceAttributeArray" type="ecaOneTimeCharge:ArrayOfNullableOTCInstanceAttributeData_1" minOccurs="0" nillable="true"/>
          <xsd:element name="otcInstlmntBoo" type="xsd:boolean" minOccurs="0" nillable="true"/>
          <xsd:element name="downPymntMny" type="xsd:long" minOccurs="0" nillable="true"/>
          <xsd:element name="downPymntPct" type="xsd:long" minOccurs="0" nillable="true"/>
          <xsd:element name="numberOfInstlmnts" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="productQuantity" type="xsd:long" minOccurs="0" nillable="true"/>
          <xsd:element name="pointsRedemptionType" type="ecaCustomer:PurchaseType" minOccurs="0" nillable="true"/>
          <xsd:element name="redemptionLoyaltyPoints" type="xsd:int" minOccurs="0" nillable="true"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="OTCInstallmentDetailsData_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="otcInstancePK" type="ecaOneTimeCharge:OTCInstancePK"/>
          <xsd:element name="installmentStartDat" type="xsd:dateTime"/>
          <xsd:element name="installmentEndDat" type="xsd:dateTime"/>
          <xsd:element name="otcBilledTot" type="xsd:double"/>
          <xsd:element name="otcUnbilledTot" type="xsd:double"/>
          <xsd:element name="numberOfInstallments" type="xsd:int"/>
          <xsd:element name="numberOfBilledInstallments" type="xsd:int"/>
          <xsd:element name="instlmntMny" type="xsd:long"/>
          <xsd:element name="dpMnyTot" type="xsd:double"/>
          <xsd:element name="installmentDueDat" type="xsd:dateTime" minOccurs="0" nillable="true"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="OTCInstallmentInterest_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="accountPK" type="ecaAccount:AccountPK"/>
          <xsd:element name="otcInstallmentSeq" type="xsd:int"/>
          <xsd:element name="domainId" type="xsd:int"/>
          <xsd:element name="billSeq" type="xsd:int"/>
          <xsd:element name="interestMny" type="xsd:long"/>
          <xsd:element name="interestRevenueCodeId" type="xsd:int"/>
          <xsd:element name="interestRecClassId" type="xsd:int"/>
          <xsd:element name="interestRevenueRecogClassId" type="xsd:int" minOccurs="0" nillable="true"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="OTCInstallmentSummaryData_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="accountPK" type="ecaAccount:AccountPK"/>
          <xsd:element name="otcInstallmentSeq" type="xsd:int"/>
          <xsd:element name="domainId" type="xsd:int"/>
          <xsd:element name="numberOfInstallments" type="xsd:int"/>
          <xsd:element name="otcAmountTot" type="xsd:double"/>
          <xsd:element name="installmentStartDat" type="xsd:dateTime"/>
          <xsd:element name="installmentEndDat" type="xsd:dateTime"/>
          <xsd:element name="parentOTCSeq" type="xsd:int"/>
          <xsd:element name="otcReverseAdjustmentSeq" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="otcBilledTot" type="xsd:double" minOccurs="0" nillable="true"/>
          <xsd:element name="numberOfBilledInstallments" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="dpPct" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="dpAmountTot" type="xsd:double" minOccurs="0" nillable="true"/>
          <xsd:element name="taxAmountTot" type="xsd:double" minOccurs="0" nillable="true"/>
          <xsd:element name="otcReverseOTCSeq" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="terminationReason" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="terminationDtm" type="xsd:dateTime" minOccurs="0" nillable="true"/>
          <xsd:element name="instlmntModifiedBillSeq" type="xsd:int" minOccurs="0" nillable="true"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="OTCInstanceAttributeData_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="otcAttributeSubId" type="xsd:int"/>
          <xsd:element name="attributeValue" type="xsd:string"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="OTCInstanceAttributeDetails_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="otcInstancePK" type="ecaOneTimeCharge:OTCInstancePK"/>
          <xsd:element name="otcAttributeSubId" type="xsd:int"/>
          <xsd:element name="attributeValue" type="xsd:string"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="OTCInstancePK">
    <xsd:complexContent>
      <xsd:extension base="eca:PrimaryKey">
        <xsd:sequence>
          <xsd:element name="accountNum" type="xsd:string"/>
          <xsd:element name="otcSeq" type="xsd:int"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="OTCTariffPK">
    <xsd:complexContent>
      <xsd:extension base="eca:PrimaryKey">
        <xsd:sequence>
          <xsd:element name="catalogueChangeId" type="xsd:int"/>
          <xsd:element name="otcId" type="xsd:int"/>
          <xsd:element name="otcSalesStartDtm" type="xsd:dateTime"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="OneTimeChargeAndInstanceData_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="oneTimeChargeInstanceData" type="ecaOneTimeCharge:OneTimeChargeInstanceData_1" minOccurs="0" nillable="true"/>
          <xsd:element name="oneTimeChargeData" type="ecaOneTimeCharge:OneTimeChargeData_1" minOccurs="0" nillable="true"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="OneTimeChargeAndInstanceData_2">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="oneTimeChargeInstanceData" type="ecaOneTimeCharge:OneTimeChargeInstanceData_2" minOccurs="0" nillable="true"/>
          <xsd:element name="oneTimeChargeData" type="ecaOneTimeCharge:OneTimeChargeData_1" minOccurs="0" nillable="true"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="OneTimeChargeAndInstanceData_3">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="oneTimeChargeInstanceData" type="ecaOneTimeCharge:OneTimeChargeInstanceData_3" minOccurs="0" nillable="true"/>
          <xsd:element name="oneTimeChargeData" type="ecaOneTimeCharge:OneTimeChargeData_1" minOccurs="0" nillable="true"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="OneTimeChargeAndTariffData_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="oneTimeChargeData" type="ecaOneTimeCharge:OneTimeChargeData_1" minOccurs="0" nillable="true"/>
          <xsd:element name="oneTimeChargeTariffData" type="ecaOneTimeCharge:OneTimeChargeTariffData_1" minOccurs="0" nillable="true"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="OneTimeChargeAndTariffData_2">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="oneTimeChargeData" type="ecaOneTimeCharge:OneTimeChargeData_3" minOccurs="0" nillable="true"/>
          <xsd:element name="oneTimeChargeTariffData" type="ecaOneTimeCharge:OneTimeChargeTariffData_1" minOccurs="0" nillable="true"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="OneTimeChargeAndTariffDataJoin_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="OneTimeChargeAttributeData_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="attributeName" type="xsd:string"/>
          <xsd:element name="mandatoryBoo" type="xsd:boolean"/>
          <xsd:element name="displayPosition" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="attributeUnits" type="ecaEvent:AttributeUnits"/>
          <xsd:element name="hint" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="otcId" type="xsd:int"/>
          <xsd:element name="attributeSubId" type="xsd:int"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="OneTimeChargeAttributePK">
    <xsd:complexContent>
      <xsd:extension base="eca:PrimaryKey">
        <xsd:sequence>
          <xsd:element name="otcId" type="xsd:int"/>
          <xsd:element name="attributeSubId" type="xsd:int"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="OneTimeChargeData_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="otcSalesStartDtm" type="xsd:dateTime"/>
          <xsd:element name="otcName" type="xsd:string"/>
          <xsd:element name="otcTypeId" type="xsd:int"/>
          <xsd:element name="otcRealTimeChargeBoo" type="xsd:boolean"/>
          <xsd:element name="otcPseudoEventTypeId" type="xsd:int"/>
          <xsd:element name="otcSalesEndDtm" type="xsd:dateTime" minOccurs="0" nillable="true"/>
          <xsd:element name="otcDescription" type="xsd:string" minOccurs="0" nillable="true"/>
          <xsd:element name="hint" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="otcId" type="xsd:int"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="OneTimeChargeData_2">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="otcSalesStartDtm" type="xsd:dateTime"/>
          <xsd:element name="otcName" type="xsd:string"/>
          <xsd:element name="otcTypeId" type="xsd:int"/>
          <xsd:element name="oneTimeChargeTypeData" type="ecaOneTimeCharge:OneTimeChargeTypeData_1" minOccurs="0" nillable="true"/>
          <xsd:element name="otcRealTimeChargeBoo" type="xsd:boolean"/>
          <xsd:element name="otcPseudoEventTypeId" type="xsd:int"/>
          <xsd:element name="otcSalesEndDtm" type="xsd:dateTime" minOccurs="0" nillable="true"/>
          <xsd:element name="otcDescription" type="xsd:string" minOccurs="0" nillable="true"/>
          <xsd:element name="hint" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="otcId" type="xsd:int"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="OneTimeChargeData_3">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="otcSalesStartDtm" type="xsd:dateTime"/>
          <xsd:element name="otcName" type="xsd:string"/>
          <xsd:element name="otcTypeId" type="xsd:int"/>
          <xsd:element name="oneTimeChargeTypeData" type="ecaOneTimeCharge:OneTimeChargeTypeData_1" minOccurs="0" nillable="true"/>
          <xsd:element name="otcRealTimeChargeBoo" type="xsd:boolean"/>
          <xsd:element name="otcPseudoEventTypeId" type="xsd:int"/>
          <xsd:element name="otcSalesEndDtm" type="xsd:dateTime" minOccurs="0" nillable="true"/>
          <xsd:element name="otcDescription" type="xsd:string" minOccurs="0" nillable="true"/>
          <xsd:element name="installmentEligibleBoo" type="xsd:boolean"/>
          <xsd:element name="hint" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="otcId" type="xsd:int"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="OneTimeChargeDataJoin_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="oneTimeChargeTypeDataJoin" type="ecaOneTimeCharge:OneTimeChargeTypeDataJoin_1" minOccurs="0" nillable="true"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="OneTimeChargeDataJoin_2">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="oneTimeChargeTypeDataJoin" type="ecaOneTimeCharge:OneTimeChargeTypeDataJoin_1" minOccurs="0" nillable="true"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="OneTimeChargeInstanceData_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="otcInstancePK" type="ecaOneTimeCharge:OTCInstancePK"/>
          <xsd:element name="otcInstanceDtm" type="xsd:dateTime"/>
          <xsd:element name="otcInstanceStatus" type="xsd:int"/>
          <xsd:element name="otcId" type="xsd:int"/>
          <xsd:element name="otcInstanceCreatedDtm" type="xsd:dateTime"/>
          <xsd:element name="otcGenevaUser" type="xsd:string"/>
          <xsd:element name="otcInstanceMoney" type="xsd:long"/>
          <xsd:element name="otcInstanceCPSId" type="xsd:int"/>
          <xsd:element name="otcInstanceRealTimeBoo" type="xsd:boolean"/>
          <xsd:element name="otcInstanceRevenueCodeId" type="xsd:int"/>
          <xsd:element name="otcInstanceReceivableClassId" type="xsd:int"/>
          <xsd:element name="otcInstanceRecognitionClassId" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="otcInstanceClass" type="xsd:int"/>
          <xsd:element name="otcInstanceLabel" type="xsd:string" minOccurs="0" nillable="true"/>
          <xsd:element name="otcInstanceProductSeq" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="otcInstanceBudgetCenterSeq" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="otcInstanceText" type="xsd:string" minOccurs="0" nillable="true"/>
          <xsd:element name="serviceAddressSeq" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="billSeq" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="otcInstanceCancelText" type="xsd:string" minOccurs="0" nillable="true"/>
          <xsd:element name="originBillSeq" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="originBillVersion" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element
            name="otcInstanceAttributeDetailsArray"
            type="ecaOneTimeCharge:OTCInstanceAttributeDetails_1"
            minOccurs="0"
            maxOccurs="unbounded"
            nillable="true"
          />
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="OneTimeChargeInstanceData_2">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="otcInstancePK" type="ecaOneTimeCharge:OTCInstancePK"/>
          <xsd:element name="otcInstanceDtm" type="xsd:dateTime"/>
          <xsd:element name="otcInstanceStatus" type="xsd:int"/>
          <xsd:element name="otcId" type="xsd:int"/>
          <xsd:element name="otcInstanceCreatedDtm" type="xsd:dateTime"/>
          <xsd:element name="otcGenevaUser" type="xsd:string"/>
          <xsd:element name="otcInstanceMoney" type="xsd:long"/>
          <xsd:element name="otcInstanceCPSId" type="xsd:int"/>
          <xsd:element name="otcInstanceRealTimeBoo" type="xsd:boolean"/>
          <xsd:element name="otcInstanceRevenueCodeId" type="xsd:int"/>
          <xsd:element name="otcInstanceReceivableClassId" type="xsd:int"/>
          <xsd:element name="otcInstanceRecognitionClassId" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="otcInstanceClass" type="xsd:int"/>
          <xsd:element name="otcInstanceLabel" type="xsd:string" minOccurs="0" nillable="true"/>
          <xsd:element name="otcInstanceProductSeq" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="otcInstanceBudgetCenterSeq" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="otcInstanceText" type="xsd:string" minOccurs="0" nillable="true"/>
          <xsd:element name="serviceAddressSeq" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="billSeq" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="otcInstanceCancelText" type="xsd:string" minOccurs="0" nillable="true"/>
          <xsd:element name="originBillSeq" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="originBillVersion" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="installmentSeq" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="installmentNumber" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="otcTerminationDtm" type="xsd:dateTime" minOccurs="0" nillable="true"/>
          <xsd:element name="productQty" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="previousOTCMny" type="xsd:long" minOccurs="0" nillable="true"/>
          <xsd:element
            name="otcInstanceAttributeDetailsArray"
            type="ecaOneTimeCharge:OTCInstanceAttributeDetails_1"
            minOccurs="0"
            maxOccurs="unbounded"
            nillable="true"
          />
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="OneTimeChargeInstanceData_3">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="otcInstancePK" type="ecaOneTimeCharge:OTCInstancePK"/>
          <xsd:element name="otcInstanceDtm" type="xsd:dateTime"/>
          <xsd:element name="otcInstanceStatus" type="xsd:int"/>
          <xsd:element name="otcId" type="xsd:int"/>
          <xsd:element name="otcInstanceCreatedDtm" type="xsd:dateTime"/>
          <xsd:element name="otcGenevaUser" type="xsd:string"/>
          <xsd:element name="otcInstanceMoney" type="xsd:long"/>
          <xsd:element name="otcInstanceCPSId" type="xsd:int"/>
          <xsd:element name="otcInstanceRealTimeBoo" type="xsd:boolean"/>
          <xsd:element name="otcInstanceRevenueCodeId" type="xsd:int"/>
          <xsd:element name="otcInstanceReceivableClassId" type="xsd:int"/>
          <xsd:element name="otcInstanceRecognitionClassId" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="otcInstanceClass" type="xsd:int"/>
          <xsd:element name="otcInstanceLabel" type="xsd:string" minOccurs="0" nillable="true"/>
          <xsd:element name="otcInstanceProductSeq" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="otcInstanceBudgetCenterSeq" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="otcInstanceText" type="xsd:string" minOccurs="0" nillable="true"/>
          <xsd:element name="serviceAddressSeq" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="billSeq" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="otcInstanceCancelText" type="xsd:string" minOccurs="0" nillable="true"/>
          <xsd:element name="originBillSeq" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="originBillVersion" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="installmentSeq" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="installmentNumber" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="otcTerminationDtm" type="xsd:dateTime" minOccurs="0" nillable="true"/>
          <xsd:element name="productQty" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="previousOTCMny" type="xsd:long" minOccurs="0" nillable="true"/>
          <xsd:element name="actualMny" type="xsd:long" minOccurs="0" nillable="true"/>
          <xsd:element
            name="otcInstanceAttributeDetailsArray"
            type="ecaOneTimeCharge:OTCInstanceAttributeDetails_1"
            minOccurs="0"
            maxOccurs="unbounded"
            nillable="true"
          />
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="OneTimeChargePK">
    <xsd:complexContent>
      <xsd:extension base="eca:PrimaryKey">
        <xsd:sequence>
          <xsd:element name="otcId" type="xsd:int"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="OneTimeChargeTariffData_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="otcTariffPK" type="ecaOneTimeCharge:OTCTariffPK"/>
          <xsd:element name="otcTariffName" type="xsd:string"/>
          <xsd:element name="defaultRevenueCodeId" type="xsd:int"/>
          <xsd:element name="priceFixedBoo" type="xsd:boolean"/>
          <xsd:element name="taxInclusiveBoo" type="xsd:boolean"/>
          <xsd:element name="salesEndDtm" type="xsd:dateTime" minOccurs="0" nillable="true"/>
          <xsd:element name="tariffDescription" type="xsd:string" minOccurs="0" nillable="true"/>
          <xsd:element name="defaultRecClassId" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="defaultRevRecogClassId" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="priceMoney" type="xsd:long" minOccurs="0" nillable="true"/>
          <xsd:element name="minPriceMoney" type="xsd:long" minOccurs="0" nillable="true"/>
          <xsd:element name="maxPriceMoney" type="xsd:long" minOccurs="0" nillable="true"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="OneTimeChargeTypeData_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="otcTypeName" type="xsd:string"/>
          <xsd:element name="otcTypeDescription" type="xsd:string" minOccurs="0" nillable="true"/>
          <xsd:element name="ustProductClassId" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="ustCategoryId" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="ustCodeId" type="xsd:int"/>
          <xsd:element name="hint" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="otcTypeId" type="xsd:int"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="OneTimeChargeTypeDataJoin_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="OneTimeChargeTypePK">
    <xsd:complexContent>
      <xsd:extension base="eca:PrimaryKey">
        <xsd:sequence>
          <xsd:element name="otcTypeId" type="xsd:int"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="QueryAccInstallmentSummaryInput_1">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="accountPK" type="ecaAccount:AccountPK"/>
          <xsd:element name="installmentSeq" type="xsd:int"/>
          <xsd:element name="languageId" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="maxRows" type="xsd:int"/>
          <xsd:element name="discardTruncatedBoo" type="xsd:boolean"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryAccInstallmentSummaryOutput_1">
        <xsd:sequence>
          <xsd:element name="queryOTCInstallmentSummaryResult_1" type="ecaOneTimeCharge:QueryOTCInstallmentSummaryResult_1"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryAllAccInstallmentsSummaryInput_1">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="accountPK" type="ecaAccount:AccountPK"/>
          <xsd:element name="languageId" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="maxRows" type="xsd:int"/>
          <xsd:element name="discardTruncatedBoo" type="xsd:boolean"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryAllAccInstallmentsSummaryOutput_1">
        <xsd:sequence>
          <xsd:element name="queryAllOTCInstallmentsSummaryResult_1" type="ecaOneTimeCharge:QueryAllOTCInstallmentsSummaryResult_1"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryAllOTCAvailableForAccountInput_1">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="accountPK" type="ecaAccount:AccountPK"/>
          <xsd:element name="whenDtm" type="xsd:dateTime"/>
          <xsd:element name="languageId" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="lastOneTimeChargePK" type="ecaOneTimeCharge:OneTimeChargePK" minOccurs="0" nillable="true"/>
          <xsd:element name="maxRows" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="discardTruncated" type="xsd:boolean"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryAllOTCAvailableForAccountInput_2">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="accountPK" type="ecaAccount:AccountPK"/>
          <xsd:element name="whenDtm" type="xsd:dateTime"/>
          <xsd:element name="languageId" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="lastOneTimeChargePK" type="ecaOneTimeCharge:OneTimeChargePK" minOccurs="0" nillable="true"/>
          <xsd:element name="onlyInstallmentsBoo" type="xsd:boolean" minOccurs="0" nillable="true"/>
          <xsd:element name="maxRows" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="discardTruncated" type="xsd:boolean"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryAllOTCAvailableForAccountOutput_1">
        <xsd:sequence>
          <xsd:element name="queryAllOTCAvailableForAccountResult_1" type="ecaOneTimeCharge:QueryAllOTCAvailableForAccountResult_1"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryAllOTCAvailableForAccountOutput_2">
        <xsd:sequence>
          <xsd:element name="queryAllOTCAvailableForAccountResult_2" type="ecaOneTimeCharge:QueryAllOTCAvailableForAccountResult_2"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryAllOTCAvailableForAccountResult_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element
            name="oneTimeChargeAndTariffDataArray"
            type="ecaOneTimeCharge:OneTimeChargeAndTariffData_1"
            minOccurs="0"
            maxOccurs="unbounded"
          />
          <xsd:element name="truncated" type="xsd:boolean"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="QueryAllOTCAvailableForAccountResult_2">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element
            name="oneTimeChargeAndTariffDataArray"
            type="ecaOneTimeCharge:OneTimeChargeAndTariffData_2"
            minOccurs="0"
            maxOccurs="unbounded"
          />
          <xsd:element name="truncated" type="xsd:boolean"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="QueryAllOTCInstallmentsInterestResult_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element
            name="otcInstallmentInterestArray"
            type="ecaOneTimeCharge:OTCInstallmentInterest_1"
            minOccurs="0"
            maxOccurs="unbounded"
          />
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="QueryAllOTCInstallmentsSummaryResult_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element
            name="otcInstallmentSummaryArray"
            type="ecaOneTimeCharge:OTCInstallmentSummaryData_1"
            minOccurs="0"
            maxOccurs="unbounded"
          />
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="QueryAllOneTimeChargeAttributesInput_1">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="oneTimeChargePK" type="ecaOneTimeCharge:OneTimeChargePK"/>
          <xsd:element name="languageId" type="xsd:int" minOccurs="0" nillable="true"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryAllOneTimeChargeAttributesOutput_1">
        <xsd:sequence>
          <xsd:element name="oneTimeChargeAttributeDataArray" type="ecaOneTimeCharge:ArrayOfOneTimeChargeAttributeData_1" minOccurs="0" nillable="true"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryAllOneTimeChargeInstancesInput_1">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="accountPK" type="ecaAccount:AccountPK"/>
          <xsd:element name="onlyBilledBoo" type="xsd:boolean" minOccurs="0" nillable="true"/>
          <xsd:element name="billSeq" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="oneTimeChargeStatus" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="languageID" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="lastOTCInstancePK" type="ecaOneTimeCharge:OTCInstancePK" minOccurs="0" nillable="true"/>
          <xsd:element name="maxRows" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="discardTruncated" type="xsd:boolean"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryAllOneTimeChargeInstancesInput_2">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="accountPK" type="ecaAccount:AccountPK"/>
          <xsd:element name="onlyBilledBoo" type="xsd:boolean" minOccurs="0" nillable="true"/>
          <xsd:element name="billSeq" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="oneTimeChargeStatus" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="languageID" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="lastOTCInstancePK" type="ecaOneTimeCharge:OTCInstancePK" minOccurs="0" nillable="true"/>
          <xsd:element name="onlyInstallmentsBoo" type="xsd:boolean" minOccurs="0" nillable="true"/>
          <xsd:element name="installmentSeq" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="maxRows" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="discardTruncated" type="xsd:boolean"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryAllOneTimeChargeInstancesInput_3">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="accountPK" type="ecaAccount:AccountPK"/>
          <xsd:element name="onlyBilledBoo" type="xsd:boolean" minOccurs="0" nillable="true"/>
          <xsd:element name="billSeq" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="oneTimeChargeStatus" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="languageID" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="lastOTCInstancePK" type="ecaOneTimeCharge:OTCInstancePK" minOccurs="0" nillable="true"/>
          <xsd:element name="onlyInstallmentsBoo" type="xsd:boolean" minOccurs="0" nillable="true"/>
          <xsd:element name="installmentSeq" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="maxRows" type="xsd:int"/>
          <xsd:element name="discardTruncated" type="xsd:boolean"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryAllOneTimeChargeInstancesOutput_1">
        <xsd:sequence>
          <xsd:element name="queryAllOneTimeChargeInstancesResult" type="ecaOneTimeCharge:QueryAllOneTimeChargeInstancesResult_1"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryAllOneTimeChargeInstancesOutput_2">
        <xsd:sequence>
          <xsd:element name="queryAllOneTimeChargeInstancesResult" type="ecaOneTimeCharge:QueryAllOneTimeChargeInstancesResult_2"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryAllOneTimeChargeInstancesOutput_3">
        <xsd:sequence>
          <xsd:element name="queryAllOneTimeChargeInstancesResult" type="ecaOneTimeCharge:QueryAllOneTimeChargeInstancesResult_3"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryAllOneTimeChargeInstancesResult_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element
            name="oneTimeChargeAndInstanceDataArray"
            type="ecaOneTimeCharge:OneTimeChargeAndInstanceData_1"
            minOccurs="0"
            maxOccurs="unbounded"
          />
          <xsd:element name="truncated" type="xsd:boolean"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="QueryAllOneTimeChargeInstancesResult_2">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element
            name="oneTimeChargeAndInstanceDataArray"
            type="ecaOneTimeCharge:OneTimeChargeAndInstanceData_2"
            minOccurs="0"
            maxOccurs="unbounded"
          />
          <xsd:element name="truncated" type="xsd:boolean"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="QueryAllOneTimeChargeInstancesResult_3">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element
            name="oneTimeChargeAndInstanceDataArray"
            type="ecaOneTimeCharge:OneTimeChargeAndInstanceData_3"
            minOccurs="0"
            maxOccurs="unbounded"
          />
          <xsd:element name="truncated" type="xsd:boolean"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="QueryAllOneTimeChargeTypeDataResult_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="oneTimeChargeTypeDataArray" type="ecaOneTimeCharge:ArrayOfOneTimeChargeTypeData_1" minOccurs="0" nillable="true"/>
          <xsd:element name="truncatedBoo" type="xsd:boolean"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="QueryAllOneTimeChargeTypesInput_1">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="maxRows" type="xsd:int"/>
          <xsd:element name="discardTruncatedBoo" type="xsd:boolean"/>
          <xsd:element name="lastOneTimeChargeTypePK" type="ecaOneTimeCharge:OneTimeChargeTypePK" minOccurs="0" nillable="true"/>
          <xsd:element name="languageId" type="xsd:int" minOccurs="0" nillable="true"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryAllOneTimeChargeTypesOutput_1">
        <xsd:sequence>
          <xsd:element name="oneTimeChargeTypeResult" type="ecaOneTimeCharge:QueryAllOneTimeChargeTypeDataResult_1"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryAllOneTimeChargesDataResult_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="otcDataArray" type="ecaOneTimeCharge:ArrayOfOneTimeChargeData_3" minOccurs="0" nillable="true"/>
          <xsd:element name="truncatedBoo" type="xsd:boolean"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="QueryInterestDetailsForAllInstlmntsInput_1">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="accountPK" type="ecaAccount:AccountPK"/>
          <xsd:element name="languageId" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="maxRows" type="xsd:int"/>
          <xsd:element name="discardTruncatedBoo" type="xsd:boolean"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryInterestDetailsForAllInstlmntsOutput_1">
        <xsd:sequence>
          <xsd:element name="queryAllOTCInstallmentsInterestResult_1" type="ecaOneTimeCharge:QueryAllOTCInstallmentsInterestResult_1"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryInterestDetailsForInstlmntInput_1">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="accountPK" type="ecaAccount:AccountPK"/>
          <xsd:element name="installmentSeq" type="xsd:int"/>
          <xsd:element name="languageId" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="maxRows" type="xsd:int"/>
          <xsd:element name="discardTruncatedBoo" type="xsd:boolean"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryInterestDetailsForInstlmntOutput_1">
        <xsd:sequence>
          <xsd:element name="queryOTCInstallmentInterestResult_1" type="ecaOneTimeCharge:QueryOTCInstallmentInterestResult_1"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryOTCInstallmentDetailsInput_1">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="accountPK" type="ecaAccount:AccountPK"/>
          <xsd:element name="installmentSeq" type="xsd:int"/>
          <xsd:element name="languageId" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="maxRows" type="xsd:int"/>
          <xsd:element name="discardTruncatedBoo" type="xsd:boolean"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryOTCInstallmentDetailsOutput_1">
        <xsd:sequence>
          <xsd:element name="queryOTCInstallmentDetailsResult_1" type="ecaOneTimeCharge:QueryOTCInstallmentDetailsResult_1"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryOTCInstallmentDetailsResult_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="otcInstallmentDetailsData" type="ecaOneTimeCharge:OTCInstallmentDetailsData_1"/>
          <xsd:element name="interestRate" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="tariffDescription" type="xsd:string" minOccurs="0" nillable="true"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="QueryOTCInstallmentInterestResult_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="otcInstallmentInterest" type="ecaOneTimeCharge:OTCInstallmentInterest_1"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="QueryOTCInstallmentSummaryResult_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="otcInstallmentSummaryData" type="ecaOneTimeCharge:OTCInstallmentSummaryData_1"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="QueryOTCInterestRateAndTariffDescResult_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="interestId" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="interestRate" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="tariffDescription" type="xsd:string" minOccurs="0" nillable="true"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="QueryOneTimeChargeInstanceInput_1">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="otcInstancePK" type="ecaOneTimeCharge:OTCInstancePK"/>
          <xsd:element name="languageId" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="oneTimeChargeAndTariffDataJoin" type="ecaOneTimeCharge:OneTimeChargeAndTariffDataJoin_1" minOccurs="0" nillable="true"/>
          <xsd:element name="oneTimeChargeTypeDataJoin" type="ecaOneTimeCharge:OneTimeChargeTypeDataJoin_1" minOccurs="0" nillable="true"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryOneTimeChargeInstanceInput_2">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="otcInstancePK" type="ecaOneTimeCharge:OTCInstancePK"/>
          <xsd:element name="languageId" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="oneTimeChargeAndTariffDataJoin" type="ecaOneTimeCharge:OneTimeChargeAndTariffDataJoin_1" minOccurs="0" nillable="true"/>
          <xsd:element name="oneTimeChargeTypeDataJoin" type="ecaOneTimeCharge:OneTimeChargeTypeDataJoin_1" minOccurs="0" nillable="true"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryOneTimeChargeInstanceInput_3">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="otcInstancePK" type="ecaOneTimeCharge:OTCInstancePK"/>
          <xsd:element name="languageId" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="oneTimeChargeAndTariffDataJoin" type="ecaOneTimeCharge:OneTimeChargeAndTariffDataJoin_1" minOccurs="0" nillable="true"/>
          <xsd:element name="oneTimeChargeTypeDataJoin" type="ecaOneTimeCharge:OneTimeChargeTypeDataJoin_1" minOccurs="0" nillable="true"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryOneTimeChargeInstanceOutput_1">
        <xsd:sequence>
          <xsd:element name="queryOneTimeChargeInstanceResult_1" type="ecaOneTimeCharge:QueryOneTimeChargeInstanceResult_1"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryOneTimeChargeInstanceOutput_2">
        <xsd:sequence>
          <xsd:element name="queryOneTimeChargeInstanceResult_2" type="ecaOneTimeCharge:QueryOneTimeChargeInstanceResult_2"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryOneTimeChargeInstanceOutput_3">
        <xsd:sequence>
          <xsd:element name="queryOneTimeChargeInstanceResult_3" type="ecaOneTimeCharge:QueryOneTimeChargeInstanceResult_3"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryOneTimeChargeInstanceResult_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="oneTimeChargeInstanceData" type="ecaOneTimeCharge:OneTimeChargeInstanceData_1"/>
          <xsd:element name="oneTimeChargeData" type="ecaOneTimeCharge:OneTimeChargeData_1"/>
          <xsd:element name="oneTimeChargeTariffData" type="ecaOneTimeCharge:OneTimeChargeTariffData_1"/>
          <xsd:element name="oneTimeChargeTypeData" type="ecaOneTimeCharge:OneTimeChargeTypeData_1"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="QueryOneTimeChargeInstanceResult_2">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="oneTimeChargeInstanceData" type="ecaOneTimeCharge:OneTimeChargeInstanceData_2"/>
          <xsd:element name="oneTimeChargeData" type="ecaOneTimeCharge:OneTimeChargeData_3"/>
          <xsd:element name="oneTimeChargeTariffData" type="ecaOneTimeCharge:OneTimeChargeTariffData_1"/>
          <xsd:element name="oneTimeChargeTypeData" type="ecaOneTimeCharge:OneTimeChargeTypeData_1"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="QueryOneTimeChargeInstanceResult_3">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="oneTimeChargeInstanceData" type="ecaOneTimeCharge:OneTimeChargeInstanceData_3"/>
          <xsd:element name="oneTimeChargeData" type="ecaOneTimeCharge:OneTimeChargeData_3"/>
          <xsd:element name="oneTimeChargeTariffData" type="ecaOneTimeCharge:OneTimeChargeTariffData_1"/>
          <xsd:element name="oneTimeChargeTypeData" type="ecaOneTimeCharge:OneTimeChargeTypeData_1"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="QueryOneTimeChargeTypeInput_1">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="oneTimeChargeTypePK" type="ecaOneTimeCharge:OneTimeChargeTypePK"/>
          <xsd:element name="languageId" type="xsd:int" minOccurs="0" nillable="true"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryOneTimeChargeTypeOutput_1">
        <xsd:sequence>
          <xsd:element name="oneTimeChargeTypeData" type="ecaOneTimeCharge:OneTimeChargeTypeData_1"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ReinstateOneTimeChargesInput_1">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="accountPK" type="ecaAccount:AccountPK"/>
          <xsd:element name="installmentSeq" type="xsd:int"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="TerminateOTCInstanceInput_1">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="accountPK" type="ecaAccount:AccountPK"/>
          <xsd:element name="otcInstallmentSeq" type="xsd:int"/>
          <xsd:element name="otcTerminationTxt" type="xsd:string" minOccurs="0" nillable="true"/>
          <xsd:element name="requestedDtm" type="xsd:dateTime" minOccurs="0" nillable="true"/>
       </xsd:sequence>
  </xsd:complexType>



  <!-- Array Types -->
  <xsd:complexType name="ArrayOfNullableOTCInstanceAttributeData_1">
    <xsd:complexContent>
      <xsd:extension base="base:BaseStructure">
        <xsd:sequence>
          <xsd:element
            name="a"
            type="ecaOneTimeCharge:OTCInstanceAttributeData_1"
            minOccurs="0"
            maxOccurs="unbounded"
            nillable="true"
          />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ArrayOfOTCInstancePK">
    <xsd:complexContent>
      <xsd:extension base="base:BaseStructure">
        <xsd:sequence>
          <xsd:element
            name="a"
            type="ecaOneTimeCharge:OTCInstancePK"
            minOccurs="0"
            maxOccurs="unbounded"
          />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ArrayOfNullableOTCInstancePK">
    <xsd:complexContent>
      <xsd:extension base="base:BaseStructure">
        <xsd:sequence>
          <xsd:element
            name="a"
            type="ecaOneTimeCharge:OTCInstancePK"
            minOccurs="0"
            maxOccurs="unbounded"
            nillable="true"
          />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ArrayOfOneTimeChargeAttributeData_1">
    <xsd:complexContent>
      <xsd:extension base="base:BaseStructure">
        <xsd:sequence>
          <xsd:element
            name="a"
            type="ecaOneTimeCharge:OneTimeChargeAttributeData_1"
            minOccurs="0"
            maxOccurs="unbounded"
          />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ArrayOfOneTimeChargeData_3">
    <xsd:complexContent>
      <xsd:extension base="base:BaseStructure">
        <xsd:sequence>
          <xsd:element
            name="a"
            type="ecaOneTimeCharge:OneTimeChargeData_3"
            minOccurs="0"
            maxOccurs="unbounded"
          />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ArrayOfOneTimeChargeTypeData_1">
    <xsd:complexContent>
      <xsd:extension base="base:BaseStructure">
        <xsd:sequence>
          <xsd:element
            name="a"
            type="ecaOneTimeCharge:OneTimeChargeTypeData_1"
            minOccurs="0"
            maxOccurs="unbounded"
          />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>


</xsd:schema>

<!-- eof ECA_OneTimeCharge.xsd -->
