Release2.21/ECA.CST/customeca-j2ee/schema/ECA/ECA_Adjustment.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- XML Schema for type definitions of component ECA -->
<!-- service Adjustment. -->

<xsd:schema
  targetNamespace="urn:Convergys-Interface-ECA-Adjustment"
  xmlns="urn:Convergys-Interface-ECA-Adjustment"
  xmlns:ecaAdjustment="urn:Convergys-Interface-ECA-Adjustment"
  elementFormDefault="qualified"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:base="urn:Convergys-Interface-Base"
  xmlns:commonIML="urn:Convergys-Interface-CommonIML"
  xmlns:eca="urn:Convergys-Interface-ECA"
  xmlns:ecaAccount="urn:Convergys-Interface-ECA-Account"
  xmlns:ecaBill="urn:Convergys-Interface-ECA-Bill"
  xmlns:ecaBudgetCentre="urn:Convergys-Interface-ECA-BudgetCentre"
  xmlns:ecaConfig="urn:Convergys-Interface-ECA-Config"
  xmlns:ecaDispute="urn:Convergys-Interface-ECA-Dispute"
  xmlns:ecaGenevaUser="urn:Convergys-Interface-ECA-GenevaUser"
>
  <!-- Imports -->
  <xsd:import
    namespace="urn:Convergys-Interface-Base"
    schemaLocation="../../schema/Base/Base.xsd"
  />

  <xsd:import
    namespace="urn:Convergys-Interface-CommonIML"
    schemaLocation="../../schema/CommonIML/CommonIML.xsd"
  />

  <xsd:import
    namespace="urn:Convergys-Interface-ECA"
    schemaLocation="../../schema/ECA/ECA.xsd"
  />

  <xsd:import
    namespace="urn:Convergys-Interface-ECA-Account"
    schemaLocation="../../schema/ECA/ECA_Account.xsd"
  />

  <xsd:import
    namespace="urn:Convergys-Interface-ECA-Bill"
    schemaLocation="../../schema/ECA/ECA_Bill.xsd"
  />

  <xsd:import
    namespace="urn:Convergys-Interface-ECA-BudgetCentre"
    schemaLocation="../../schema/ECA/ECA_BudgetCentre.xsd"
  />

  <xsd:import
    namespace="urn:Convergys-Interface-ECA-Config"
    schemaLocation="../../schema/ECA/ECA_Config.xsd"
  />

  <xsd:import
    namespace="urn:Convergys-Interface-ECA-Dispute"
    schemaLocation="../../schema/ECA/ECA_Dispute.xsd"
  />

  <xsd:import
    namespace="urn:Convergys-Interface-ECA-GenevaUser"
    schemaLocation="../../schema/ECA/ECA_GenevaUser.xsd"
  />


  <!-- Enumeration Types -->
  <xsd:simpleType name="AdjustmentStatus">
    <xsd:restriction base="xsd:int">
<!-- Enums are represented as int values in IML. The following list provides a mapping of
the different enum options supported by the server. Please note that the server might have
been upgraded to a more uptodate release and might support additional options. Some options
may also be deprecated.

       1 = ASPendingApproval
       2 = ASCancelled
       3 = ASApproved
       4 = ASRejected
       5 = ASNotBilled

-->
    </xsd:restriction>
  </xsd:simpleType>


  <!-- Structure and Exception Types -->
  <xsd:complexType name="AdjustmentData_5_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="budgetCentrePK" type="ecaBudgetCentre:BudgetCentrePK" minOccurs="0" nillable="true"/>
          <xsd:element name="adjustmentNetMny" type="xsd:long"/>
          <xsd:element name="adjustmentTxt" type="xsd:string"/>
          <xsd:element name="adjustmentTypeId" type="xsd:int"/>
          <xsd:element name="adjustmentStatus" type="ecaAdjustment:AdjustmentStatus"/>
          <xsd:element name="adjustmentDat" type="xsd:dateTime"/>
          <xsd:element name="createdDtm" type="xsd:dateTime"/>
          <xsd:element name="approvedDtm" type="xsd:dateTime" minOccurs="0" nillable="true"/>
          <xsd:element name="outcomeDesc" type="xsd:string" minOccurs="0" nillable="true"/>
          <xsd:element name="adjustmentTypeData" type="ecaAdjustment:AdjustmentTypeData_5_1" minOccurs="0" nillable="true"/>
          <xsd:element name="hint" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="accountNum" type="xsd:string"/>
          <xsd:element name="adjustmentSeq" type="xsd:int"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="AdjustmentData_6">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="adjustmentDat" type="xsd:dateTime"/>
          <xsd:element name="adjustmentTypeId" type="xsd:int"/>
          <xsd:element name="adjustmentTxt" type="xsd:string"/>
          <xsd:element name="adjustmentNetMny" type="xsd:long"/>
          <xsd:element name="createdDtm" type="xsd:dateTime"/>
          <xsd:element name="disputePK" type="ecaDispute:DisputePK" minOccurs="0" nillable="true"/>
          <xsd:element name="adjustmentStatus" type="ecaAdjustment:AdjustmentStatus"/>
          <xsd:element name="budgetCentrePK" type="ecaBudgetCentre:BudgetCentrePK" minOccurs="0" nillable="true"/>
          <xsd:element name="billPK" type="ecaBill:BillPK" minOccurs="0" nillable="true"/>
          <xsd:element name="cpsId" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="genevaUserPK" type="ecaGenevaUser:GenevaUserPK"/>
          <xsd:element name="approvedDtm" type="xsd:dateTime" minOccurs="0" nillable="true"/>
          <xsd:element name="outcomeDesc" type="xsd:string" minOccurs="0" nillable="true"/>
          <xsd:element name="receivableClassPK" type="ecaConfig:ReceivableClassPK"/>
          <xsd:element name="adjustmentDebtMny" type="xsd:long" minOccurs="0" nillable="true"/>
          <xsd:element name="adjustmentTypeData" type="ecaAdjustment:AdjustmentTypeData_5_1" minOccurs="0" nillable="true"/>
          <xsd:element name="budgetCentreData" type="ecaBudgetCentre:BudgetCentreData_1" minOccurs="0" nillable="true"/>
          <xsd:element name="billData" type="ecaBill:BillData_7" minOccurs="0" nillable="true"/>
          <xsd:element name="cpSdata" type="ecaConfig:CPSData_6" minOccurs="0" nillable="true"/>
          <xsd:element name="genevaUserData" type="ecaGenevaUser:GenevaUserData_5_1" minOccurs="0" nillable="true"/>
          <xsd:element name="receivableClassData" type="ecaConfig:ReceivableClassData_1" minOccurs="0" nillable="true"/>
          <xsd:element name="hint" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="accountNum" type="xsd:string"/>
          <xsd:element name="adjustmentSeq" type="xsd:int"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="AdjustmentData_7">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="adjustmentDat" type="xsd:dateTime"/>
          <xsd:element name="adjustmentTypeId" type="xsd:int"/>
          <xsd:element name="adjustmentTxt" type="xsd:string"/>
          <xsd:element name="adjustmentNetMny" type="xsd:long"/>
          <xsd:element name="createdDtm" type="xsd:dateTime"/>
          <xsd:element name="disputePK" type="ecaDispute:DisputePK" minOccurs="0" nillable="true"/>
          <xsd:element name="adjustmentStatus" type="ecaAdjustment:AdjustmentStatus"/>
          <xsd:element name="budgetCentrePK" type="ecaBudgetCentre:BudgetCentrePK" minOccurs="0" nillable="true"/>
          <xsd:element name="billPK" type="ecaBill:BillPK" minOccurs="0" nillable="true"/>
          <xsd:element name="cpsId" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="genevaUserPK" type="ecaGenevaUser:GenevaUserPK"/>
          <xsd:element name="approvedDtm" type="xsd:dateTime" minOccurs="0" nillable="true"/>
          <xsd:element name="outcomeDesc" type="xsd:string" minOccurs="0" nillable="true"/>
          <xsd:element name="receivableClassPK" type="ecaConfig:ReceivableClassPK"/>
          <xsd:element name="adjustmentDebtMny" type="xsd:long" minOccurs="0" nillable="true"/>
          <xsd:element name="adjustmentTypeData" type="ecaAdjustment:AdjustmentTypeData_5_1" minOccurs="0" nillable="true"/>
          <xsd:element name="budgetCentreData" type="ecaBudgetCentre:BudgetCentreData_1" minOccurs="0" nillable="true"/>
          <xsd:element name="billData" type="ecaBill:BillData_7" minOccurs="0" nillable="true"/>
          <xsd:element name="cpSdata" type="ecaConfig:CPSData_6" minOccurs="0" nillable="true"/>
          <xsd:element name="genevaUserData" type="ecaGenevaUser:GenevaUserData_5_1" minOccurs="0" nillable="true"/>
          <xsd:element name="receivableClassData" type="ecaConfig:ReceivableClassData_3" minOccurs="0" nillable="true"/>
          <xsd:element name="hint" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="accountNum" type="xsd:string"/>
          <xsd:element name="adjustmentSeq" type="xsd:int"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="AdjustmentDataJoin_5_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="adjustmentTypeDataJoin" type="ecaAdjustment:AdjustmentTypeDataJoin_5_1" minOccurs="0" nillable="true"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="AdjustmentDataJoin_6">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="adjustmentTypeDataJoin" type="ecaAdjustment:AdjustmentTypeDataJoin_5_1" minOccurs="0" nillable="true"/>
          <xsd:element name="budgetCentreDataJoin" type="ecaBudgetCentre:BudgetCentreDataJoin_1" minOccurs="0" nillable="true"/>
          <xsd:element name="billDataJoin" type="ecaBill:BillDataJoin_7" minOccurs="0" nillable="true"/>
          <xsd:element name="cpsDataJoin" type="ecaConfig:CPSDataJoin_6" minOccurs="0" nillable="true"/>
          <xsd:element name="genevaUserDataJoin" type="ecaGenevaUser:GenevaUserDataJoin_5_1" minOccurs="0" nillable="true"/>
          <xsd:element name="receivableClassDataJoin" type="ecaConfig:ReceivableClassDataJoin_1" minOccurs="0" nillable="true"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="AdjustmentDataJoin_7">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="adjustmentTypeDataJoin" type="ecaAdjustment:AdjustmentTypeDataJoin_5_1" minOccurs="0" nillable="true"/>
          <xsd:element name="budgetCentreDataJoin" type="ecaBudgetCentre:BudgetCentreDataJoin_1" minOccurs="0" nillable="true"/>
          <xsd:element name="billDataJoin" type="ecaBill:BillDataJoin_7" minOccurs="0" nillable="true"/>
          <xsd:element name="cpsDataJoin" type="ecaConfig:CPSDataJoin_6" minOccurs="0" nillable="true"/>
          <xsd:element name="genevaUserDataJoin" type="ecaGenevaUser:GenevaUserDataJoin_5_1" minOccurs="0" nillable="true"/>
          <xsd:element name="receivableClassDataJoin" type="ecaConfig:ReceivableClassDataJoin_2" minOccurs="0" nillable="true"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="AdjustmentPK">
    <xsd:complexContent>
      <xsd:extension base="eca:PrimaryKey">
        <xsd:sequence>
          <xsd:element name="accountNum" type="xsd:string"/>
          <xsd:element name="adjustmentSeq" type="xsd:int"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="AdjustmentResult">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="adjustmentPK" type="ecaAdjustment:AdjustmentPK"/>
          <xsd:element name="billRequestPK" type="ecaBill:BillRequestPK" minOccurs="0" nillable="true"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="AdjustmentTypeAndReceivableClassData_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="adjustmentTypeData" type="ecaAdjustment:AdjustmentTypeData_5_1"/>
          <xsd:element name="receivableClassData" type="ecaConfig:ReceivableClassData_1"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="AdjustmentTypeData_5_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="adjustmentTypeId" type="xsd:int"/>
          <xsd:element name="adjustmentTypeName" type="xsd:string"/>
          <xsd:element name="adjustmentTypeDesc" type="xsd:string" minOccurs="0" nillable="true"/>
          <xsd:element name="revenueCodeId" type="xsd:int"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="AdjustmentTypeDataJoin_5_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ApproveAdjustmentInput_1">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="adjustmentPK" type="ecaAdjustment:AdjustmentPK"/>
          <xsd:element name="oldAdjustmentData" type="ecaAdjustment:ModifyAdjustmentData_1"/>
          <xsd:element name="newAdjustmentData" type="ecaAdjustment:ModifyAdjustmentData_1"/>
          <xsd:element name="requestCreditNote" type="xsd:boolean" minOccurs="0" nillable="true"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ApproveAdjustmentOutput_1">
        <xsd:sequence>
          <xsd:element name="result" type="ecaBill:BillRequestPK" minOccurs="0" nillable="true"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="CancelAdjustmentInput_1">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="adjustmentPK" type="ecaAdjustment:AdjustmentPK"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="CreateAdjustmentInput_1">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="accountPK" type="ecaAccount:AccountPK"/>
          <xsd:element name="adjustmentDat" type="xsd:dateTime"/>
          <xsd:element name="adjustmentTypeId" type="xsd:int"/>
          <xsd:element name="adjustmentText" type="xsd:string"/>
          <xsd:element name="adjustmentMny" type="xsd:long"/>
          <xsd:element name="budgetCentreSeq" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="requestCreditNote" type="xsd:boolean" minOccurs="0" nillable="true"/>
          <xsd:element name="createdDtm" type="xsd:dateTime" minOccurs="0" nillable="true"/>
          <xsd:element name="contractedPointOfSupplyId" type="xsd:int"/>
          <xsd:element name="adjustmentOutcome" type="xsd:string" minOccurs="0" nillable="true"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="CreateAdjustmentOutput_1">
        <xsd:sequence>
          <xsd:element name="result" type="ecaAdjustment:AdjustmentResult"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ModifyAdjustmentData_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="adjustmentDat" type="xsd:dateTime"/>
          <xsd:element name="adjustmentTypeId" type="xsd:int"/>
          <xsd:element name="budgetCentreSeq" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="adjustmentText" type="xsd:string"/>
          <xsd:element name="adjustmentMny" type="xsd:long"/>
          <xsd:element name="contractedPointOfSupplyId" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="adjustmentOutcome" type="xsd:string" minOccurs="0" nillable="true"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ModifyAdjustmentInput_1">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="adjustmentPK" type="ecaAdjustment:AdjustmentPK"/>
          <xsd:element name="oldAdjustmentData" type="ecaAdjustment:ModifyAdjustmentData_1"/>
          <xsd:element name="newAdjustmentData" type="ecaAdjustment:ModifyAdjustmentData_1"/>
          <xsd:element name="requestCreditNote" type="xsd:boolean" minOccurs="0" nillable="true"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ModifyAdjustmentOutput_1">
        <xsd:sequence>
          <xsd:element name="result" type="ecaBill:BillRequestPK" minOccurs="0" nillable="true"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryAdjustmentInput_1">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="adjustmentPK" type="ecaAdjustment:AdjustmentPK"/>
          <xsd:element name="adjustmentDataJoin" type="ecaAdjustment:AdjustmentDataJoin_6"/>
          <xsd:element name="languageId" type="xsd:int" minOccurs="0" nillable="true"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryAdjustmentOutput_1">
        <xsd:sequence>
          <xsd:element name="result" type="ecaAdjustment:AdjustmentData_6"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryAdjustmentTypeAndReceivableClassResult_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="dataSet" type="ecaAdjustment:ArrayOfAdjustmentTypeAndReceivableClassData_1" minOccurs="0" nillable="true"/>
          <xsd:element name="truncated" type="xsd:boolean"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="QueryAdjustmentTypesAndReceivableClassesInput_1">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="cpsId" type="xsd:int"/>
          <xsd:element name="invoicingCoId" type="xsd:int"/>
          <xsd:element name="whenDat" type="xsd:dateTime"/>
          <xsd:element name="maxRows" type="xsd:int"/>
          <xsd:element name="discardTruncated" type="xsd:boolean"/>
          <xsd:element name="lastAdjusmentTypeIdPK" type="ecaAdjustment:AdjustmentTypeData_5_1" minOccurs="0" nillable="true"/>
          <xsd:element name="languageId" type="xsd:int" minOccurs="0" nillable="true"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryAdjustmentTypesAndReceivableClassesOutput_1">
        <xsd:sequence>
          <xsd:element name="result" type="ecaAdjustment:QueryAdjustmentTypeAndReceivableClassResult_1"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryAllAdjustmentsForAccountInput_1">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="accountPK" type="ecaAccount:AccountPK"/>
          <xsd:element name="adjustmentDataJoin" type="ecaAdjustment:AdjustmentDataJoin_6"/>
          <xsd:element name="adjustmentStatusSet" type="ecaAdjustment:ArrayOfAdjustmentStatus" minOccurs="0" nillable="true"/>
          <xsd:element name="adjustmentTypeId" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="budgetCentrePK" type="ecaBudgetCentre:BudgetCentrePK" minOccurs="0" nillable="true"/>
          <xsd:element name="cpsId" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="maxRows" type="xsd:int"/>
          <xsd:element name="discardTruncated" type="xsd:boolean"/>
          <xsd:element name="lastAdjustmentPK" type="ecaAdjustment:AdjustmentPK" minOccurs="0" nillable="true"/>
          <xsd:element name="languageId" type="xsd:int" minOccurs="0" nillable="true"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryAllAdjustmentsForAccountInput_2">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="accountPK" type="ecaAccount:AccountPK"/>
          <xsd:element name="adjustmentDataJoin" type="ecaAdjustment:AdjustmentDataJoin_7"/>
          <xsd:element name="adjustmentStatusSet" type="ecaAdjustment:ArrayOfAdjustmentStatus" minOccurs="0" nillable="true"/>
          <xsd:element name="adjustmentTypeId" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="budgetCentrePK" type="ecaBudgetCentre:BudgetCentrePK" minOccurs="0" nillable="true"/>
          <xsd:element name="cpsId" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="maxRows" type="xsd:int"/>
          <xsd:element name="discardTruncated" type="xsd:boolean"/>
          <xsd:element name="lastAdjustmentPK" type="ecaAdjustment:AdjustmentPK" minOccurs="0" nillable="true"/>
          <xsd:element name="languageId" type="xsd:int" minOccurs="0" nillable="true"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryAllAdjustmentsForAccountOutput_1">
        <xsd:sequence>
          <xsd:element name="result" type="ecaAdjustment:QueryAllAdjustmentsForAccountResult_1"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryAllAdjustmentsForAccountOutput_2">
        <xsd:sequence>
          <xsd:element name="result" type="ecaAdjustment:QueryAllAdjustmentsForAccountResult_2"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryAllAdjustmentsForAccountResult_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element
            name="adjustmentDataArray"
            type="ecaAdjustment:AdjustmentData_6"
            minOccurs="0"
            maxOccurs="unbounded"
          />
          <xsd:element name="truncated" type="xsd:boolean"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="QueryAllAdjustmentsForAccountResult_2">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element
            name="adjustmentDataArray"
            type="ecaAdjustment:AdjustmentData_7"
            minOccurs="0"
            maxOccurs="unbounded"
          />
          <xsd:element name="truncated" type="xsd:boolean"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ReadAdjustmentTypeInput_5_1">
        <xsd:sequence>
          <xsd:element name="adjustmentTypeId" type="xsd:int"/>
          <xsd:element name="languageId" type="xsd:int" minOccurs="0" nillable="true"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ReadAdjustmentTypeOutput_5_1">
        <xsd:sequence>
          <xsd:element name="result" type="ecaAdjustment:AdjustmentTypeData_5_1"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ReadAllAdjustmentTypesInput_5_1">
        <xsd:sequence>
          <xsd:element name="languageId" type="xsd:int" minOccurs="0" nillable="true"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ReadAllAdjustmentTypesOutput_5_1">
        <xsd:sequence>
          <xsd:element
            name="result"
            type="ecaAdjustment:AdjustmentTypeData_5_1"
            minOccurs="0"
            maxOccurs="unbounded"
          />
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="RejectAdjustmentInput_1">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="adjustmentPK" type="ecaAdjustment:AdjustmentPK"/>
          <xsd:element name="adjustmentOutcomeDesc" type="xsd:string"/>
       </xsd:sequence>
  </xsd:complexType>



  <!-- Array Types -->
  <xsd:complexType name="ArrayOfAdjustmentStatus">
    <xsd:complexContent>
      <xsd:extension base="base:BaseStructure">
        <xsd:sequence>
          <xsd:element
            name="a"
            type="ecaAdjustment:AdjustmentStatus"
            minOccurs="0"
            maxOccurs="unbounded"
          />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ArrayOfAdjustmentTypeAndReceivableClassData_1">
    <xsd:complexContent>
      <xsd:extension base="base:BaseStructure">
        <xsd:sequence>
          <xsd:element
            name="a"
            type="ecaAdjustment:AdjustmentTypeAndReceivableClassData_1"
            minOccurs="0"
            maxOccurs="unbounded"
          />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>


</xsd:schema>

<!-- eof ECA_Adjustment.xsd -->
