Release2.21/ECA.CST/customeca-j2ee/schema/ECA/ECA_ControlPolicyInstance.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- XML Schema for type definitions of component ECA -->
<!-- service ControlPolicyInstance. -->

<xsd:schema
  targetNamespace="urn:Convergys-Interface-ECA-ControlPolicyInstance"
  xmlns="urn:Convergys-Interface-ECA-ControlPolicyInstance"
  xmlns:ecaControlPolicyInstance="urn:Convergys-Interface-ECA-ControlPolicyInstance"
  elementFormDefault="qualified"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:base="urn:Convergys-Interface-Base"
  xmlns:commonIML="urn:Convergys-Interface-CommonIML"
  xmlns:eca="urn:Convergys-Interface-ECA"
  xmlns:ecaAccount="urn:Convergys-Interface-ECA-Account"
  xmlns:ecaConfig="urn:Convergys-Interface-ECA-Config"
  xmlns:ecaEvent="urn:Convergys-Interface-ECA-Event"
>
  <!-- Imports -->
  <xsd:import
    namespace="urn:Convergys-Interface-Base"
    schemaLocation="../../schema/Base/Base.xsd"
  />

  <xsd:import
    namespace="urn:Convergys-Interface-CommonIML"
    schemaLocation="../../schema/CommonIML/CommonIML.xsd"
  />

  <xsd:import
    namespace="urn:Convergys-Interface-ECA"
    schemaLocation="../../schema/ECA/ECA.xsd"
  />

  <xsd:import
    namespace="urn:Convergys-Interface-ECA-Account"
    schemaLocation="../../schema/ECA/ECA_Account.xsd"
  />

  <xsd:import
    namespace="urn:Convergys-Interface-ECA-Config"
    schemaLocation="../../schema/ECA/ECA_Config.xsd"
  />

  <xsd:import
    namespace="urn:Convergys-Interface-ECA-Event"
    schemaLocation="../../schema/ECA/ECA_Event.xsd"
  />


  <!-- Enumeration Types -->
  <xsd:simpleType name="DayNumberOfWeek">
    <xsd:restriction base="xsd:int">
<!-- Enums are represented as int values in IML. The following list provides a mapping of
the different enum options supported by the server. Please note that the server might have
been upgraded to a more uptodate release and might support additional options. Some options
may also be deprecated.

       1 = Sunday
       2 = Monday
       3 = Tuesday
       4 = Wednesday
       5 = Thursday
       6 = Friday
       7 = Saturday

-->
    </xsd:restriction>
  </xsd:simpleType>


  <!-- Structure and Exception Types -->
  <xsd:complexType name="AccPolicyCounterPK">
    <xsd:complexContent>
      <xsd:extension base="eca:PrimaryKey">
        <xsd:sequence>
          <xsd:element name="accountNum" type="xsd:string"/>
          <xsd:element name="policyCounterSeq" type="xsd:int"/>
          <xsd:element name="policyId" type="xsd:int"/>
          <xsd:element name="periodNum" type="xsd:int"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="CreatePolicyDiaryForPolicyInstanceInput_1">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="policyInstancePK" type="ecaControlPolicyInstance:PolicyInstancePK"/>
          <xsd:element name="newPolicyDiaryData" type="ecaControlPolicyInstance:NewPolicyDiaryData_1"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="CreatePolicyDiaryForPolicyInstanceInput_2">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="policyInstancePK" type="ecaControlPolicyInstance:PolicyInstancePK"/>
          <xsd:element name="newPolicyDiaryData" type="ecaControlPolicyInstance:NewPolicyDiaryData_2"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="CreatePolicyInstanceActionThresholdInput_1">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="policyInstancePK" type="ecaControlPolicyInstance:PolicyInstancePK"/>
          <xsd:element name="newPolicyInstanceActionThresholdData" type="ecaControlPolicyInstance:NewPolicyInstanceActionThresholdData_1"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="CreatePolicyInstanceActionThresholdInput_2">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="policyInstancePK" type="ecaControlPolicyInstance:PolicyInstancePK"/>
          <xsd:element name="newPolicyInstanceActionThresholdData" type="ecaControlPolicyInstance:NewPolicyInstanceActionThresholdData_2"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="CreatePolicyInstanceForAccountSuperInput_1">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="accountPK" type="ecaAccount:AccountPK"/>
          <xsd:element name="newPolicyInstanceData" type="ecaControlPolicyInstance:NewPolicyInstanceData_1"/>
          <xsd:element name="newPolicyParamDataArray" type="ecaControlPolicyInstance:ArrayOfNewPolicyParamData_1" minOccurs="0" nillable="true"/>
          <xsd:element name="newPolicyDiaryDataArray" type="ecaControlPolicyInstance:ArrayOfNewPolicyDiaryData_1" minOccurs="0" nillable="true"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="CreatePolicyInstanceForAccountSuperInput_2">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="accountPK" type="ecaAccount:AccountPK"/>
          <xsd:element name="newPolicyInstanceData" type="ecaControlPolicyInstance:NewPolicyInstanceData_1"/>
          <xsd:element name="newPolicyParamDataArray" type="ecaControlPolicyInstance:ArrayOfNewPolicyParamData_1" minOccurs="0" nillable="true"/>
          <xsd:element name="newPolicyDiaryDataArray" type="ecaControlPolicyInstance:ArrayOfNewPolicyDiaryData_2" minOccurs="0" nillable="true"/>
          <xsd:element name="newPolicyInstanceActionThresholdDataArray" type="ecaControlPolicyInstance:ArrayOfNewPolicyInstanceActionThresholdData_1" minOccurs="0" nillable="true"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="CreatePolicyInstanceForAccountSuperInput_3">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="accountPK" type="ecaAccount:AccountPK"/>
          <xsd:element name="newPolicyInstanceData" type="ecaControlPolicyInstance:NewPolicyInstanceData_1"/>
          <xsd:element name="newPolicyParamDataArray" type="ecaControlPolicyInstance:ArrayOfNewPolicyParamData_1" minOccurs="0" nillable="true"/>
          <xsd:element name="newPolicyDiaryDataArray" type="ecaControlPolicyInstance:ArrayOfNewPolicyDiaryData_2" minOccurs="0" nillable="true"/>
          <xsd:element name="newPolicyInstanceActionThresholdDataArray" type="ecaControlPolicyInstance:ArrayOfNewPolicyInstanceActionThresholdData_2" minOccurs="0" nillable="true"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="CreatePolicyInstanceForAccountSuperOutput_1">
        <xsd:sequence>
          <xsd:element name="policyInstancePK" type="ecaControlPolicyInstance:PolicyInstancePK"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="CreatePolicyInstanceForAccountSuperOutput_2">
        <xsd:sequence>
          <xsd:element name="policyInstancePK" type="ecaControlPolicyInstance:PolicyInstancePK"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="CreatePolicyInstanceForAccountSuperOutput_3">
        <xsd:sequence>
          <xsd:element name="policyInstancePK" type="ecaControlPolicyInstance:PolicyInstancePK"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="DeletePolicyDiaryForPolicyInstanceInput_1">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="policyInstanceDiaryPK" type="ecaControlPolicyInstance:PolicyInstanceDiaryPK"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="DeletePolicyInstanceActionThresholdInput_1">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="policyInstanceActionThresholdPK" type="ecaControlPolicyInstance:PolicyInstanceActionThresholdPK"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="DeletePolicyInstanceInput_1">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="policyInstancePK" type="ecaControlPolicyInstance:PolicyInstancePK"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="MaintainParamValuesForPolicyInstanceSuperInput_1">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="policyInstancePK" type="ecaControlPolicyInstance:PolicyInstancePK"/>
          <xsd:element name="predicateAttributePK" type="ecaControlPolicyInstance:PredicateAttributePK"/>
          <xsd:element name="policyParamMaintenanceDataArray" type="ecaControlPolicyInstance:ArrayOfPolicyParamMaintenanceData_1" minOccurs="0" nillable="true"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ModifyPolicyDiaryForPolicyInstanceInput_1">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="policyInstancePK" type="ecaControlPolicyInstance:PolicyInstancePK"/>
          <xsd:element name="oldPolicyDiaryData" type="ecaControlPolicyInstance:NewPolicyDiaryData_2"/>
          <xsd:element name="newPolicyDiaryData" type="ecaControlPolicyInstance:NewPolicyDiaryData_2"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ModifyPolicyInstanceActionThresholdInput_1">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="policyInstanceActionThresholdPK" type="ecaControlPolicyInstance:PolicyInstanceActionThresholdPK"/>
          <xsd:element name="oldPolicyInstanceActionThresholdData" type="ecaControlPolicyInstance:PolicyInstanceActionThresholdData_1"/>
          <xsd:element name="newPolicyInstanceActionThresholdData" type="ecaControlPolicyInstance:PolicyInstanceActionThresholdData_1"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ModifyPolicyInstanceActionThresholdInput_2">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="policyInstanceActionThresholdPK" type="ecaControlPolicyInstance:PolicyInstanceActionThresholdPK"/>
          <xsd:element name="oldPolicyInstanceActionThresholdData" type="ecaControlPolicyInstance:PolicyInstanceActionThresholdData_2"/>
          <xsd:element name="newPolicyInstanceActionThresholdData" type="ecaControlPolicyInstance:PolicyInstanceActionThresholdData_2"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ModifyPolicyInstanceData_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="policyInstanceName" type="xsd:string"/>
          <xsd:element name="startDtm" type="xsd:dateTime"/>
          <xsd:element name="endDtm" type="xsd:dateTime" minOccurs="0" nillable="true"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ModifyPolicyInstanceInput_1">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="policyInstancePK" type="ecaControlPolicyInstance:PolicyInstancePK"/>
          <xsd:element name="oldPolicyInstanceData" type="ecaControlPolicyInstance:ModifyPolicyInstanceData_1"/>
          <xsd:element name="newPolicyInstanceData" type="ecaControlPolicyInstance:ModifyPolicyInstanceData_1"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="NewPolicyDiaryData_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="startDay" type="ecaControlPolicyInstance:DayNumberOfWeek"/>
          <xsd:element name="startDtm" type="xsd:dateTime"/>
          <xsd:element name="endDtm" type="xsd:dateTime" minOccurs="0" nillable="true"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="NewPolicyDiaryData_2">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="startDay" type="ecaControlPolicyInstance:DayNumberOfWeek"/>
          <xsd:element name="startDtm" type="xsd:dateTime"/>
          <xsd:element name="endDtm" type="xsd:dateTime"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="NewPolicyInstanceActionThresholdData_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="policyActionSeq" type="xsd:int"/>
          <xsd:element name="actionDisableBoo" type="xsd:boolean" minOccurs="0" nillable="true"/>
          <xsd:element name="policyThresholdValue" type="xsd:int" minOccurs="0" nillable="true"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="NewPolicyInstanceActionThresholdData_2">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="policyActionSeq" type="xsd:int"/>
          <xsd:element name="actionDisableBoo" type="xsd:boolean" minOccurs="0" nillable="true"/>
          <xsd:element name="policyThresholdValue" type="xsd:long" minOccurs="0" nillable="true"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="NewPolicyInstanceData_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="policyInstanceName" type="xsd:string"/>
          <xsd:element name="startDtm" type="xsd:dateTime"/>
          <xsd:element name="eventSource" type="xsd:string" minOccurs="0" nillable="true"/>
          <xsd:element name="eventTypeId" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="endDtm" type="xsd:dateTime" minOccurs="0" nillable="true"/>
          <xsd:element name="policyId" type="xsd:int"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="NewPolicyParamData_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="operandValue" type="xsd:string"/>
          <xsd:element name="predicateAttributeId" type="xsd:int"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="PolicyActionLogData_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="domainId" type="xsd:int"/>
          <xsd:element name="eventDtm" type="xsd:dateTime"/>
          <xsd:element name="createdDtm" type="xsd:dateTime"/>
          <xsd:element name="eventRef" type="xsd:string" minOccurs="0" nillable="true"/>
          <xsd:element name="policySeq" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="eventTypeId" type="xsd:int"/>
          <xsd:element name="eventSource" type="xsd:string"/>
          <xsd:element name="eventRequestTypeId" type="xsd:int"/>
          <xsd:element name="hint" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="accountNum" type="xsd:string"/>
          <xsd:element name="policyLogSeq" type="xsd:int"/>
          <xsd:element name="policyId" type="xsd:int"/>
          <xsd:element name="policyActionSeq" type="xsd:int"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="PolicyActionLogPK">
    <xsd:complexContent>
      <xsd:extension base="eca:PrimaryKey">
        <xsd:sequence>
          <xsd:element name="accountNum" type="xsd:string"/>
          <xsd:element name="policyLogSeq" type="xsd:int"/>
          <xsd:element name="policyId" type="xsd:int"/>
          <xsd:element name="policyActionSeq" type="xsd:int"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="PolicyCounterData_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="domainId" type="xsd:int"/>
          <xsd:element name="eventSeq" type="xsd:int"/>
          <xsd:element name="eventSource" type="xsd:string" minOccurs="0" nillable="true"/>
          <xsd:element name="eventTypeId" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="policySeq" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="policyAuthUsage" type="xsd:long"/>
          <xsd:element name="policyPartialUsage" type="xsd:long"/>
          <xsd:element name="policyTermUsage" type="xsd:long"/>
          <xsd:element name="hint" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="accountNum" type="xsd:string"/>
          <xsd:element name="policyCounterSeq" type="xsd:int"/>
          <xsd:element name="policyId" type="xsd:int"/>
          <xsd:element name="periodNum" type="xsd:int"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="PolicyCounterData_2">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="domainId" type="xsd:int"/>
          <xsd:element name="eventSeq" type="xsd:int"/>
          <xsd:element name="eventSource" type="xsd:string" minOccurs="0" nillable="true"/>
          <xsd:element name="eventTypeId" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="policySeq" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="policyAuthUsage" type="xsd:long"/>
          <xsd:element name="policyPartialUsage" type="xsd:long"/>
          <xsd:element name="policyTermUsage" type="xsd:long"/>
          <xsd:element name="scalarThresholdValue" type="xsd:long"/>
          <xsd:element name="hint" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="accountNum" type="xsd:string"/>
          <xsd:element name="policyCounterSeq" type="xsd:int"/>
          <xsd:element name="policyId" type="xsd:int"/>
          <xsd:element name="periodNum" type="xsd:int"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="PolicyCounterData_3">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="domainId" type="xsd:int"/>
          <xsd:element name="eventSeq" type="xsd:int"/>
          <xsd:element name="eventSource" type="xsd:string" minOccurs="0" nillable="true"/>
          <xsd:element name="eventTypeId" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="policySeq" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="policyAuthUsage" type="xsd:long"/>
          <xsd:element name="policyPartialUsage" type="xsd:long"/>
          <xsd:element name="policyTermUsage" type="xsd:long"/>
          <xsd:element name="scalarThresholdValue" type="xsd:long" minOccurs="0" nillable="true"/>
          <xsd:element name="summationPeriodNum" type="xsd:int"/>
          <xsd:element name="hint" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="accountNum" type="xsd:string"/>
          <xsd:element name="policyCounterSeq" type="xsd:int"/>
          <xsd:element name="policyId" type="xsd:int"/>
          <xsd:element name="periodNum" type="xsd:int"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="PolicyInstanceActionThresholdData_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="actionDisableBoo" type="xsd:boolean" minOccurs="0" nillable="true"/>
          <xsd:element name="policyThresholdValue" type="xsd:int" minOccurs="0" nillable="true"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="PolicyInstanceActionThresholdData_2">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="actionDisableBoo" type="xsd:boolean" minOccurs="0" nillable="true"/>
          <xsd:element name="policyThresholdValue" type="xsd:long" minOccurs="0" nillable="true"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="PolicyInstanceActionThresholdPK">
    <xsd:complexContent>
      <xsd:extension base="eca:PrimaryKey">
        <xsd:sequence>
          <xsd:element name="accountNum" type="xsd:string"/>
          <xsd:element name="policySeq" type="xsd:int"/>
          <xsd:element name="policyActionSeq" type="xsd:int"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="PolicyInstanceData_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="policyId" type="xsd:int"/>
          <xsd:element name="policyInstanceName" type="xsd:string"/>
          <xsd:element name="domainId" type="xsd:int"/>
          <xsd:element name="startDtm" type="xsd:dateTime"/>
          <xsd:element name="eventSource" type="xsd:string" minOccurs="0" nillable="true"/>
          <xsd:element name="eventTypeId" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="endDtm" type="xsd:dateTime" minOccurs="0" nillable="true"/>
          <xsd:element name="servicePolicyControlData" type="ecaConfig:ServicePolicyControlData_1" minOccurs="0" nillable="true"/>
          <xsd:element name="eventTypeData" type="ecaEvent:EventTypeData_6" minOccurs="0" nillable="true"/>
          <xsd:element name="hint" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="accountNum" type="xsd:string"/>
          <xsd:element name="policySeq" type="xsd:int"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="PolicyInstanceData_2">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="policyId" type="xsd:int"/>
          <xsd:element name="policyInstanceName" type="xsd:string"/>
          <xsd:element name="domainId" type="xsd:int"/>
          <xsd:element name="startDtm" type="xsd:dateTime"/>
          <xsd:element name="eventSource" type="xsd:string" minOccurs="0" nillable="true"/>
          <xsd:element name="eventTypeId" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="endDtm" type="xsd:dateTime" minOccurs="0" nillable="true"/>
          <xsd:element name="dairyOverriddenBoo" type="xsd:boolean" minOccurs="0" nillable="true"/>
          <xsd:element name="servicePolicyControlData" type="ecaConfig:ServicePolicyControlData_2" minOccurs="0" nillable="true"/>
          <xsd:element name="eventTypeData" type="ecaEvent:EventTypeData_6" minOccurs="0" nillable="true"/>
          <xsd:element name="hint" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="accountNum" type="xsd:string"/>
          <xsd:element name="policySeq" type="xsd:int"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="PolicyInstanceData_3">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="policyId" type="xsd:int"/>
          <xsd:element name="policyInstanceName" type="xsd:string"/>
          <xsd:element name="domainId" type="xsd:int"/>
          <xsd:element name="startDtm" type="xsd:dateTime"/>
          <xsd:element name="eventSource" type="xsd:string" minOccurs="0" nillable="true"/>
          <xsd:element name="eventTypeId" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="endDtm" type="xsd:dateTime" minOccurs="0" nillable="true"/>
          <xsd:element name="dairyOverriddenBoo" type="xsd:boolean" minOccurs="0" nillable="true"/>
          <xsd:element name="servicePolicyControlData" type="ecaConfig:ServicePolicyControlData_3" minOccurs="0" nillable="true"/>
          <xsd:element name="eventTypeData" type="ecaEvent:EventTypeData_6" minOccurs="0" nillable="true"/>
          <xsd:element name="hint" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="accountNum" type="xsd:string"/>
          <xsd:element name="policySeq" type="xsd:int"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="PolicyInstanceData_4">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="policyId" type="xsd:int"/>
          <xsd:element name="policyInstanceName" type="xsd:string"/>
          <xsd:element name="domainId" type="xsd:int"/>
          <xsd:element name="startDtm" type="xsd:dateTime"/>
          <xsd:element name="eventSource" type="xsd:string" minOccurs="0" nillable="true"/>
          <xsd:element name="eventTypeId" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="endDtm" type="xsd:dateTime" minOccurs="0" nillable="true"/>
          <xsd:element name="diaryOverriddenBoo" type="xsd:boolean" minOccurs="0" nillable="true"/>
          <xsd:element name="actionOverriddenBoo" type="xsd:boolean" minOccurs="0" nillable="true"/>
          <xsd:element name="servicePolicyControlData" type="ecaConfig:ServicePolicyControlData_4" minOccurs="0" nillable="true"/>
          <xsd:element name="eventTypeData" type="ecaEvent:EventTypeData_6" minOccurs="0" nillable="true"/>
          <xsd:element name="hint" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="accountNum" type="xsd:string"/>
          <xsd:element name="policySeq" type="xsd:int"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="PolicyInstanceDataJoin_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="servicePolicyControlDataJoin" type="ecaConfig:ServicePolicyControlDataJoin_1" minOccurs="0" nillable="true"/>
          <xsd:element name="eventTypeDataJoin" type="ecaEvent:EventTypeDataJoin_6" minOccurs="0" nillable="true"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="PolicyInstanceDataJoin_2">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="servicePolicyControlDataJoin" type="ecaConfig:ServicePolicyControlDataJoin_2" minOccurs="0" nillable="true"/>
          <xsd:element name="eventTypeDataJoin" type="ecaEvent:EventTypeDataJoin_6" minOccurs="0" nillable="true"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="PolicyInstanceDataJoin_3">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="servicePolicyControlDataJoin" type="ecaConfig:ServicePolicyControlDataJoin_3" minOccurs="0" nillable="true"/>
          <xsd:element name="eventTypeDataJoin" type="ecaEvent:EventTypeDataJoin_6" minOccurs="0" nillable="true"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="PolicyInstanceDataJoin_4">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="servicePolicyControlDataJoin" type="ecaConfig:ServicePolicyControlDataJoin_4" minOccurs="0" nillable="true"/>
          <xsd:element name="eventTypeDataJoin" type="ecaEvent:EventTypeDataJoin_6" minOccurs="0" nillable="true"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="PolicyInstanceDiaryData_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="domainId" type="xsd:int"/>
          <xsd:element name="endDtm" type="xsd:dateTime" minOccurs="0" nillable="true"/>
          <xsd:element name="hint" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="accountNum" type="xsd:string"/>
          <xsd:element name="policySeq" type="xsd:int"/>
          <xsd:element name="startDay" type="ecaControlPolicyInstance:DayNumberOfWeek"/>
          <xsd:element name="startDtm" type="xsd:dateTime"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="PolicyInstanceDiaryData_2">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="domainId" type="xsd:int"/>
          <xsd:element name="endDtm" type="xsd:dateTime"/>
          <xsd:element name="hint" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="accountNum" type="xsd:string"/>
          <xsd:element name="policySeq" type="xsd:int"/>
          <xsd:element name="startDay" type="ecaControlPolicyInstance:DayNumberOfWeek"/>
          <xsd:element name="startDtm" type="xsd:dateTime"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="PolicyInstanceDiaryPK">
    <xsd:complexContent>
      <xsd:extension base="eca:PrimaryKey">
        <xsd:sequence>
          <xsd:element name="accountNum" type="xsd:string"/>
          <xsd:element name="policySeq" type="xsd:int"/>
          <xsd:element name="startDay" type="ecaControlPolicyInstance:DayNumberOfWeek"/>
          <xsd:element name="startDtm" type="xsd:dateTime"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="PolicyInstancePK">
    <xsd:complexContent>
      <xsd:extension base="eca:PrimaryKey">
        <xsd:sequence>
          <xsd:element name="accountNum" type="xsd:string"/>
          <xsd:element name="policySeq" type="xsd:int"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="PolicyInstanceParamData_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="operandValue" type="xsd:string"/>
          <xsd:element name="domainId" type="xsd:int"/>
          <xsd:element name="hint" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="accountNum" type="xsd:string"/>
          <xsd:element name="policySeq" type="xsd:int"/>
          <xsd:element name="predicateAttributeId" type="xsd:int"/>
          <xsd:element name="valueSeq" type="xsd:int"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="PolicyInstanceParamPK">
    <xsd:complexContent>
      <xsd:extension base="eca:PrimaryKey">
        <xsd:sequence>
          <xsd:element name="accountNum" type="xsd:string"/>
          <xsd:element name="policySeq" type="xsd:int"/>
          <xsd:element name="predicateAttributeId" type="xsd:int"/>
          <xsd:element name="valueSeq" type="xsd:int"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="PolicyInstanceSearchFields_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="accountPK" type="ecaAccount:AccountPK"/>
          <xsd:element name="eventSource" type="xsd:string" minOccurs="0" nillable="true"/>
          <xsd:element name="eventType" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="queryDtmRange" type="eca:QueryTimeframe_1" minOccurs="0" nillable="true"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="PolicyInstanceThresholdData_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="domainId" type="xsd:int"/>
          <xsd:element name="policyInstanceActionThresholdData" type="ecaControlPolicyInstance:PolicyInstanceActionThresholdData_1" minOccurs="0" nillable="true"/>
          <xsd:element name="hint" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="accountNum" type="xsd:string"/>
          <xsd:element name="policySeq" type="xsd:int"/>
          <xsd:element name="policyActionSeq" type="xsd:int"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="PolicyInstanceThresholdData_2">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="domainId" type="xsd:int"/>
          <xsd:element name="policyInstanceActionThresholdData" type="ecaControlPolicyInstance:PolicyInstanceActionThresholdData_2" minOccurs="0" nillable="true"/>
          <xsd:element name="hint" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="accountNum" type="xsd:string"/>
          <xsd:element name="policySeq" type="xsd:int"/>
          <xsd:element name="policyActionSeq" type="xsd:int"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="PolicyParamMaintenanceData_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="oldOperandValue" type="xsd:string" minOccurs="0" nillable="true"/>
          <xsd:element name="newOperandValue" type="xsd:string" minOccurs="0" nillable="true"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="PredicateAttributePK">
    <xsd:complexContent>
      <xsd:extension base="eca:SimplePrimaryKey">
        <xsd:sequence>
          <xsd:element name="predicateAttributeId" type="xsd:int"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="QueryAllPolicyInstancesForAccountInput_1">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="searchFields" type="ecaControlPolicyInstance:PolicyInstanceSearchFields_1"/>
          <xsd:element name="policyInstanceDataJoin" type="ecaControlPolicyInstance:PolicyInstanceDataJoin_1"/>
          <xsd:element name="maxRows" type="xsd:int"/>
          <xsd:element name="discardTruncatedBoo" type="xsd:boolean"/>
          <xsd:element name="lastPolicyInstancePK" type="ecaControlPolicyInstance:PolicyInstancePK" minOccurs="0" nillable="true"/>
          <xsd:element name="languageId" type="xsd:int" minOccurs="0" nillable="true"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryAllPolicyInstancesForAccountInput_2">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="searchFields" type="ecaControlPolicyInstance:PolicyInstanceSearchFields_1"/>
          <xsd:element name="policyInstanceDataJoin" type="ecaControlPolicyInstance:PolicyInstanceDataJoin_2"/>
          <xsd:element name="maxRows" type="xsd:int"/>
          <xsd:element name="discardTruncatedBoo" type="xsd:boolean"/>
          <xsd:element name="lastPolicyInstancePK" type="ecaControlPolicyInstance:PolicyInstancePK" minOccurs="0" nillable="true"/>
          <xsd:element name="languageId" type="xsd:int" minOccurs="0" nillable="true"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryAllPolicyInstancesForAccountInput_3">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="searchFields" type="ecaControlPolicyInstance:PolicyInstanceSearchFields_1"/>
          <xsd:element name="policyInstanceDataJoin" type="ecaControlPolicyInstance:PolicyInstanceDataJoin_3"/>
          <xsd:element name="maxRows" type="xsd:int"/>
          <xsd:element name="discardTruncatedBoo" type="xsd:boolean"/>
          <xsd:element name="lastPolicyInstancePK" type="ecaControlPolicyInstance:PolicyInstancePK" minOccurs="0" nillable="true"/>
          <xsd:element name="languageId" type="xsd:int" minOccurs="0" nillable="true"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryAllPolicyInstancesForAccountInput_4">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="searchFields" type="ecaControlPolicyInstance:PolicyInstanceSearchFields_1"/>
          <xsd:element name="policyInstanceDataJoin" type="ecaControlPolicyInstance:PolicyInstanceDataJoin_4"/>
          <xsd:element name="maxRows" type="xsd:int"/>
          <xsd:element name="discardTruncatedBoo" type="xsd:boolean"/>
          <xsd:element name="lastPolicyInstancePK" type="ecaControlPolicyInstance:PolicyInstancePK" minOccurs="0" nillable="true"/>
          <xsd:element name="languageId" type="xsd:int" minOccurs="0" nillable="true"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryAllPolicyInstancesForAccountOutput_1">
        <xsd:sequence>
          <xsd:element name="queryAllPolicyInstancesForAccountResult" type="ecaControlPolicyInstance:QueryAllPolicyInstancesForAccountResult_1"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryAllPolicyInstancesForAccountOutput_2">
        <xsd:sequence>
          <xsd:element name="queryAllPolicyInstancesForAccountResult" type="ecaControlPolicyInstance:QueryAllPolicyInstancesForAccountResult_2"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryAllPolicyInstancesForAccountOutput_3">
        <xsd:sequence>
          <xsd:element name="queryAllPolicyInstancesForAccountResult" type="ecaControlPolicyInstance:QueryAllPolicyInstancesForAccountResult_3"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryAllPolicyInstancesForAccountOutput_4">
        <xsd:sequence>
          <xsd:element name="queryAllPolicyInstancesForAccountResult" type="ecaControlPolicyInstance:QueryAllPolicyInstancesForAccountResult_4"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryAllPolicyInstancesForAccountResult_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="policyInstanceDataArray" type="ecaControlPolicyInstance:ArrayOfPolicyInstanceData_1" minOccurs="0" nillable="true"/>
          <xsd:element name="truncated" type="xsd:boolean"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="QueryAllPolicyInstancesForAccountResult_2">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="policyInstanceDataArray" type="ecaControlPolicyInstance:ArrayOfPolicyInstanceData_2" minOccurs="0" nillable="true"/>
          <xsd:element name="truncated" type="xsd:boolean"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="QueryAllPolicyInstancesForAccountResult_3">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="policyInstanceDataArray" type="ecaControlPolicyInstance:ArrayOfPolicyInstanceData_3" minOccurs="0" nillable="true"/>
          <xsd:element name="truncated" type="xsd:boolean"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="QueryAllPolicyInstancesForAccountResult_4">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="policyInstanceDataArray" type="ecaControlPolicyInstance:ArrayOfPolicyInstanceData_4" minOccurs="0" nillable="true"/>
          <xsd:element name="truncated" type="xsd:boolean"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="QueryPolicyActionLogsForAccountInput_1">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="accountPK" type="ecaAccount:AccountPK"/>
          <xsd:element name="policyLogSeq" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="policyId" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="eventTypeId" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="eventSource" type="xsd:string" minOccurs="0" nillable="true"/>
          <xsd:element name="policyInstance" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="maxRows" type="xsd:int"/>
          <xsd:element name="discardTruncated" type="xsd:boolean"/>
          <xsd:element name="lastPolicyActionLogPK" type="ecaControlPolicyInstance:PolicyActionLogPK" minOccurs="0" nillable="true"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryPolicyActionLogsForAccountOutput_1">
        <xsd:sequence>
          <xsd:element name="queryPolicyActionLogResult" type="ecaControlPolicyInstance:QueryPolicyActionLogsForAccountResult_1"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryPolicyActionLogsForAccountResult_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="policyActionLogDataArray" type="ecaControlPolicyInstance:ArrayOfPolicyActionLogData_1" minOccurs="0" nillable="true"/>
          <xsd:element name="truncated" type="xsd:boolean"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="QueryPolicyCountersForAccountInput_1">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="accountPK" type="ecaAccount:AccountPK"/>
          <xsd:element name="policyId" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="policyCounterSeq" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="periodNum" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="eventSource" type="xsd:string" minOccurs="0" nillable="true"/>
          <xsd:element name="eventTypeId" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="maxRows" type="xsd:int"/>
          <xsd:element name="discardTruncatedBoo" type="xsd:boolean"/>
          <xsd:element name="lastPolicyCounterPK" type="ecaControlPolicyInstance:AccPolicyCounterPK" minOccurs="0" nillable="true"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryPolicyCountersForAccountInput_2">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="accountPK" type="ecaAccount:AccountPK"/>
          <xsd:element name="policyId" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="policyCounterSeq" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="periodNum" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="eventSource" type="xsd:string" minOccurs="0" nillable="true"/>
          <xsd:element name="eventTypeId" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="maxRows" type="xsd:int"/>
          <xsd:element name="discardTruncatedBoo" type="xsd:boolean"/>
          <xsd:element name="lastPolicyCounterPK" type="ecaControlPolicyInstance:AccPolicyCounterPK" minOccurs="0" nillable="true"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryPolicyCountersForAccountInput_3">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="accountPK" type="ecaAccount:AccountPK"/>
          <xsd:element name="policyId" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="policyCounterSeq" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="periodNum" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="eventSource" type="xsd:string" minOccurs="0" nillable="true"/>
          <xsd:element name="eventTypeId" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="maxRows" type="xsd:int"/>
          <xsd:element name="discardTruncatedBoo" type="xsd:boolean"/>
          <xsd:element name="lastPolicyCounterPK" type="ecaControlPolicyInstance:AccPolicyCounterPK" minOccurs="0" nillable="true"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryPolicyCountersForAccountOutput_1">
        <xsd:sequence>
          <xsd:element name="result" type="ecaControlPolicyInstance:QueryPolicyCountersForAccountResult_1"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryPolicyCountersForAccountOutput_2">
        <xsd:sequence>
          <xsd:element name="result" type="ecaControlPolicyInstance:QueryPolicyCountersForAccountResult_2"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryPolicyCountersForAccountOutput_3">
        <xsd:sequence>
          <xsd:element name="result" type="ecaControlPolicyInstance:QueryPolicyCountersForAccountResult_3"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryPolicyCountersForAccountResult_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="policyCounterDataArray" type="ecaControlPolicyInstance:ArrayOfPolicyCounterData_1" minOccurs="0" nillable="true"/>
          <xsd:element name="truncated" type="xsd:boolean"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="QueryPolicyCountersForAccountResult_2">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="policyCounterDataArray" type="ecaControlPolicyInstance:ArrayOfPolicyCounterData_2" minOccurs="0" nillable="true"/>
          <xsd:element name="truncated" type="xsd:boolean"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="QueryPolicyCountersForAccountResult_3">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="policyCounterDataArray" type="ecaControlPolicyInstance:ArrayOfPolicyCounterData_3" minOccurs="0" nillable="true"/>
          <xsd:element name="truncated" type="xsd:boolean"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="QueryPolicyInstanceInput_1">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="policyInstanceDataJoin" type="ecaControlPolicyInstance:PolicyInstanceDataJoin_1"/>
          <xsd:element name="policyInstancePK" type="ecaControlPolicyInstance:PolicyInstancePK"/>
          <xsd:element name="languageId" type="xsd:int" minOccurs="0" nillable="true"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryPolicyInstanceInput_2">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="policyInstanceDataJoin" type="ecaControlPolicyInstance:PolicyInstanceDataJoin_2"/>
          <xsd:element name="policyInstancePK" type="ecaControlPolicyInstance:PolicyInstancePK"/>
          <xsd:element name="languageId" type="xsd:int" minOccurs="0" nillable="true"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryPolicyInstanceInput_3">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="policyInstanceDataJoin" type="ecaControlPolicyInstance:PolicyInstanceDataJoin_3"/>
          <xsd:element name="policyInstancePK" type="ecaControlPolicyInstance:PolicyInstancePK"/>
          <xsd:element name="languageId" type="xsd:int" minOccurs="0" nillable="true"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryPolicyInstanceInput_4">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="policyInstanceDataJoin" type="ecaControlPolicyInstance:PolicyInstanceDataJoin_4"/>
          <xsd:element name="policyInstancePK" type="ecaControlPolicyInstance:PolicyInstancePK"/>
          <xsd:element name="languageId" type="xsd:int" minOccurs="0" nillable="true"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryPolicyInstanceInput_5">
        <xsd:sequence>
          <xsd:element name="integratorContext" type="commonIML:IntegratorContext_1" minOccurs="0" nillable="true"/>
          <xsd:element name="policyInstanceDataJoin" type="ecaControlPolicyInstance:PolicyInstanceDataJoin_4"/>
          <xsd:element name="policyInstancePK" type="ecaControlPolicyInstance:PolicyInstancePK"/>
          <xsd:element name="languageId" type="xsd:int" minOccurs="0" nillable="true"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryPolicyInstanceOutput_1">
        <xsd:sequence>
          <xsd:element name="queryPolicyInstanceResult" type="ecaControlPolicyInstance:QueryPolicyInstanceResult_1"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryPolicyInstanceOutput_2">
        <xsd:sequence>
          <xsd:element name="queryPolicyInstanceResult" type="ecaControlPolicyInstance:QueryPolicyInstanceResult_2"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryPolicyInstanceOutput_3">
        <xsd:sequence>
          <xsd:element name="queryPolicyInstanceResult" type="ecaControlPolicyInstance:QueryPolicyInstanceResult_3"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryPolicyInstanceOutput_4">
        <xsd:sequence>
          <xsd:element name="queryPolicyInstanceResult" type="ecaControlPolicyInstance:QueryPolicyInstanceResult_4"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryPolicyInstanceOutput_5">
        <xsd:sequence>
          <xsd:element name="queryPolicyInstanceResult" type="ecaControlPolicyInstance:QueryPolicyInstanceResult_5"/>
       </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryPolicyInstanceResult_1">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="policyInstanceData" type="ecaControlPolicyInstance:PolicyInstanceData_1"/>
          <xsd:element name="policyInstanceParamDataArray" type="ecaControlPolicyInstance:ArrayOfPolicyInstanceParamData_1" minOccurs="0" nillable="true"/>
          <xsd:element name="policyInstanceDiaryDataArray" type="ecaControlPolicyInstance:ArrayOfPolicyInstanceDiaryData_1" minOccurs="0" nillable="true"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="QueryPolicyInstanceResult_2">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="policyInstanceData" type="ecaControlPolicyInstance:PolicyInstanceData_2"/>
          <xsd:element name="policyInstanceParamDataArray" type="ecaControlPolicyInstance:ArrayOfPolicyInstanceParamData_1" minOccurs="0" nillable="true"/>
          <xsd:element name="policyInstanceDiaryDataArray" type="ecaControlPolicyInstance:ArrayOfPolicyInstanceDiaryData_2" minOccurs="0" nillable="true"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="QueryPolicyInstanceResult_3">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="policyInstanceData" type="ecaControlPolicyInstance:PolicyInstanceData_3"/>
          <xsd:element name="policyInstanceParamDataArray" type="ecaControlPolicyInstance:ArrayOfPolicyInstanceParamData_1" minOccurs="0" nillable="true"/>
          <xsd:element name="policyInstanceDiaryDataArray" type="ecaControlPolicyInstance:ArrayOfPolicyInstanceDiaryData_2" minOccurs="0" nillable="true"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="QueryPolicyInstanceResult_4">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="policyInstanceData" type="ecaControlPolicyInstance:PolicyInstanceData_4"/>
          <xsd:element name="policyInstanceParamDataArray" type="ecaControlPolicyInstance:ArrayOfPolicyInstanceParamData_1" minOccurs="0" nillable="true"/>
          <xsd:element name="policyInstanceDiaryDataArray" type="ecaControlPolicyInstance:ArrayOfPolicyInstanceDiaryData_2" minOccurs="0" nillable="true"/>
          <xsd:element name="policyInstanceThresholdDataArray" type="ecaControlPolicyInstance:ArrayOfPolicyInstanceThresholdData_1" minOccurs="0" nillable="true"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="QueryPolicyInstanceResult_5">
    <xsd:complexContent>
      <xsd:extension base="eca:DataObject">
        <xsd:sequence>
          <xsd:element name="policyInstanceData" type="ecaControlPolicyInstance:PolicyInstanceData_4"/>
          <xsd:element name="policyInstanceParamDataArray" type="ecaControlPolicyInstance:ArrayOfPolicyInstanceParamData_1" minOccurs="0" nillable="true"/>
          <xsd:element name="policyInstanceDiaryDataArray" type="ecaControlPolicyInstance:ArrayOfPolicyInstanceDiaryData_2" minOccurs="0" nillable="true"/>
          <xsd:element name="policyInstanceThresholdDataArray" type="ecaControlPolicyInstance:ArrayOfPolicyInstanceThresholdData_2" minOccurs="0" nillable="true"/>
       </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>



  <!-- Array Types -->
  <xsd:complexType name="ArrayOfNewPolicyDiaryData_1">
    <xsd:complexContent>
      <xsd:extension base="base:BaseStructure">
        <xsd:sequence>
          <xsd:element
            name="a"
            type="ecaControlPolicyInstance:NewPolicyDiaryData_1"
            minOccurs="0"
            maxOccurs="unbounded"
          />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ArrayOfNewPolicyDiaryData_2">
    <xsd:complexContent>
      <xsd:extension base="base:BaseStructure">
        <xsd:sequence>
          <xsd:element
            name="a"
            type="ecaControlPolicyInstance:NewPolicyDiaryData_2"
            minOccurs="0"
            maxOccurs="unbounded"
          />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ArrayOfNewPolicyInstanceActionThresholdData_1">
    <xsd:complexContent>
      <xsd:extension base="base:BaseStructure">
        <xsd:sequence>
          <xsd:element
            name="a"
            type="ecaControlPolicyInstance:NewPolicyInstanceActionThresholdData_1"
            minOccurs="0"
            maxOccurs="unbounded"
          />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ArrayOfNewPolicyInstanceActionThresholdData_2">
    <xsd:complexContent>
      <xsd:extension base="base:BaseStructure">
        <xsd:sequence>
          <xsd:element
            name="a"
            type="ecaControlPolicyInstance:NewPolicyInstanceActionThresholdData_2"
            minOccurs="0"
            maxOccurs="unbounded"
          />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ArrayOfNewPolicyParamData_1">
    <xsd:complexContent>
      <xsd:extension base="base:BaseStructure">
        <xsd:sequence>
          <xsd:element
            name="a"
            type="ecaControlPolicyInstance:NewPolicyParamData_1"
            minOccurs="0"
            maxOccurs="unbounded"
          />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ArrayOfPolicyActionLogData_1">
    <xsd:complexContent>
      <xsd:extension base="base:BaseStructure">
        <xsd:sequence>
          <xsd:element
            name="a"
            type="ecaControlPolicyInstance:PolicyActionLogData_1"
            minOccurs="0"
            maxOccurs="unbounded"
          />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ArrayOfPolicyCounterData_1">
    <xsd:complexContent>
      <xsd:extension base="base:BaseStructure">
        <xsd:sequence>
          <xsd:element
            name="a"
            type="ecaControlPolicyInstance:PolicyCounterData_1"
            minOccurs="0"
            maxOccurs="unbounded"
          />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ArrayOfPolicyCounterData_2">
    <xsd:complexContent>
      <xsd:extension base="base:BaseStructure">
        <xsd:sequence>
          <xsd:element
            name="a"
            type="ecaControlPolicyInstance:PolicyCounterData_2"
            minOccurs="0"
            maxOccurs="unbounded"
          />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ArrayOfPolicyCounterData_3">
    <xsd:complexContent>
      <xsd:extension base="base:BaseStructure">
        <xsd:sequence>
          <xsd:element
            name="a"
            type="ecaControlPolicyInstance:PolicyCounterData_3"
            minOccurs="0"
            maxOccurs="unbounded"
          />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ArrayOfPolicyInstanceData_1">
    <xsd:complexContent>
      <xsd:extension base="base:BaseStructure">
        <xsd:sequence>
          <xsd:element
            name="a"
            type="ecaControlPolicyInstance:PolicyInstanceData_1"
            minOccurs="0"
            maxOccurs="unbounded"
          />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ArrayOfPolicyInstanceData_2">
    <xsd:complexContent>
      <xsd:extension base="base:BaseStructure">
        <xsd:sequence>
          <xsd:element
            name="a"
            type="ecaControlPolicyInstance:PolicyInstanceData_2"
            minOccurs="0"
            maxOccurs="unbounded"
          />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ArrayOfPolicyInstanceData_3">
    <xsd:complexContent>
      <xsd:extension base="base:BaseStructure">
        <xsd:sequence>
          <xsd:element
            name="a"
            type="ecaControlPolicyInstance:PolicyInstanceData_3"
            minOccurs="0"
            maxOccurs="unbounded"
          />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ArrayOfPolicyInstanceData_4">
    <xsd:complexContent>
      <xsd:extension base="base:BaseStructure">
        <xsd:sequence>
          <xsd:element
            name="a"
            type="ecaControlPolicyInstance:PolicyInstanceData_4"
            minOccurs="0"
            maxOccurs="unbounded"
          />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ArrayOfPolicyInstanceDiaryData_1">
    <xsd:complexContent>
      <xsd:extension base="base:BaseStructure">
        <xsd:sequence>
          <xsd:element
            name="a"
            type="ecaControlPolicyInstance:PolicyInstanceDiaryData_1"
            minOccurs="0"
            maxOccurs="unbounded"
          />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ArrayOfPolicyInstanceDiaryData_2">
    <xsd:complexContent>
      <xsd:extension base="base:BaseStructure">
        <xsd:sequence>
          <xsd:element
            name="a"
            type="ecaControlPolicyInstance:PolicyInstanceDiaryData_2"
            minOccurs="0"
            maxOccurs="unbounded"
          />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ArrayOfPolicyInstanceParamData_1">
    <xsd:complexContent>
      <xsd:extension base="base:BaseStructure">
        <xsd:sequence>
          <xsd:element
            name="a"
            type="ecaControlPolicyInstance:PolicyInstanceParamData_1"
            minOccurs="0"
            maxOccurs="unbounded"
          />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ArrayOfPolicyInstanceThresholdData_1">
    <xsd:complexContent>
      <xsd:extension base="base:BaseStructure">
        <xsd:sequence>
          <xsd:element
            name="a"
            type="ecaControlPolicyInstance:PolicyInstanceThresholdData_1"
            minOccurs="0"
            maxOccurs="unbounded"
          />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ArrayOfPolicyInstanceThresholdData_2">
    <xsd:complexContent>
      <xsd:extension base="base:BaseStructure">
        <xsd:sequence>
          <xsd:element
            name="a"
            type="ecaControlPolicyInstance:PolicyInstanceThresholdData_2"
            minOccurs="0"
            maxOccurs="unbounded"
          />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ArrayOfPolicyParamMaintenanceData_1">
    <xsd:complexContent>
      <xsd:extension base="base:BaseStructure">
        <xsd:sequence>
          <xsd:element
            name="a"
            type="ecaControlPolicyInstance:PolicyParamMaintenanceData_1"
            minOccurs="0"
            maxOccurs="unbounded"
          />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>


</xsd:schema>

<!-- eof ECA_ControlPolicyInstance.xsd -->
